* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  height: 100%;
  max-height: 100%;
}

html {
  background: #fff;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  // font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 1em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body {
  background: #fff;
}

body {
  margin: 0;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

[tabindex="-1"] {
  outline: none;
}

aside,
footer,
header,
nav,
section {
  display: block;
}

html,
button,
input,
select {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}


a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a:not(.btn) {
  color: #0075b4;
}

a:visited:not(.btn) {
  color: #003655;
}

a:hover:not(.btn),
a:focus:not(.btn) {
  color: #0079bc;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 85%;
}

ul {
  padding: 0 0 0 40px;
  margin: 1em 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}




@media print {
  * {
    background: transparent;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  html,
  body {
    background: transparent !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media print {
  * {
    background: transparent;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  html,
  body {
    background: transparent !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
}

@media print {
  .nav-skip,
  .wrapper-footer {
    display: none;
  }
}

a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  pointer-events: none;
  outline: none;
  cursor: default;
}

.sr,
.sr-only,
.nav-skip {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal;
}

.sr,
.sr-only {
  background: #fff;
  color: #000;
}






// Navigation

#primary-nav {
  height: auto;
}
#primary-nav .gym-nav-icon-container:hover {
  background-color: transparent;
}
#primary-nav .navbar {
  height: auto;
  border: 0;
  margin: 0;
}
#primary-nav .navbar-nav > li > a {
  padding: 10px;
  margin-left: 4px;
  margin-top: 2px;
}
#primary-nav .nav li a {
  background-color: transparent;
  color: #f89820;
}
#primary-nav .nav li a .caret {
  color: #f89820;
}
#primary-nav .nav li a:hover {
  background-color: transparent;
  color: #ebebeb;
  border-bottom: none;
}
#primary-nav .nav li a:hover .caret {
  color: #ebebeb;
}
#primary-nav .navbar-right li > a {
  font: normal 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica,
    sans-serif;
}
#primary-nav #dropdown {
  display: inline-block;
  color: #f89820;
  border: none;
}
#primary-nav #dropdown:hover,
#primary-nav #dropdown:hover span,
#primary-nav #dropdown:hover span.caret {
  color: #f89820;
}
#primary-nav #dropdown-menu {
  display: none;
}
#primary-nav #dropdown-menu li {
  display: inline;
}
#primary-nav #dropdown-menu li a {
  color: white;
}
#primary-nav #dropdown-menu li a:hover {
  color: #f89820;
  text-decoration: none;
}
#primary-nav #dropdown-menu::before {
  display: inline-block;
  width: 0;
  height: 0;
  content: " ";
  line-height: 0;
  background: #000;
  padding: 0 0.2em;
  vertical-align: middle;
  border-top: 0.25em dashed transparent;
  border-left: 0.25em solid #f89820;
  border-bottom: 0.25em dashed transparent;
  margin-left: -0.8em;
}
#secondary-nav {
  height: 70px;
  background-color: #222;
  position: relative;
  z-index: 999;
}
#secondary-nav > .container {
  padding-top: 10px;
}
#secondary-nav a {
  font-size: 1.2em;
  color: #ebebeb;
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
}
#secondary-nav a:hover {
  color: #f89820;
  border-bottom: none;
}
#secondary-nav .navbar-brand {
  height: auto;
  padding: 0;
  margin-top: 1.75rem;
  margin-left: 15px;
}
#secondary-nav .navbar-brand:hover,
#secondary-nav .navbar-brand:active,
#secondary-nav .navbar-brand:link {
  background: transparent;
}
#secondary-nav .navbar-default {
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  background-color: #222;
  border-color: transparent;
  border: none;
  margin-bottom: 0;
  z-index: 100;
}
#secondary-nav .navbar-right {
  position: relative;
}
#secondary-nav .navbar-toggle {
  margin-top: 15px;
}
#secondary-nav .navbar-toggle:hover,
#secondary-nav .navbar-toggle:focus {
  border: 1px solid white;
}
@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    margin: 9px auto 10px;
  }
  #primary-nav .navbar-nav {
    margin-left: 15px;
    margin-right: 15px;
  }
  #secondary-nav .navbar-nav li:last-child {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    padding-left: 0;
    padding-right: 0;
  }
  #secondary-nav .navbar-right {
    margin-top: 3px;
  }
  #primary-nav .row,
  #secondary-nav .row {
    margin-left: auto;
    margin-right: auto;
  }
  #primary-nav .navbar,
  #secondary-nav .navbar {
    border-radius: 0;
    margin: 0;
  }
  #primary-nav .navbar-left {
    margin-left: 15px;
  }
  #primary-nav .navbar-right,
  #secondary-nav .navbar-right {
    margin-right: 15px;
  }
}

.caret {
  color: #999;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
.container-fluid:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
  clear: both;
}

header.global {
  margin: 0px;
  box-shadow: none;
  border: none;
  width: inherit;
  height: 120px;
  background-color: #222;
}
header.global .container {
  min-width: inherit;
}
header.global nav .container {
  background: transparent;
}

section {
  padding: 0px;
}



// Typography

p {
  color: inherit;
  margin: 0;
}

p {
  margin: 0 0 10px;
}

span {
  color: inherit;
  font: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}


// Lists
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}

// Containers/rows/columns

.container {
  box-sizing: border-box;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1180px;
    min-width: 760px;
    width: 100%;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}


// Form Components
form {
  margin: 0;
}

label {
  cursor: pointer;
}

button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted black;
}

button {
  border-radius: 3px;
  border: 1px solid #000663;
  border-bottom: 1px solid #00003a;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #2592c0;
  color: #fff;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #0075b4;
  background-image: -webkit-linear-gradient(
    top,
    #0075b4 0%,
    #004393 50%,
    #002a84 50%,
    #002f86 100%
  );
  background-image: linear-gradient(
    to bottom,
    #0075b4 0%,
    #004393 50%,
    #002a84 50%,
    #002f86 100%
  );
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #000042;
  font: normal 1.2rem/1.6rem "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  letter-spacing: 1px;
  padding: 4px 20px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

button {
  overflow: visible;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}


button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

button,
select {
  text-transform: none;
}

button,
optgroup,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

optgroup {
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}


// Visibility/Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.is-hidden {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.hide {
  display: none !important;
}

.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}


// Alignment classes
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}


// Footer
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c6c7;
  padding: 25px 10px 30px 10px;
  background: #fff;
  clear: both;
}
