@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg-webfont.010bf4d26b70.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg-webfont.705897ac8ade.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg_it-webfont.a048e1a2ba4a.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg_it-webfont.e3cd01108645.woff")
      format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld-webfont.f2069d035aac.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld-webfont.a05d93e37f29.woff")
      format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld_it-webfont.95fc67f8053e.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld_it-webfont.bae49154d300.woff")
      format("woff");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk-webfont.8886240de273.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk-webfont.aeb559fb9125.woff")
      format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk_it-webfont.33e8d7de2916.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk_it-webfont.94096809d8e8.woff")
      format("woff");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg-webfont.010bf4d26b70.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg-webfont.705897ac8ade.woff")
      format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg_it-webfont.a048e1a2ba4a.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_reg_it-webfont.e3cd01108645.woff")
      format("woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld-webfont.f2069d035aac.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld-webfont.a05d93e37f29.woff")
      format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld_it-webfont.95fc67f8053e.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_bld_it-webfont.bae49154d300.woff")
      format("woff");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk-webfont.8886240de273.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk-webfont.aeb559fb9125.woff")
      format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: brandon-grotesque;
  src: url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk_it-webfont.33e8d7de2916.woff2")
      format("woff2"),
    url("https://thegymnasium.com/static/gymnasium/fonts/brandon_blk_it-webfont.94096809d8e8.woff")
      format("woff");
  font-style: italic;
  font-weight: 900;
}
