---
---
@import 'variables';
@import 'mixins';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  // font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #222;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  max-height: 100%;
  background: #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  // font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  line-height: 1em;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

body {
  background: #fff;
}

body {
  margin: 0;
}

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

[tabindex="-1"] {
  outline: none;
}

// Resets
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

figure {
  margin: 0;
}

html,
button,
input,
select {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

// Links
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a:not(.btn) {
  color: #0075b4;
}

a:visited:not(.btn) {
  color: #003655;
}

a:hover:not(.btn),
a:focus:not(.btn) {
  color: #0079bc;
}

a:link,
a:visited,
a:link:visited,
a:active,
a:link:active {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}

a:hover,
a:visited:hover,
a:link:hover,
a:link:visited:hover,
a:active:hover,
a:link:active:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}

body a:focus {
  border-bottom: 0 none;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 85%;
}

ul {
  padding: 0 0 0 40px;
  margin: 1em 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

@media print {
  * {
    background: transparent;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  html,
  body {
    background: transparent !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media print {
  * {
    background: transparent;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  html,
  body {
    background: transparent !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2 {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  p {
    orphans: 3;
    widows: 3;
  }
  h2 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
}

@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }
}

@media print {
  .nav-skip,
  .wrapper-footer {
    display: none;
  }
}

@media print {
  a[href]::after {
    content: none !important;
  }
}

a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  pointer-events: none;
  outline: none;
  cursor: default;
}

.sr,
.sr-only,
.nav-skip {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  margin: -1px;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-wrap: normal;
}

.sr,
.sr-only {
  background: #fff;
  color: #000;
}

// Navigation
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul,
nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aquent-icon,
.vitamin-t-icon {
  width: 35px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position-x: center;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.aquent-icon:hover,
.vitamin-t-icon:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  background-color: transparent;
}
.aquent-icon {
  background-image: url("https://thegymnasium.com/static/gymnasium/images/aquent-icon.56d05be37e9a.png");
}
.vitamin-t-icon {
  background-image: url("https://thegymnasium.com/static/gymnasium/images/vitamin-t-icon.32e5d567b8ca.png");
}


.caret {
  color: $gym-light-gray;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px 15px;

      &:focus,
      &:hover {
        text-decoration: none;
        background-color: #eee;
      }
    }
  }
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  > img {
    display: block;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &:focus {
    outline: 0;
  }

  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;

    + .icon-bar {
      margin-top: 4px;
    }
  }
}


@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;

  > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;

    > li {
      float: left;

      > a {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;

  .navbar-brand {
    color: #777;

    &:focus,
    &:hover {
      color: #5e5e5e;
      background-color: transparent;
    }
  }

  .navbar-nav > li > a {
    color: #777;
  }
  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover {
    color: #333;
    background-color: transparent;
  }
  .navbar-toggle {
    border-color: #ddd;
  }
  .navbar-toggle:focus,
  .navbar-toggle:hover {
    background-color: #ddd;
  }
  .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar-collapse {
    border-color: #e7e7e7;
  }
}

#primary-nav {
  height: auto;

  .gym-nav-icon-container:hover {
    background-color: transparent;
  }

  .navbar {
    height: auto;
    border: 0;
    margin: 0;
  }

  .navbar-nav > li > a {
    padding: 10px;
    margin-left: 4px;
    margin-top: 2px;
  }

  .nav li a {
    background-color: transparent;
    color: $gym-orange;

    .caret {
      color: $gym-orange;
    }
  }

  .nav li a:hover {
    //odd specificity to overwrite bootstrap defaults
    background-color: transparent;
    color: $gym-white;
    border-bottom: none;

    .caret {
      color: $gym-white;
    }
  }

  .nav li.dropdown.open {
    background-color: white;
    a {
      color: $gym-orange;
    }
    a:hover .caret {
      color: $gym-orange;
    }

    .dropdown-menu {
      border: none;
      a:hover {
        color: $gym-black;
      }
    }

    .logged-in-username {
      color: #f89820;
    }
  }

  .navbar-right {
    li > a {
      font: normal 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica,
        sans-serif;
    }
  }

  #dropdown {
    display: inline-block;
    color: $gym-orange;
    border: none;
  }

  #dropdown:hover,
  #dropdown:hover span,
  #dropdown:hover span.caret {
    color: $gym-orange;
  }

  #dropdown:hover #dropdown:link:hover {
    color: $gym-orange;
    border: none;
  }

  #dropdown-menu {
    display: none;

    li {
      display: inline;

      a {
        color: white;
      }

      a:hover,
      anchor:link:hover {
        color: $gym-orange;
        text-decoration: none;
      }
    }
  }

  #dropdown-menu::before {
    display: inline-block;
    width: 0;
    height: 0;
    content: " ";
    line-height: 0;
    background: #000;
    padding: 0 0.2em;
    vertical-align: middle;
    border-top: 0.25em dashed transparent;
    border-left: 0.25em solid #f89820;
    border-bottom: 0.25em dashed transparent;
    margin-left: -0.8em;
  }
}
#secondary-nav {
  height: 70px;
  background-color: $gym-black;
  position: relative;
  z-index: 999;

  > .container {
    padding-top: 10px;
  }

  a {
    font-size: 1.2em;
    color: $gym-white;
    font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;

    &.gym-button {
      color: white;
    }
  }

  a:hover {
    color: $gym-orange;
    border-bottom: none;
  }

  .navbar-brand {
    height: auto;
    padding: 0;
    margin-top: 1.75rem;
    margin-left: 15px;
  }

  .navbar-brand:hover,
  .navbar-brand:active,
  .navbar-brand:link {
    background: transparent;
  }

  .navbar-default {
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    background-color: $gym-black;
    border-color: transparent;
    border: none;
    margin-bottom: 0;
    z-index: 100;
  }

  .navbar-right {
    position: relative;
    // top: 6px;
  }

  .navbar-toggle {
    margin-top: 15px;

    &:hover,
    &:focus {
      border: 1px solid white;
    }
  }
}
@media (max-width: 767px) {
  .navbar-default {
    .navbar-collapse,
    .navbar-form {
      margin: 9px auto 10px;
    }
  }

  #primary-nav .navbar-nav {
    margin-left: 15px;
    margin-right: 15px;
  }

  #secondary-nav .navbar-nav {
    li {
      &:last-child {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
  }
}
@media (min-width: 768px) {
  .navbar-collapse.collapse {
    padding-left: 0;
    padding-right: 0;
  }

  #secondary-nav {
    .navbar-right {
      margin-top: 3px;
    }
  }

  #primary-nav,
  #secondary-nav {
    .row {
      margin-left: auto;
      margin-right: auto;
    }
    .navbar {
      border-radius: 0;
      margin: 0;

      &.collapse {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .navbar-left {
      margin-left: 15px;
    }

    .navbar-right {
      margin-right: 15px;
    }
  }
}






.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
.container-fluid:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
  clear: both;
}

header.global {
  margin: 0px;
  box-shadow: none;
  border: none;
  width: inherit;
  height: 120px;
  background-color: #222;
}
header.global .container {
  min-width: inherit;
}
header.global nav .container {
  background: transparent;
}

section {
  padding: 0px;
}

// Typography

p {
  color: inherit;
  margin: 0 0 10px;
}

p {
  font-family: "Helvetica Neue";
}

span {
  color: inherit;
  font: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

pre,
code {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

// Lists
ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul,
ol {
  padding: 0 0 0 40px;
  margin: 1em 0;
}
ul ul {
  margin-bottom: 0;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
dd {
  margin: 0 0 0 40px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dd,
dt {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}

// Containers/rows/columns
.collapse {
  display: none;
}

.container {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1180px;
    min-width: 0;
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

// Bootstrap Columns
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

// Content Wrappers
.content-wrapper {
  max-width: 1920px;
  margin-top: 20px;
  padding: 0 0 10px;
}
@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 20px 10px;
  }
}
@media print {
  .content-wrapper {
    padding-bottom: 0;
  }
}

.content-wrapper#content {
  padding-bottom: 1em;
  background-color: #ebebeb;
}

// Form Components
form {
  margin: 0;
  font-size: 1em;
}

label {
  cursor: pointer;
}

button,
input,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted black;
}

button {
  border-radius: 3px;
  border: 1px solid #000663;
  border-bottom: 1px solid #00003a;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #2592c0;
  color: #fff;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #0075b4;
  background-image: -webkit-linear-gradient(
    top,
    #0075b4 0%,
    #004393 50%,
    #002a84 50%,
    #002f86 100%
  );
  background-image: linear-gradient(
    to bottom,
    #0075b4 0%,
    #004393 50%,
    #002a84 50%,
    #002f86 100%
  );
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #000042;
  font: normal 1.2rem/1.6rem "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  letter-spacing: 1px;
  padding: 4px 20px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}

button {
  overflow: visible;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

button,
select {
  text-transform: none;
}

button,
optgroup,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}

button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button {
  line-height: normal;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Buttons
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:active:focus,
.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.gym-button:link,
.gym-button:visited {
  color: white;
  font-family: brandon-grotesque;
}
.gym-button,
a.gym-button,
a.gym-button:link {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 0.125em;
  background-color: #f89820;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
}
.gym-button b,
a.gym-button b,
a.gym-button:link b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  color: white;
}
body .gym-button:hover,
body .gym-button:active,
body .gym-button:active:hover,
body a.gym-button:hover,
body a.gym-button:active,
body a.gym-button:active:hover,
body a:visited.gym-button:hover,
body a:link.gym-button:hover,
body a:link:visited.gym-button:hover {
  background-color: #a6a6a6;
  color: white;
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: white;
  font-family: brandon-grotesque;
}
.gym-button:focus,
.gym-button:active {
  text-decoration: none !important;
  background: #939393;
}
.gym-button b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  vertical-align: bottom;
}

// Visibility/Accessibility
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

.is-hidden {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.hide {
  display: none !important;
}

[hidden] {
  display: none;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.nav-skip {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -600px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #fcfcfc;
  padding: 15px 0;

  &:focus,
  &:active {
    left: 45%;
    margin-left: -30px;
    position: absolute;
    top: 5px;
    width: 10%;
    height: auto;
    background-color: black;
    margin: 0;
    opacity: 0.8;
    color: white !important;
    text-decoration: none !important;
    outline: none;
    text-align: center;
  }
}

@media (max-width: 991px) {
  .nav-skip:focus,
  .nav-skip:active {
    left: 40%;
    width: 20%;
  }
}

// Alignment classes
.text-center {
  text-align: center;
}

// Modal
.modal {
  display: none;
  position: absolute;
  left: 50%;
  padding: 8px;
  width: 480px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background: #313131;
  color: #313131;
}
.modal .inner-wrapper {
  background: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal .inner-wrapper header {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 28px 20px 0;
  position: relative;
}
.modal .inner-wrapper header::before {
  content: "";
  display: block;
  height: 400px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: -140px;
  width: 100%;
  z-index: 1;
}
.modal .inner-wrapper header h2 {
  position: relative;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
.modal .inner-wrapper form {
  margin-bottom: 12px;
  padding: 0 40px 20px;
  position: relative;
  z-index: 2;
}
.modal .inner-wrapper form label {
  color: #313131;
}
.modal .inner-wrapper form input[type="text"] {
  background: #fff;
  display: block;
  height: 45px;
  margin-bottom: 20px;
  width: 100%;
}
.modal .inner-wrapper form .submit {
  padding-top: 10px;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal,
.modal .inner-wrapper,
.modal .inner-wrapper header {
  z-index: 10;
}

.modal .inner-wrapper header hr::after {
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(200, 200, 200, 0) 0%,
    #c8c8c8 50%,
    rgba(200, 200, 200, 0)
  );
  background-image: linear-gradient(
    180deg,
    rgba(200, 200, 200, 0) 0%,
    #c8c8c8 50%,
    rgba(200, 200, 200, 0)
  );
  height: 1px;
  width: 100%;
}
.modal .inner-wrapper header hr {
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  height: 1px;
  width: 100%;
}
.close-modal,
button.close-modal {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  text-shadow: none !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
}

.dialog {
  position: relative;
  top: 10%;
  width: 37em;
  background: #fff;
  padding: 1.2em;
  border: 1.2em solid #444;
  border-radius: 0.125em;
  margin: auto;

  legend {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1.2em;

    b {
      font: 900 1.6em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
      color: #222;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      text-transform: uppercase;
    }
  }

  .error {
    background: #f2dede;
    padding: 1em;
    border: 1px solid #d9534f;
    border-radius: 0.12em;
    margin-bottom: 1.2em;
    font-size: 1em;
    color: #d9534f;
    font-weight: bold;
  }

  p {
    font: 0.9em/1.4 "Helvetica Neue", Helvetica, sans-serif;
    color: #444;
    letter-spacing: 0.01em;
  }

  fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li,
  ul li,
  ul li:last-child {
    border-bottom: 0.15em solid #f89820;
    margin-bottom: 1.2em;
    box-sizing: border-box;
  }
  form label,
  form input {
    display: block;
  }
  form label {
    font: 1.1em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
    color: #222;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
    text-transform: uppercase;
  }
  form input {
    background: none;
    border: none;
    box-shadow: none;
    font: 1em/1 "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border: 0;
    margin-top: 0.3em;
    box-sizing: border-box;
  }

  .message {
    padding-right: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 1.2em;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1.2em;
  }
  ul + .message {
    padding-bottom: 0;
    border-bottom: 0;
  }
  form button {
    margin-top: 1.2em;
  }
}

.close-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.2em;

  b {
    font: bold 0.8em/1.3 "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.1em;
    word-spacing: normal;
    text-transform: uppercase;
    padding: 0.7em 1.5em;
    border-radius: 0 0 0.27em 0.27em;
  }

  &-content {
    width: auto;
    padding: 0.3em 1em;
    border: 0;
    border-radius: 0 0 0.125em 0.125em;
    margin-top: -1.2em;
  }
}

// Footer
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #c5c6c7;
  padding: 25px 10px 30px 10px;
  clear: both;

  margin-top: 0;
  background-color: #222;
  border-top: 10px solid rgba(248, 151, 32, 0.9);
  color: white;
  min-height: 170px;

  footer {
    .copyright {
      text-align: center;
      margin-top: 1em;
      a {
        color: #f89820 !important;
      }
    }

    .gymnasium-logo {
      height: 50px;
      margin-top: 15px;
      margin-left: 5px;
    }
    .footer-link-list {
      margin-top: 30px;

      li {
        border-right: 1px solid #444;
        height: 100%;
        padding-right: 8px;

        a,
        a:link {
          color: white;
          font-family: "brandon-grotesque";
        }

        a:hover {
          color: #f89820;
          text-decoration: none;
          border: 0;
        }

        &:last-child {
          border-right: 0px;
        }
      }
    }

  }
}
