---
---

@import "variables";
@import "mixins";

// --- reset/rescale Bootstrap (3) handiwork ---

.featured-course .card-main,
.featured-course .instructor,
.about-featured-courses .description {
  font-size: 114.2857142857143%;
}

// --- course type(s) ---
.list-featured-courses {
  .design-development {
    background-color: $gym-magenta;
  }

  .development {
    background-color: $gym-purple;
  }

  .prototyping,
  .user-experience {
    background-color: $gym-teal;
  }

  .career-skills,
  .content-creation {
    background-color: $gym-green;
  }
}

.featured-course {
  .course-type {
    position: relative;
    top: -0.4em;
    font: bold 0.85em/1.15 $gym-font-stack;
    color: $gym-white;
    letter-spacing: 0.075em;
    word-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
  }

  // --- artwork mask ---
  .mask {
    display: block;
    text-align: center;
    overflow: hidden;

    img {
      width: auto;
      max-width: 90%;
      height: auto;
      vertical-align: middle;
      margin: -3.5% 0 -1.5%;
    }
  }
}

// --- typography ---

.list-featured-courses .featured-course header h2 {
  font: 900 1.6em/1.2 $gym-font-stack;
  color: $gym-white;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.featured-course header h2 a,
.featured-course header h2 a:hover,
.featured-course header h2 a:focus,
.featured-course header h2 a:active {
  font: inherit;
  text-decoration: none;
}

.featured-course header p {
  font: 500 1.1em/1.4 $gym-font-stack;
  color: $gym-white;
  letter-spacing: 0.05em;
  margin: 0.5em 0 0;
}

.featured-course .instructor {
  padding-bottom: 1.2em;
  border-bottom: 1px dashed $gym-dark-gray;
  margin-top: 0;
  margin-bottom: 0;
}

.featured-course .instructor dd {
  margin-left: 0;
}

.featured-course .instructor dt,
.featured-course .instructor dd {
  font: normal 1.0625em/1.25 $gym-text-font-stack;
}

// --- call-to-action / featured courses ---

.about-featured-courses .cta {
  text-align: center;
  padding: 1.2em;
}

// --- about / featured courses ---

.about-featured-courses {
  margin: 2.2em 5% -1.8em;

  @include breakpoint(large, min) {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  .description p {
    font: bold 1.6em/1.4 $gym-font-stack;
    color: $gym-dark-gray !important; // !
    margin-bottom: 0;
  }
}

// --- typographic details ---


// --- card ---

.card {
  border: 1px solid $gym-gray;

  &-main {
    padding: 1.2em;
  }

  &-footer {
    background: $gym-white;
  }

  &-info {
    padding: 1.2em 1.2em 0;
  }

  &-cta {
    text-align: center;
    padding: 1.2em;

    a {
      display: inline-block;
      padding: 1.2em 2.2em;
      border-radius: 0.1875em;
    }
  }
}

@include grid-support;

// --- cards (grid) ---
@supports (display: grid) {
  .card {
    display: inherit;
  }

  .card-footer {
    align-self: end;
  }
}

// --- gym-button ---
.section-featured-courses {
  .gym-button {
    display: inline-block;
    width: auto !important; // !
    padding: 1em 2em !important; // !

    b {
      color: $gym-white !important; // !
    }
  }
}

// --- overrides ---

.list-featured-courses a:hover {
  border-bottom: 0 !important;
}

.featured-course header * {
  color: $gym-white !important;
}
