---
---

@import 'variables';

:root {
  /** colors **/
  --gym-orange: $gym-orange;
  --gym-black: $gym-black;
  --gym-white: $gym-white;
  --gym-gray: $gym-gray;
  --gym-dark-gray: $gym-dark-gray;
  --gym-light-gray: $gym-light-gray;
  --gym-light-page-background: $gym-light-page-background;

  /** typefaces */
  --gym-font-stack: $gym-font-stack;
  --gym-font-stack-text: $gym-font-stack-text;
}

#contentinfo {
  font-size: 16px;
  color: var(--gym-white);
  background-color: var(--gym-black);
  padding: 5px 10px 30px 10px;
  margin: 0 auto;

  h2 {
    font-family: var(--gym-font-stack);
    font-size: 1em;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 0;
  }

  .all-caps {
    text-transform: uppercase;
  }

  .gym-brand {
    margin-bottom: 1em;
  }
  
  .gymnasium-logo {
    width: 12.5em;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }
  
  .gym-brand p {
    width: 95%;
    font-size: 1em;
    line-height: 1.55;
    margin-top: 1.2em;
  }
  
  .resources {
    clear: left;
  }
  
  @media (min-width: 62em) {
    .resources {
      clear: none;
    }
  }
  
  .footer-link-list {
    padding-top: 0.625em;
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  
  ul {
    list-style-type: "";
    padding-left: 0;
    margin-top: 0.95em;
    margin-left: 0;
  }
  
  ul ::marker {
    color: transparent;
  }
  
  li {
    line-height: 1.35;
    height: auto;
    padding-right: 0;
    border-right: 0;
    margin-top: 0.6em;
  }
  
  li a {
    color: var(--gym-white);
  }
  
  a:hover,
  a:focus,
  a:active {
    color: var(--gym-orange);
    border-bottom: 0;
  }

  .open-edx-logo {
    height: auto;
  }
  
  .copyright {
    text-align: left;
  }
  
  .copyright small {
    font-size: 80%;
  }
}

#social {
  li {
    position: relative;
  }
  
  a[data-title] {
    display: inline-block;

    &:hover {
      padding-right: 6ch;
    }
    
    &:hover::after,
    &:focus::after,
    &:active::after {
      display: inline;
      position: absolute;
      top: 0;
      left: 2em;
      content: attr(data-title);
      color: var(--gym-orange);
      line-height: 1.8;
    }
  }
}
