---
---
@import 'variables';
@import 'mixins';

.all-caps {
  text-transform: uppercase;
}

.break {
  display: block;
}

.no-wrap {
  white-space: nowrap;
}

.hero-promo {
  font-size: 16px;
  background-color: #263441;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;

  .container {
    padding-bottom: 45px;
  }
  
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  .hero-text-content {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .ux-display-text {
    display: inline-block;
    margin-left: -6px;

    &::before {
      display: inline-block;
      content: "UX";
      font-weight: 900;
      line-height: .85;
      font-size: 12em;
      font-family: $gym-font-stack;
      color: $gym-teal;
      text-shadow: .075em 0 0 $gym-black;
    }
  }
  
  header {
    max-width: 40em;

    h1,
    h2,
    h3,
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
    
    h1 {
      font-size: 2.5em;
      color: $gym-teal;
      margin-top: -.05em;
      margin-bottom: -.05em;
    }
    
    h2,
    h3 {
      font: 900 1.6em/1.4 $gym-font-stack;
      color: $gym-black;
      letter-spacing: .05em;
      margin-bottom: .8em;
    }
    
    h3 {
      margin-top: .8em;
    }
    
    p {
      font: normal 1.4em/1.4 $gym-text-font-stack;
      color: $gym-light-page-background;
      margin-top: 1em;

      b {
        color: $gym-white;
      }
    }
  }

  @include breakpoint(22em, min) {
    .ux-display-text::before {
      font-size: 14em;
    }
  }
  
  @include breakpoint(26em, min) {
  
    .ux-display-text::before {
      font-size: 16em;
    }
  }
  
  @include breakpoint(32em, min) {
  
    .ux-display-text {
      margin-bottom: -12px;
    }
  
    .ux-display-text::before {
      font-size: 20em;
    }
  
  }
  
  @include breakpoint(medium, min) {
  
    .container {
      padding-top: 2%;
      padding-bottom: 2.5%;
    }
  
    .hero-text-content {
      padding-left: 0;
      padding-right: 0;
    }
  
    .v-center {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-right: -4px;
    }
  
    .ux-display-text {
      margin-left: -2em;
    }
  
    .ux-display-text::before {
      font-size: 22em;
    }
  
    header {
      margin-top: -30px;
    }
  
  }
  @include breakpoint(62em, min) {
    @include breakpoint(75em, max) {
      .ux-display-text {
        margin-bottom: 0;
      }
    
      .col-md-5 {
        width: 50%;
      }
    
      .col-md-7 {
        width: 50%;
      }
    }
  }
  
  @include breakpoint(large, min) {
  
    .container {
      padding-top: 0;
      padding-bottom: 10px;
    }
  
    .hero-text-content {
      margin-left: 1.2em;
    }
  
    .ux-display-text::before {
      font-size: 32em;
    }
  
    header {
      margin-top: -45px;
    }
  
  }
  
  .cta {
    margin-top: 2em;
  }
  
  a.gym-button-secondary {
    font-size: 105%;
    width: auto;
    color: $gym-white !important;
    border: 2px solid $gym-white !important;
    padding: 1.2em 1.6em !important;
    vertical-align: bottom;
  }

}

a.gym-button-secondary:hover,
a.gym-button-secondary:focus,
a.gym-button-secondary:active {
  color: $gym-white !important;
  border: 2px solid $gym-white !important;
}
