.home {
  background: none;
  }

.promo-net-neutrality {
  background-color: #171629;
  background-image: url("https://www.battleforthenet.com/images/v2-bg-noise.png");
  }

.header-net-neutrality {
  font-size: 114.2857142857143%;
  padding: 1.6em 0;
  }

.header-net-neutrality,
.header-net-neutrality h1 {
  text-align: center;
 }

.header-net-neutrality h1 {
  font-size: 3em;
  color: #fff;
  line-height: 1.15;
  margin-bottom: 0;
  margin-bottom: 0;
  }

.header-net-neutrality .all-caps {
  font: 900 1.4em/1.2 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fd4935;
  text-transform: uppercase;
  letter-spacing: .05em;
  }

.header-net-neutrality .no-wrap {
  white-space: nowrap;
  }


@media (min-width: 48em) {

.header-net-neutrality .all-caps {
  font-size: 1.6em;
  }

.header-net-neutrality h1 {
  font-size: 4.8em;
  }

}

.promo-net-neutrality .cta {
  text-align: center;
  padding: 0 1.2em 4.2em;
  }

.promo-net-neutrality .cta .gym-button {
  font-size: 114.2857142857143%;
  }

.promo-net-neutrality .cta .gym-button  {
  display: inline-block;
  color: #fff;
  width: auto !important; /* dangerous override */
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: #222;
  padding: 1em 2em !important; /* dangerous override */
  border: 2px solid #fff;;
  border-radius: 2px;
  margin: 0 -1em;
  cursor: pointer;
  }

.promo-net-neutrality .cta .gym-button:hover,
.promo-net-neutrality .cta .gym-button:focus,
.promo-net-neutrality .cta .gym-button:active {
  background: none;
  border: 2px solid #fff;
  }

.cta .gym-button b {
  font: bold 1.4em/1.15 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .02em;
  vertical-align: baseline;
  }
