---
---
@import 'variables';
@import 'mixins';

#hero-dfg-2020 {
  background: #825a43 no-repeat left center / cover;
  background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-720w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
  padding-top: 15px;
  padding-bottom: 15px;
  transition: padding-top .25s ease-in-out, padding-bottom .25s ease-in-out;
}

.hero-promo .content {
  padding-left: 15px;
  padding-right: 15px;;
}

.hero-promo header {
  position: relative;
  z-index: 1;
  background-color: $gym-white;
  background-color: rgba(255, 255, 255, .85);
  transition: background-color .5s ease-in-out;
  padding: 2.4em;
  margin-top: 0;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.hero-promo header h1 {
  font-family: Poppins, "Arial Black", Gadget, sans-serif;
  font-weight: bold;
  font-size: 3.428571428571429em;
  line-height: 1.1;
  color: #333;
  letter-spacing: 0;
  word-spacing: -.015em;
  margin-top: -.125em;
  margin-bottom: -.125em;
}

.hero-promo header h1::after {
  display: block;
  content: "";
  width: 100%;
  height: 0;
  background: #825a43 no-repeat center center / cover;
  background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-720w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
  padding-bottom: 50%;
  margin-top: .5em;
  margin-bottom: .5em;
  transition: padding-bottom .25s ease-in-out;
}

.hero-promo .content .date {
  display: inline-block;
  color: #ff5f14;
}

.hero-promo p {
  font-size: 1.142857142857143em;
  line-height: 1.45;
  color: #333;
  margin-top: .525em;
}

.hero-promo .cta {
  margin-top: 2em;
}

@include breakpoint(36em, min) {

  #hero-dfg-2020 {
    padding-top: 1.75em;
    padding-bottom: 1.75em;
  }

  .hero-promo header {
    max-width: 40em;
  }

}

@include breakpoint(48em, min) {

  #hero-dfg-2020 {
    background: #825a43 no-repeat center center / cover;
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-1440w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .hero-promo header {
    float: left;
    width: 34em;
  }

  .hero-promo .content .date {
    display: inherit;
  }

  .hero-promo header h1::after {
    padding-bottom: 0;
    background: transparent none;
  }

}

@media
(min-width: 76em),
(min-width: 76em) and
(min-resolution: 200dpi),
(min-width: 76em) and
(min-resolution: 1.25dppx) {

  #hero-dfg-2020 {
    background: #825a43 no-repeat center center / cover;
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-2000w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
  }

}

.hero-promo a.gym-button-secondary {
  width: auto !important;
  background-color: #009cde;
  padding-left: 2.2em;
  padding-right: 2.2em;
  vertical-align: bottom;
}

.hero-promo a.gym-button-secondary b {
  color: $gym-white !important;
}

.hero-promo .no-wrap {
  white-space: nowrap;
}
