.all-caps {
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}

.blue-beanie-day {
  background-color: #00aeef;
  background-image: linear-gradient(to top, #00aeef 0%, #007fae 99%, #007fae 100%);
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.blue-beanie-day .content {
  font-size: 114.2857142857143%;
}

.blue-beanie-day header {
  position: relative;
  z-index: 1;
  padding-top: 15px;
}

.blue-beanie-day header h1,
.blue-beanie-day header h2,
.blue-beanie-day header p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.blue-beanie-day header h1 {
  font-size: 2.25em;
  color: #fff;
}

.blue-beanie-day header h2 {
  font: 900 1.6em/1.4 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  letter-spacing: .05em;
}

.blue-beanie-day header s {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.blue-beanie-day header s:after {
  display: inline-block;
  position: absolute;
  top: 54%;
  left: -11.5%;
  content: "";
  width: 120%;
  border-top: .15em solid #f8971d;
  margin-top: -.15em;
  transform: rotate(10deg);
}

.blue-beanie-day header p {
  font: normal 1em/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 1.2em;
}

#blue-beanie-gang {
  position: relative;
  top: 0;
  z-index: -1;
  display: block;
  height: 0;
  padding-bottom: 28.75%;
  margin: 1em auto 0;
}

#blue-beanie-gang img {
  display: block;
  position: relative;
  width: auto;
  max-width: 66.666666666666667%;
  height: auto;
  margin: 0 auto;
  animation: sway 24s cubic-bezier(0.420, 0.000, 0.580, 1.000) 5s infinite alternate;
}

@keyframes sway {

  0% {
    left: 0;
  }

  20% {
    left: 7.5%;
    max-width: 68%;
  }

  50% {
    left: 0;
    max-width: 66.666666666666667%;
  }

  80% {
    left: -7.5%;
    max-width: 68%;
  }

  100% {
    left: 0;
    max-width: 66.666666666666667%;
  }

}

.blue-beanie-day .cta {
  text-align: center;
  margin-top: 1.6em;
}

.blue-beanie-day a.gym-button-secondary {
  width: auto;
  color: #222 !important;
  background-color: #00aeef !important;
  border: 2px solid #222 !important;
  padding: 1.2em 1.6em !important;
  vertical-align: bottom;
}

a.gym-button-secondary:hover,
a.gym-button-secondary:focus,
a.gym-button-secondary:active {
  color: #fff !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
}
