---
---

.hero-promo-webinar {
  position: relative;
  font-size: 16px;
  background-color: #d73158;
  transition: background-color ease .5s;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
}

.hero-promo-webinar .content {
  max-width: 48em;
  padding: .6em 5.25%;
}

@media (min-width: 60em) {

  .hero-promo-webinar {
    background-color: #666;
  }

  .hero-promo-webinar .content {
    position: relative;
    top: 1em;
    background-color: #d73158;
    padding: 1.6em 5.25% 1.4em;
    border: 1.8em solid #181818;
    border-bottom: 0;
    border-radius: 1em 1em 0 0;
    margin: 0 auto;
    z-index: 0;
  }

}

@media (min-width: 70em) {

  .hero-promo-webinar .content {
    position: relative;
    left: -12.5%;
    z-index: 0;
  }

}

.hero-promo-webinar article {
  padding: 0 0 2.8em;
}

.hero-promo-webinar header h1,
.hero-promo-webinar header h2,
.hero-promo-webinar header h3,
.hero-promo-webinar header p {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-promo-webinar header h1 {
  font-size: 2.5em;
  color: #fff;
  margin-top: -.05em;
  margin-bottom: -.05em;
}

.hero-promo-webinar header h2,
.hero-promo-webinar header h3 {
  font: 900 1.6em/1.25 "brandon-grotesque", "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: .05em;
  margin-bottom: .8em;
}

.hero-promo-webinar header h3 {
  margin-top: .8em;
}

.hero-promo-webinar header p {
  max-width: 28em;
  font: normal 1.15em/1.35 "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

.hero-promo-webinar img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero-promo-webinar .all-caps {
  text-transform: uppercase;
}

.hero-promo-webinar .break {
  display: block;
}

.hero-promo-webinar .no-wrap {
  white-space: nowrap;
}

.hero-promo-webinar .content::before,
.hero-promo-webinar .content::after {
  position: absolute;
  bottom: -100em;
  content: "";
  z-index: 1;
  transition: bottom ease 1.25s;
}

@media (min-width: 70em) {

  .hero-promo-webinar .content::before {
    position: absolute;
    bottom: -.8em;
    left: -13.25em;
    width: 14.75em;
    height: 22.75em;
    background: #fff no-repeat center center / cover;
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-webinar-05-2020/ala-306-rwd-2010-20-720w.png");
    border: .8em solid #222;
    border-top-width: 1.4em;
    border-radius: .8em;
  }

  .hero-promo-webinar .content::after {
    bottom: -1.4em;
    right: -31.5em;
    width: 36.375em;
    height: 26.375em;
    background: #fff no-repeat center left / cover;
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-webinar-05-2020/ethanmarcotte-2020-1080w.jpg");
    border: 1.4em solid #222;
    border-top-width: 1.8em;
    border-radius: 1em;
  }

}

.hero-promo-webinar .cta {
  margin-top: 1.6em;
}

.hero-promo-webinar a.gym-button-secondary {
  font-size: 105%;
  width: auto;
  color: #fff !important;
  border: 2px solid #fff !important;
  padding: 1.2em 2em !important;
  vertical-align: bottom;
}

.hero-promo-webinar a.gym-button-secondary:hover,
.hero-promo-webinar a.gym-button-secondary:focus,
.hero-promo-webinar a.gym-button-secondary:active {
  color: #fff !important;
  border: 2px solid #fff !important;
}
