---
---

.dark-mode-sketch {
  background-color: #263441;
  padding: 0;
}

.ux-design-text {
  color: #5ca5a0;
}

.block {
  display: block;
}

[hidden] {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}

.hero-promo .container {
  max-width: 76em;
  padding: 1.2em 0 0;
  overflow: hidden;
}

.hero-promo .row {
  margin: 1.2% 5% 0;
}

.hero-promo header h1 {
  color: #fff;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 34em) {

  .hero-promo header h1 > .no-wrap {
    white-space: normal;
  }

}

.hero-promo figure {
  position: relative;
  height: 0;
  background-color: #ebebeb;
  padding-bottom: 60%;
  border-radius: .375em;
  margin-top: 1.8em;
  margin-left: -6%;
  margin-right: -6%;
  overflow: hidden;
}

.hero-promo figure::before {
  display: block;
  bottom: -70%;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(to bottom, transparent, #263441 100%);
}

.hero-promo img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.hero-promo .hero-image {
  width: 160%;
  max-width: none;
  margin-left: -30%;
}

.hero-promo img.fragment-l,
.hero-promo img.fragment-r {
  display: none;
}


@media (min-width: 48em) {

  .hero-promo .container {
    padding: 1.2em 0 2.8em;
    overflow: visible;
  }

  .hero-promo .row {
    margin: 1.2% 5%;
  }

  .hero-promo figure {
    padding-bottom: 42.6%;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
  }

  .hero-promo figure::before {
    display: none;
  }

  .hero-promo img {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .hero-promo .hero-image {
    width: auto;
    max-width: 100%;
    margin-left: 0;
  }

  .hero-promo img.fragment {
    display: inherit;
    position: absolute;
    z-index: 0;
    top: 7.5%;
    height: 85%;
    opacity: .65;
    mix-blend-mode: overlay;
    pointer-events: none;
    }

  .hero-promo img.fragment-l {
    left: -4%;
    }

  .hero-promo img.fragment-r {
    right: -4%;
    }

}

@media (max-width: 30em) {

  .dark-mode-sketch a.gym-button-secondary {
    width: 100% !important;
  }

}

.hero-promo .cta {
  margin-top: 1.2em;
}

@media (min-width: 48em) {

  .hero-promo header {
    overflow: hidden;
  }

  .hero-promo header h1 {
    float: left;
    width: 66.666666666666667%;
    !border: 1px solid #fff;
  }

  .hero-promo .cta {
    float: right;
    position: relative;
    top: 4.05em;
    margin-top: 0;
  }

  .hero-promo figure {
    margin-top: 1.2em;
  }

}

@media (min-width: 80em) {

  .hero-promo header h1 {
    width: auto;
  }

  .hero-promo .cta {
    top: 1em;
  }

}

.dark-mode-sketch a.gym-button-secondary {
  width: auto;
  color: #75b3af !important;
  background-color: transparent !important;
  border: 2px solid #75b3af !important;
  padding: 1.2em 1.6em !important;
  vertical-align: bottom;
}

a.gym-button-secondary:hover,
a.gym-button-secondary:focus,
a.gym-button-secondary:active {
  color: #fff !important;
  border: 2px solid #fff !important;
}
