---
---
@import 'variables';
@import 'mixins';

@include initial-resets;

/* --- typography --- */

#main {

  /* headings / margin reset */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $gym-black;
    line-height: 1.15;
    letter-spacing: 0.015em;
    margin-top: 0;
    margin-bottom: 0;
  }

  h3 {
    text-transform: none;
  }

  /* paragraphs */
  p {
    font: normal 1.15em/1.45 $gym-font-stack-text;
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

  .main-content p {
    color: #555;
  }

  /* typographical details */
  .all-caps {
    text-transform: uppercase;
  }

  .no-wrap {
    color: inherit;
    white-space: nowrap;
  }
}


#featured h3 {
  letter-spacing: .035em;
}

/* --- web development palette --- */

.bg-web-development,
.featured-course .bg-web-developement {
  background-color: $gym-magenta;
}

/* --- web development lang palette --- */

.bg-web-development-lang,
.featured-course .bg-web-developement-lang {
  background-color: $gym-purple;
}

/* --- ux / prototyping color palette --- */

.bg-ux-design,
.featured-course .ux-design {
  background: $gym-teal;
}

/* --- career skills color palette --- */

.bg-career-skills,
.featured-course .bg-career-skills {
  background: $gym-green;
}

/* --- links / buttons --- */

/* cta / structure */

.cta {
  text-align: center;
  margin-top: 1.2em;
}

/* back to top */

.to-top-link {
  margin-top: 1.2em;

  b {
    color: $gym-dark-gray;
  
    &::before {
      display: inline-block;
      content: "↑";
      font-family: monospace, monospace;
      vertical-align: top;
      margin-right: .25em;
    }
  }
}

/* gym button */

#main .gym-button {
  width: auto !important; /* !override / shrink-wrap */
  padding: 1.2em 2.2em !important; /* !override */
  border-radius: 3px;
}

/* gym text */

main[role="main"] a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor !important;
}

main[role="main"] a:not([class]):hover,
main[role="main"] a:not([class]):focus,
main[role="main"] a:not([class]):active {
 border-bottom-width: 2px !important;
 margin-bottom: -0.125rem;
}

/* --- #main --- */

/* !override / reset/rescale Bootstrap (3) handiwork — future-friendly */

main[role="main"] .main-content {
  padding-left: 0;
  padding-right: 0;
}

/* !override / reset/rescale font-size adjustment */

/* --- #about --- */

/* !override background-color w/ ID selector/combinator */

#about {
  background-color: #d2d2d2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-bottom: 1px dashed #bbb;

  * {
    color: $gym-black;
  }

  .banner-content {
    background-color: inherit;
    padding-bottom: 0;
  }
}

#main h1,
#main h2,
#main h3 {
  font-weight: 900;
}

#main h1 {
  font-size: 2.25em;
}

#about p {
  font: normal 1.25em/1.45 $gym-font-stack-text;
  color: $gym-black;
  margin-top: .6em;
}

#main h2 {
  font-size: 1.8em;
}

#main h3 {
  font-size: 1.4em;
}

#main h3 a {
  line-height: 1.35;
}

#main h3 + p {
  margin-top: 1.4rem;
}

/* --- section --- */

.section {
  padding-top: 1.2em;
  margin-bottom: 1.2em;

  header p {
    font: normal 1.25em/1.45 $gym-font-stack-text;
  }
}

.section header p,
.subsection header p {
  margin-top: 1.2rem;
}

.section-content {
  background: $gym-white;
  padding: 1.2em;
  border: 1px solid $gym-gray;
  border-radius: 3px;

  > header {
    margin-top: .4em;
    margin-bottom: 1.6em;
  }

  section header {
    margin-top: .6em;
  }

  p {
    max-width: 96ch;
  }

  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  li p {
    margin-top: .6rem;
  }
}

#main .section-content > header p {
  color: $gym-black;
}

/* --- card layout --- */

.card-main {
  padding: 1.2em;
}

.card-main header,
.card-cta-button {
  background-color: $gym-white;
}

.card-content {
  border: 1px solid $gym-gray;
  border-radius: 3px;
  overflow: hidden;
}

.card-main,
.card-cta-button {
  padding: 1.2em;
}

.card-cta {
  text-align: center;
}

footer.card-cta {
  margin-top: 1.2em;
}

.card-cta a {
  display: inline-block;
}

/* --- #feature --- */

#featured {
  padding-top: 1.6em;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 48em) {

  #featured {
    margin-left: 0;
    margin-right: 0;
  }

}

.card-main header.full-width {
  padding: 1.2em;
  margin: -1.2em -1.2em 0;
}

#featured .card-main h3 {
  font-size: 1.6em;
  line-height: 1.15;
  font-weight: 900;
  color: $gym-white;
}

.featured {
  background-color: $gym-dark-gray;
}

#featured .course-artwork {
  position: relative;
  height: 0;
  padding-bottom: 62.5%;
  border-bottom: 1.2em dashed transparent;
  margin-top: -1.2em;
  overflow: visible;
}

#featured .course-artwork img {
  display: block;
  position: absolute;
  top: .125em;
  left: 0;
  width: 108%;
  height: 108%;
}

#featured .full-width {
  border-top: 1px solid #dedede;
  margin: -1.2em -1.2em 1.2em;
}

/* --- #jobs --- */

#jobs .content-hr {
  padding-bottom: 0;
}

/* --- #courses --- */

#courses .cols-hr ul {
  grid-gap: 0;
  border-top: 1px solid $gym-gray-2;
  border-bottom: 1px solid $gym-gray-2;
  margin-top: 0;
}

#courses .cols-hr li {
  position: relative;
  top: -1px;
  border-top: 1px solid $gym-gray-2;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

#courses .course-artwork {
  display: inline-block;
  width: 20%;
  height: 0;
  vertical-align: middle;
  padding-bottom: 20%;
  border-radius: 50%;
  -moz-border-radius: 0; /* for legacy Firefox */
  overflow: hidden;
  margin-right: 1.2em;
}

#courses .course-artwork img {
  max-width: 86%;
  margin-top: 12%;
}

#courses h3 {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.tutorial figure,
.webinar figure {
  border: 1px solid #dedede;
}

/* --- #webinars --- */

#webinars .cols-hr ul {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

#webinars .poster-mask {
  position: relative;
  height: 0;
  background-color: #000;
  padding-bottom: 62.5%; /* pseudo 16:9 aspect ratio */
  overflow: hidden;
}

#webinars .poster-mask img {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  width: 100%;
  height: auto;
  margin: auto;
}

#webinars .poster-mask-crop img {
  width: 112.5%;
  max-width: none;
}

/* --- grid layout --- */

/* --- legacy columns (inline-block) w/ breakpoints --- */

.cols ul {
  list-style: none;
  padding-left: 0;
  margin-top: -1.2em;
  margin-bottom: 0;
}

.cols li {
  margin-top: 1.2em;
  overflow: hidden;
}

.cols-hr ul {
  grid-gap: 0;
  padding-bottom: 1.2em;
  border-top: 1px solid $gym-gray-2;
  border-bottom: 1px solid $gym-gray-2;
  margin-top: 0;
  overflow: hidden;
}

.cols-hr li {
  position: relative;
  top: -1px;
  border-top: 1px solid $gym-gray-2;
  padding-top: 1.2em;
}

.cols-hr li::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  width: 300%;
  border-top: 1px solid $gym-gray-2;
}

#webinars .cols-hr ul {
  margin-bottom: -1.2em;
}

#webinars .cols-hr li,
#courses .cols-hr li {
  margin-top: 0;
}

.list-hr {
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    border-bottom: 1px dashed $gym-gray-2;
    padding-top: 1.2em;
    padding-bottom: 1.2em;

    &:first-child {
      border-top: 1px solid $gym-gray-2;
    }
  }
}


.content-hr {
  border-top: 1px solid $gym-gray-2;
  border-bottom: 1px solid $gym-gray-2;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.subsection header {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

.section header h3,
.subsection header h3 {
  font-size: 1.4em;
}

@media (min-width: 40em) {

  .cols {
    padding-bottom: 1px; /* overflow height adjustment (hack) -- useful when nested content has border */
    overflow: hidden;

    ul {
      margin-left: -.6em;
      margin-right: -.6em;
    }
  }

  .cols ul li,
  #courses .cols-hr li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: .6em;
    padding-right: .6em;
    margin-right: -4px;
  }

}

@media (min-width: 58em) {

  .cols ul li {
    width: 50%;
  }

}

@media (min-width: 64em) {

  .cols ul li {
    width: 33.333333333333333%;
  }
}

/* --- modern columns (grid) --- */

@supports (display: grid) {

  .cols ul {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.2em;
  }

  @media (min-width: 36em) {

    .cols-max-2 ul {
      grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    }

    .cols-max-3 ul {
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    }

  }

/* override -- legacy layout -- start */

  .cols {
    padding-bottom: 0;
  }

  .cols,
  .cols ul li {
    overflow: visible;
  }

  .cols ul,
  .cols ul li {
    margin-top: 0;
    margin-right: 0;
  }

  .cols ul {
    margin-left: 0;
  }

  .cols ul li,
  #courses .cols-hr li {
    display: inherit;
    width: auto;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
  }

  #courses .cols-hr li {
    display: block;
  }

  #webinars {
    .cols-hr {
      ul {
        margin-bottom: 0;
      }

      li {
        padding-bottom: 0;
      }
    }
  }
  /* override -- legacy layout -- end */

  /* --- cards (grid) --- */

  .cols li,
  .card,
  .card-content {
    display: inherit;
  }

  .card,
  .card-content {
    grid-template-rows: 1fr;
  }

  .card-cta-button {
    align-self: end;
  }
}
