/* --- !override / reset / all initial --- */

#content > .container,
#content > .container > .row,
#content > .container > .row > .col-md-12 {
  align-content:stretch;align-items:stretch;align-self:auto;animation-delay:0s;animation-direction:normal;animation-duration:0s;animation-fill-mode:none;animation-iteration-count:1;animation-name:none;animation-play-state:running;animation-timing-function:ease;backface-visibility:visible;background-blend-mode:normal;border-spacing:0;bottom:auto;box-decoration-break:slice;box-shadow:none;box-sizing:content-box;break-after:auto;break-before:auto;break-inside:auto;caption-side:top;caret-color:auto;clear:none;clip:auto;clip-path:none;color:initial;column-count:auto;column-fill:balance;column-gap:normal;column-rule-color:currentcolor;column-rule-style:none;column-rule-width:medium;column-span:none;column-width:auto;content:normal;counter-increment:none;counter-reset:none;cursor:auto;display:inline;empty-cells:show;filter:none;flex-basis:auto;flex-direction:row;flex-grow:0;flex-shrink:1;flex-wrap:nowrap;float:none;font-family:initial;font-feature-settings:normal;font-kerning:auto;font-language-override:normal;font-size:medium;font-size-adjust:none;font-stretch:normal;font-style:normal;font-synthesis:weight style;font-variant:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-weight:400;grid-auto-columns:auto;grid-auto-flow:row;grid-auto-rows:auto;grid-column-end:auto;grid-column-gap:0;grid-column-start:auto;grid-row-end:auto;grid-row-gap:0;grid-row-start:auto;grid-template-areas:none;grid-template-columns:none;grid-template-rows:none;height:auto;hyphens:manual;image-rendering:auto;image-resolution:1dppx;ime-mode:auto;isolation:auto;justify-content:flex-start;left:auto;letter-spacing:normal;line-break:auto;line-height:normal;mask-clip:border-box;mask-composite:add;mask-image:none;mask-mode:match-source;mask-origin:border-box;mask-position:0 0;mask-repeat:repeat;mask-size:auto;mask-type:luminance;max-height:none;max-width:none;min-width:0;mix-blend-mode:normal;object-fit:fill;object-position:50% 50%;opacity:1;order:0;orphans:2;outline-color:initial;outline-offset:0;outline-style:none;outline-width:medium;overflow:visible;overflow-wrap:normal;overflow-x:visible;overflow-y:visible;page-break-after:auto;page-break-before:auto;page-break-inside:auto;perspective:none;perspective-origin:50% 50%;position:static;quotes:initial;resize:none;right:auto;ruby-align:space-around;ruby-merge:separate;ruby-position:over;scroll-behavior:auto;tab-size:8;table-layout:auto;text-align:initial;text-align-last:auto;text-combine-upright:none;text-decoration-color:currentcolor;text-decoration-line:none;text-decoration-style:solid;text-emphasis-color:currentcolor;text-emphasis-position:over right;text-emphasis-style:none;text-indent:0;text-justify:auto;text-orientation:mixed;text-overflow:clip;text-rendering:auto;text-shadow:none;text-transform:none;text-underline-position:auto;top:auto;touch-action:auto;transform:none;transform-box:border-box;transform-origin:50% 50% 0;transform-style:flat;transition-delay:0s;transition-duration:0s;transition-property:all;transition-timing-function:ease;vertical-align:baseline;visibility:visible;white-space:normal;widows:2;width:auto;will-change:auto;word-break:normal;word-spacing:normal;word-wrap:normal;writing-mode:horizontal-tb;z-index:auto;background:0 0;border-color:currentcolor;border-radius:0;border-style:none;border-width:medium;list-style:disc;margin:0;padding:0;
}

/* --- smooth scrolling --- */

html {
  scroll-behavior: smooth;
}

/* --- flexible images --- */

main img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

main figure {
  text-align: center;
  overflow: hidden;
}

main figcaption {
  text-align: left;
}

/* --- typography --- */

/* headings / margin reset */

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  color: #222;
  line-height: 1.15;
  letter-spacing: 0.015em;
  margin-top: 0;
  margin-bottom: 0;
}

#featured h3 {
  letter-spacing: .035em;
}

#main h3 {
  text-transform: none;
}

/* paragraphs */

#main p {
  font: normal 1.15em/1.45 "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 1.2rem;
  margin-bottom: 0;
}

#main .main-content p {
  color: #555;
}

/* typographical details */

#main .all-caps {
  text-transform: uppercase;
}

#main .no-wrap {
  color: inherit;
  white-space: nowrap;
}

/* --- web development palette --- */

.bg-web-development,
.featured-course .bg-web-developement {
  background-color: #d73158;
}

/* --- web development lang palette --- */

.bg-web-development-lang,
.featured-course .bg-web-developement-lang {
  background-color: #764C9F;
}

/* --- ux / prototyping color palette --- */

.bg-ux-design,
.featured-course .ux-design {
  background: #5ca5a0;
}

/* --- career skills color palette --- */

.bg-career-skills,
.featured-course .bg-career-skills {
  background: #2c9959;
}

/* --- links / buttons --- */

/* cta / structure */

.cta {
  text-align: center;
  margin-top: 1.2em;
}

/* back to top */

.to-top-link {
  margin-top: 1.2em;
}

.to-top-link b {
  color: #444;
}

.to-top-link b::before {
  display: inline-block;
  content: "↑";
  font-family: monospace, monospace;
  vertical-align: top;
  margin-right: .25em;
}

/* gym button */

#main .gym-button {
  width: auto !important; /* !override / shrink-wrap */
  padding: 1.2em 2.2em !important; /* !override */
  border-radius: 3px;
}

/* gym text */

main[role="main"] a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor !important;
}

main[role="main"] a:not([class]):hover,
main[role="main"] a:not([class]):focus,
main[role="main"] a:not([class]):active {
 border-bottom-width: 2px !important;
 margin-bottom: -0.125rem;
}

/* --- #main --- */

/* !override / reset/rescale Bootstrap (3) handiwork — future-friendly */

#main {
  font-size: 16px;
}

main[role="main"] .main-content {
  padding-left: 0;
  padding-right: 0;
}

/* !override / reset/rescale font-size adjustment */

#main .gym-button {
  font-size: 105%;
}

/* !override / color */

#main .gym-button b {
  color: #fff;
}

/* !override / remove padding-bottom  */

#main .container-fluid {
  padding-bottom: 0;
}

/* --- #about --- */

/* !override background-color w/ ID selector/combinator */

#about {
  background-color: #d2d2d2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-bottom: 1px dashed #bbb;
}

#about * {
  color: #222;
}

#about .banner-content {
  background-color: inherit;
  padding-bottom: 0;
}

#main h1,
#main h2,
#main h3 {
  font-weight: 900;
}

#main h1 {
  font-size: 2.25em;
}

#about p {
  font: normal 1.25em/1.45 "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  margin-top: .6em;
}

#main h2 {
  font-size: 1.8em;
}

#main h3 {
  font-size: 1.4em;
}

#main h3 a {
  line-height: 1.35;
}

#main h3 + p {
  margin-top: 1.4rem;
}

/* --- section --- */

.section {
  padding-top: 1.2em;
  margin-bottom: 1.2em;
}

.section header p {
  font: normal 1.25em/1.45 "Helvetica Neue", Helvetica, sans-serif;
}

.section header p,
.subsection header p {
  margin-top: 1.2rem;
}

.section-content {
  background: #fff;
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section-content > header {
  margin-top: .4em;
  margin-bottom: 1.6em;
}

#main .section-content > header p {
  color: #222;
}

.section-content section header {
  margin-top: .6em;
}

.section-content p {
  max-width: 96ch;
}

.section-content ul {
  margin-top: 0;
  margin-bottom: 0;
}

.section-content li p {
  margin-top: .6rem;
}

/* --- card layout --- */

.card-main {
  padding: 1.2em;
}

.card-main header,
.card-cta-button {
  background-color: #fff;
}

.card-content {
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.card-main,
.card-cta-button {
  padding: 1.2em;
}

.card-cta {
  text-align: center;
}

footer.card-cta {
  margin-top: 1.2em;
}

.card-cta a {
  display: inline-block;
}

/* --- #feature --- */

#featured {
  padding-top: 1.6em;
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 48em) {

  #featured {
    margin-left: 0;
    margin-right: 0;
  }

}

.card-main header.full-width {
  padding: 1.2em;
  margin: -1.2em -1.2em 0;
}

#featured .card-main h3 {
  font-size: 1.6em;
  line-height: 1.15;
  font-weight: 900;
  color: #fff;
}

.featured {
  background-color: #444;
}

#featured .course-artwork {
  position: relative;
  height: 0;
  padding-bottom: 62.5%;
  border-bottom: 1.2em dashed transparent;
  margin-top: -1.2em;
  overflow: visible;
}

#featured .course-artwork img {
  display: block;
  position: absolute;
  top: .125em;
  left: 0;
  width: 108%;
  height: 108%;
}

#featured .full-width {
  border-top: 1px solid #dedede;
  margin: -1.2em -1.2em 1.2em;
}

/* --- #jobs --- */

#jobs .content-hr {
  padding-bottom: 0;
}

/* --- #courses --- */

#courses .cols-hr ul {
  grid-gap: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
}

#courses .cols-hr li {
  position: relative;
  top: -1px;
  border-top: 1px solid #ddd;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

#courses .course-artwork {
  display: inline-block;
  width: 20%;
  height: 0;
  vertical-align: middle;
  padding-bottom: 20%;
  border-radius: 50%;
  -moz-border-radius: 0; /* for legacy Firefox */
  overflow: hidden;
  margin-right: 1.2em;
}

#courses .course-artwork img {
  max-width: 86%;
  margin-top: 12%;
}

#courses h3 {
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.tutorial figure,
.webinar figure {
  border: 1px solid #dedede;
}

/* --- #webinars --- */

#webinars .cols-hr ul {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

#webinars .poster-mask {
  position: relative;
  height: 0;
  background-color: #000;
  padding-bottom: 62.5%; /* pseudo 16:9 aspect ratio */
  overflow: hidden;
}

#webinars .poster-mask img {
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  width: 100%;
  height: auto;
  margin: auto;
}

#webinars .poster-mask-crop img {
  width: 112.5%;
  max-width: none;
}

/* --- grid layout --- */

/* --- legacy columns (inline-block) w/ breakpoints --- */

.cols ul {
  list-style: none;
  padding-left: 0;
  margin-top: -1.2em;
  margin-bottom: 0;
}

.cols li {
  margin-top: 1.2em;
  overflow: hidden;
}

.cols-hr ul {
  grid-gap: 0;
  padding-bottom: 1.2em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  overflow: hidden;
}

.cols-hr li {
  position: relative;
  top: -1px;
  border-top: 1px solid #ddd;
  padding-top: 1.2em;
}

.cols-hr li::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  width: 300%;
  border-top: 1px solid #ddd;
}

#webinars .cols-hr ul {
  margin-bottom: -1.2em;
}

#webinars .cols-hr li,
#courses .cols-hr li {
  margin-top: 0;
}

.list-hr ul {
  list-style: none;
  padding-left: 0;
}

.list-hr li {
  border-bottom: 1px dashed #ddd;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.list-hr li:first-child {
  border-top: 1px solid #ddd;
}

.content-hr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.subsection header {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

.section header h3,
.subsection header h3 {
  font-size: 1.4em;
}

@media (min-width: 40em) {

  .cols {
    padding-bottom: 1px; /* overflow height adjustment (hack) -- useful when nested content has border */
    overflow: hidden;
  }

  .cols ul {
    margin-left: -.6em;
    margin-right: -.6em;
  }

  .cols ul li,
  #courses .cols-hr li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: .6em;
    padding-right: .6em;
    margin-right: -4px;
  }

}

@media (min-width: 58em) {

  .cols ul li {
    width: 50%;
  }

}

@media (min-width: 64em) {

  .cols ul li {
    width: 33.333333333333333%;
  }

}

/* --- modern columns (grid) --- */

@supports (display: grid) {

  .cols ul {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.2em;
  }

  @media (min-width: 36em) {

    .cols-max-2 ul {
      grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    }

    .cols-max-3 ul {
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    }

  }

/* override -- legacy layout -- start */

  .cols {
    padding-bottom: 0;
  }

  .cols,
  .cols ul li {
    overflow: visible;
  }

  .cols ul,
  .cols ul li {
    margin-top: 0;
    margin-right: 0;
  }

  .cols ul {
    margin-left: 0;
  }

  .cols ul li,
  #courses .cols-hr li {
    display: inherit;
    width: auto;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
  }

  #courses .cols-hr li {
    display: block;
  }

  #webinars .cols-hr ul {
    margin-bottom: 0;
  }

  #webinars .cols-hr li {
    padding-bottom: 0;
  }

  /* override -- legacy layout -- end */

  /* --- cards (grid) --- */

  .cols li,
  .card,
  .card-content {
    display: inherit;
  }

  .card,
  .card-content {
    grid-template-rows: 1fr;
  }

  .card-cta-button {
    align-self: end;
  }

}
