---
---
@import 'variables';
@import 'mixins';

.hide {
  display: none; // TODO: this is a repeat of what is available in the defaults mixin
}

.location {
  margin: 1rem 0 2.666rem;

  select {
  
    @include breakpoint(40em, min) {
      max-width: 24rem;
    }
  }
}

.job-location {
  &::before {
    content: '\2014'; // em-dash
  }
}


