.privacy-policy nav header + ul {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.privacy-policy nav ul {
  list-style: disc;
  padding-top: 1.2em;
  border-top: 1px dashed #ddd;
}

.privacy-policy li {
  margin-top: .625em;
  margin-left: 1.2em;
}

.privacy-policy nav li:first-child {
  margin-top: 0;
}

.privacy-policy p {
  margin-bottom: 0;
}

.privacy-policy section {
  padding-top: 1.2em;
}

.privacy-policy address {
  padding-top: 1.2em;
}

.privacy-policy address p {
 margin-top: 0;
 margin-bottom: 0;
}

.privacy-policy .to-top-link {
  margin-top: 1.2em;
}

.privacy-policy .to-top-link a  {
  color: currentColor;
  border-bottom: 1px solid currentColor;
}

.privacy-policy .to-top-link a:hover,
.privacy-policy .to-top-link a:focus {
  color: currentColor !important;
  border-bottom: 2px solid currentColor !important;
}
