/* ---
upcoming coures / featured content
upcoming-coures.html
--- */

.catalog-content .sidebar h1 {
  font-size: 1.44em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog-content .sidebar section {
  font-size: 16px;
}

.catalog-content .sidebar h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: .02em;
  word-spacing: .02em;
  text-transform: uppercase;
}

.catalog-content .sidebar p,
.catalog-content .sidebar .gym-button b {
  font-size: 1.05em;
}

/* ---
featured coures
sidebar-generic.html
--- */

/* sidebar / static */

.sidebar-static {
 padding: 0 1.2em 2.6em;
 margin: 1.2em -0.8em -2em;
}

/* main content / adjustment for vertical rule */

.white-panel .col-md-9  {
  padding-top: 1.2em;
  padding-right: 1.2em;
  padding-bottom: 2em;
  margin-top: -1.2em;
  margin-bottom: -2em;
}

@media (min-width: 62em) {

/* main content / vertical rule */

  .white-panel .col-md-9 {
    border-right: 1px dashed #ccc;
  }

/* sidebar / layout adjustment */

  .sidebar-static {
    padding-top: 1.2em;
    margin-top: -1.2em;
    margin-right: -2.2em;
  }

}

.sidebar-static h1 {
  font-size: 1.2em !important;
  margin-top: 15px;
}

.sidebar-static p,
.sidebar-static .gym-button b {
  font-size: 1em !important;
}

/* ---
shared styles
--- */

.catalog-content .sidebar figure,
.sidebar-static figure {
  margin-top: 1.2em;
}
