---
---
@import 'variables';
@import 'mixins';

// main content / layout
.main-content-static {

  a:not([class]) {
    font: inherit;
    color: currentColor;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid currentColor;
    margin-bottom: -2px;

    &:hover,
    &:focus,
    &:active {
      color: currentColor;
      text-decoration: none;
      border-bottom: 2px solid currentColor !important;
    }
  }

  h1 {
    margin-top: 15px;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  h3:not(#support-now h3) {
    margin-top: 3rem;
  }

  p:not(p[class]),
  #support-now {
    max-width: 80rem;
  }

  p.hero-text {
    font: normal 1.6em/1.4 $gym-font-stack;
    word-spacing: 0.032em;
    margin: 0.67em 3.5% 0.67em 0;
  }

  li {
    margin-top: 0.6rem;
  }

  img {
    color: inherit;
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  #support-now {
    margin-top: 3.5rem;
    padding-bottom: 3rem;
    border-bottom: 1px dashed $gym-gray;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.4em;
      margin-top: 2rem;
    }
  }

  // main content / video
  .w-75 {
    max-width: 36em;
    margin-top: 1.072em;
  }

  // 16x9 aspect ratio
  .ratio-16-9 {
    padding-bottom: 56.25%;
  }

  // 4x3 aspect ratio
  .ratio-4-3 {
    padding-bottom: 75%;
  }
}


@include breakpoint(medium, min) {

  .main-content-static .w-75 {
    width: 75%;
  }
}

.iframe-video-holder {
  position: relative;
  height: 0;
  background: $gym-black;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none transparent;
    border: 0;
  }
}
