---
---
@import 'variables';
@import 'mixins';

// main content / layout
.main-content-static {

  h1 {
    margin-top: 15px;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  h3:not(#support-now h3) {
    margin-top: 3rem;
  }

  p:not(p[class]),
  #support-now {
    max-width: 80rem;
  }

  p.hero-text {
    font: normal 1.6em/1.4 $gym-font-stack;
    word-spacing: 0.032em;
    margin: 0.67em 3.5% 0.67em 0;
  }

  li {
    margin-top: 0.6rem;
  }

  img {
    color: inherit;
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }

  #support-now {
    padding-bottom: 3rem;
    border-bottom: 1px dashed $gym-gray;
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 1.4em;
      margin-top: 2rem;
    }
  }

  .hero-text + #support-now,
  .hero-text + #causes-we-care-about {
    margin-top: 3.5rem;
  }

  #causes-we-care-about {

    & > div {
      max-width: 60rem;
      columns: 24rem 2;
      gap: 4rem;
      column-fill: balance;
    }

    section {
      display: inline-block;
      width: 100%;
      break-inside: avoid;
    }

  }

  // main content / video
  .w-75 {
    max-width: 36em;
    margin-top: 1.072em;
  }

  // 16x9 aspect ratio
  .ratio-16-9 {
    padding-bottom: 56.25%;
  }

  // 4x3 aspect ratio
  .ratio-4-3 {
    padding-bottom: 75%;
  }

  @include breakpoint(medium, min) {
    .w-75 {
      width: 75%;
    }
  }

  .iframe-video-holder {
    position: relative;
    height: 0;
    background: $gym-black;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: none transparent;
      border: 0;
    }
  }

  // anniversary (10 year)
  #anniversary {

    h2 {
      font-size: 1.6em;
      margin-top: 0;
      margin-bottom: 1.6rem;
    }

    header figure:first-child {
      max-width: 42.4em;
    }

    @include breakpoint(medium, max) {
      header figure:first-child {
        margin-bottom: 0.6em;
      }
    }

    header .list {
      border: 0 none;

      ul {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        border-top: 1px solid $gym-gray;

        li:first-child {
          margin-top: 0;
        }
      }

      figcaption {
        padding-top: 1.2rem;
        padding-left: 0;
        padding-right: 0;
      }
    }

    ul:not([class]) {
      padding-left: 1em;
      margin-bottom: 0;
    }

    article {
      padding-top: 1.2em;
      border-top: 1px dashed $gym-gray;
      margin-top: 1.8em;

      p {
        margin-top: 1rem;
      }

      .date {
        display: inline-block;
        position: relative;
        padding-bottom: 1.6rem;
        border-left: 2px solid $gym-black;

        &:before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          height: 0;
          padding-left: 90%;
          border: 2rem solid transparent;
          border-top-color: $gym-orange;
          border-bottom-color: $gym-orange;
          border-left-width: 0.6rem;
          border-right-style: dashed;
          z-index: 0;
        }

        b {
          display: inherit;
          position: inherit;
          color: $gym-black;
          line-height: 1.15;
          letter-spacing: 0.2ex;
          background-color: $gym-orange;
          padding: 1rem 1.2rem;
          z-index: 1;
        }
      }

    }

    figure {
      display: inline-block;
      width: 100%;
      max-width: 31.45em; /* 2 column default */
      vertical-align: top;
      border: 1px solid $gym-gray;
      margin-top: 1.2em;
      margin-right: 1.125em;

      & > [class="iframe-video-holder"],
      & > img {
        color: $gym-white;
        background-color: $gym-black;
      }

      .iframe-video-holder {
        padding-bottom: 56.24%;
      }

      figcaption {
        display: inline-block;
        width: 100%;
        line-height: 1.35;
        padding: 1rem;
        border-top: 1px solid $gym-gray;
      }
    }

    .col-3 figure {
      max-width: 20.5em;
    }

    .portrait {
      max-width: 15.025em;
    }

    @include breakpoint(medium, min) {
      .images {
        margin-right: -2em;
      }
    }

  }
}


// back to top offset
#main:target {
  scroll-margin-top: 3em;
}