---
---
@import 'variables';
@import 'mixins';

@include defaults;

// --- #main ---

// !override / reset/rescale Bootstrap (3) handiwork — future-friendly


[role="main"] .main-content {
  padding-left: 0;
  padding-right: 0;
}

// reset default (text) links

#main .title a,
#main [class="all-caps"] a {
  line-height: 1.35;
}

#main .title a:after,
#main [class="all-caps"] a:after,
#main li > a:not([class]):after {
  content: "";
  display: block;
  padding-top: .5625rem;
  outline: none;
}

#featured h3 {
  letter-spacing: .035em;
}

[role="main"] h3 {
  letter-spacing: 0;
}

// paragraphs

[role="main"] {
  p {
    font: normal 1.15em/1.5 $gym-text-font-stack;
    margin-bottom: 0;
  }

  p:not([class]) {
    margin-top: 1em;
  }
}

// typographical details

.tutorial {
  b.all-caps {
    font-size: 80%;
    letter-spacing: .05rem;

    + h3 {
      margin-top: .6rem;
    }
  }
}

// --- take-5 catalog ---

// --- #about ---

// !override background-color w/ ID selector/combinator

#about {
  background-color: #d2d2d2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-bottom: 1px dashed #bbb;
}

#about * {
  color: $gym-black;
}

#about .banner-content {
  background-color: inherit;
  padding-bottom: 0;
}


#main h1 {
  font-size: 2.25em;
}

#about p {
  font: normal 1.25em/1.45 $gym-text-font-stack;
  margin-top: .6em;
}

#about p strong:first-child {
  display: block;
}

main h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

#main .section header p {
  color: $gym-dark-gray;
}

// --- section ---

.section {
  padding-top: 1.2em;
  margin-bottom: 1.2em;
}

.section header p {
  font: normal 1.25em/1.45 $gym-text-font-stack;
}

.section-content {
  background: $gym-white;
  padding: 1.2em;
  border: 1px solid $gym-gray;
  border-radius: 3px;
}

.section-content > header {
  margin-bottom: 1.6em;
}

.section header {
  margin-top: .6em;
}

.tutorial h3 {
  line-height: 1.15;
}

[data-duration] {
  position: relative;
  overflow: hidden;
}

[data-duration]::after {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  content: attr(data-duration);
  font: normal 80%/.9375 $gym-text-font-stack;
  letter-spacing: .065rem;
  text-indent: .1rem;
  color: $gym-white;
  background-color: $gym-black;
  padding: .6rem;
  border: 1px solid $gym-white;
  border-radius: 2px;
}

// --- take-5 ---
.take5 {
  &--recent-content {
    border-top: 1px dashed $gym-gray;
  }

  &--main {
    background-color: $gym-white;

    // in-page column layout

    .embed {
      background-color: #d2d2d2;
      border: 1px solid $gym-gray-2;
      margin-top: 1.6em;
    }

    // in-page banner layout-

    .embed-full-width {
      background-color: #d2d2d2;
      border-top: 1px solid $gym-dark-gray;
      border-bottom: 1px solid #bbb;
    }

  }

  &--info {
    padding-top: 1.6em;
    padding-bottom: 1.8em;
  }

  &--hero-content .col-md-4 + .col-md-8 {
    padding-top: 1.6em;
  }

  @include breakpoint(medium, min) {
    &--hero-content .col-md-4 + .col-md-8 {
      padding-top: 0;
    }

    &--featured {
      margin-right: 1.2em;
    }
  }

  &--featured,
  &--recent-tutorials {
    > header {
      margin-bottom: 1.4em;
    }

    .tutorial {
      display: grid;
      grid-auto-rows: auto 1fr auto auto;
      padding: 0 1em 1.2em;
      border: 1px solid $gym-gray-2;
      border-radius: 0 0 3px 3px;

      .artwork {
        border: 0;
        border-bottom: 1px solid $gym-gray-2;
        margin-left: -1em;
        margin-right: -1em;
      }

      header {
        align-self: start;
        margin-top: 1em;
      }
    }
  }

  &--info {
    .title {
      font-size: 2.05em;
      margin-top: -.25rem;
    }

    .description {
      font-size: 1.15em;
    }

    .instructor {
      font-size: 1em;
      margin-top: .6em;
    }
  }

  &--resources {
    margin-top: 1.4em;
  }

  @at-root #main .take5--featured .title {
    font-size: 1.85em;
    margin-top: 0;
  }

  @include breakpoint(medium, max) {

    &--resources {
      padding-top: 1.4em;
      border-top: 1px dashed $gym-gray;
      margin-top: 1.6em;
    }

    &--hero-content .take5--resources {
      border-top: 0;
      margin-top: 0;
    }
  }

  &--upcoming-list {
    padding-top: 0;

    .subhead-datetime {
      margin-bottom: .8rem;
    }

    h4 {
      text-transform: none;
    }
  }

  &--upcoming-list ul,
  &--topics-menu-list ul {
    list-style: none url();
    padding-left: 0;
  }

  &--topics-menu-list ul {
    border-top: 1px dashed $gym-gray;
    margin-top: 1.4em;
  }

  &--upcoming-list li,
  &--topics-menu-list li {
    padding-top: .8em;
    padding-bottom: .8em;
    border-bottom: 1px dashed $gym-gray;
    margin-top: 0;
  }

  &--topics-menu {
    padding-bottom: 1.4em;
    border-bottom: 1px dashed $gym-gray;

    &[open] {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &--hero-content,
  &--recent-content {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
  }

  &--recommended {
    padding-top: 1.6em;
    padding-bottom: 1em;

    header:first-child {
      margin-bottom: 1em;
    }

    section header {
      margin-top: .6em;
    }

    &-content {
      padding-bottom: 1.2em;
      border-bottom: 1px dashed $gym-gray;
      border-top: 1px dashed $gym-gray;
    }

    .cols-hr ul {
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }

  &--resources-list {
    padding-top: 1.2em;
    border-top: 1px dashed $gym-gray;
    margin-top: 1.4em;

    header {
      margin-bottom: 1em;
    }

    ul {
      list-style: disc;
      padding-left: 1.2em;
    }

    li {
      margin-top: .6em;
      line-height: 1.5;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

// add #main for specificity override

#main {
  .take5--featured > header h2,
  .take5--recent-tutorials > header h2,
  .take5--resources h2,
  .take5--recommended h2 {
    font-size: 1.55em;
    letter-spacing: .035rem;
  }
}

.course header,
.tutorial header {
  margin-top: .8em;
}

.course header h3,
.tutorial header h3 {
  font-weight: bold;
}

[role="main"] {
  .subhead-topic,
  .subhead-datetime {
    font: bold .85em/1.15 $gym-font-stack;
    color: $gym-black;
    letter-spacing: .05rem;
    word-spacing: .05rem;
  }

  .subhead-topic {
    font-weight: 900;
    font-size: 0.9625em;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .take5--details .subhead-topic {
    margin-bottom: 1.6rem;
  }

  .take5--recommended-content .subhead-topic {
    margin-top: 1.6rem;
  }
}

.subhead-datetime {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: .6rem
}

#tutorial-resources p {
  font-size: 1em;
  margin-top: .5rem;
}

.subhead-datetime time b {
  display: inline-block;
}

article.take5--transcript {
  margin-top: 1.6em;
}

#tutorial-transcript {
  ol,
  ul,
  blockquote {
    font-size: 16px;
    line-height: 1.45;
    margin-top: 1.15em;
  }

  ol,
  ul {
    padding-left: 1.15em;
  }

  li,
  blockquote p {
    font-size: 1.15em;
  }

  li:not(blockquote li) {
    padding-left: 0.8em;
    margin-top: inherit;
  }

  [class*="language-"] {
    white-space: pre-wrap;
  }

  [class*="language-"],
  [class*="language-"] + p,
  .example,
  .example + p {
    margin-top: 1.6675em;
  }

  [data-language] [class*="language-"] {
    padding-right: 1.2em;
  }

  [data-language="markup"]::before {
    content: "html";
  }

  .example {
    background-color: transparent;
    padding: 1.2em;
  }

  blockquote p:first-child {
    margin-top: 0;
  }
}

@include breakpoint(medium, max) {

  .take5--hero-content .take5--resources,
  #tutorial-topics {
    margin-top: -.2em;
  }

  #tutorial-topics summary b::before {
    content: "Select a" "\00a0";
  }
}

@include breakpoint(medium, min) {

  #tutorial-resources {
     margin-top: 0;
   }

  #tutorial-resources summary,
  #tutorial-topics summary {
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
  }

  #tutorial-resources summary b,
  #tutorial-topics summary b {
    float: left;
    font: 900 1.55em/1.08 $gym-font-stack;
    color: $gym-black;
    letter-spacing: .035rem;
    text-transform: uppercase;
    vertical-align: 0;
    visibility: visible;
  }

}


// SASS placeholder to combine rules
%tutorial-artwork {
  text-align: center;
  height: 0;
  background-color: #d2d2d2;
  padding-bottom: 44.444444444444444%;
  border: 1px solid $gym-gray-2;
  overflow: hidden;
}

.tutorial .artwork,
.take5--recommended .artwork {
  @extend %tutorial-artwork;
}

%tutorial-artwork-img {
  display: inline-block;
  margin-top: -5%;
}

.tutorial .artwork img,
.take5--recommended .artwork img {
  @extend %tutorial-artwork-img;
}

// --- course type / skill level ---
.tutorial {
  footer {
      padding-left: 1em;
      padding-right: 1em;
      border-top: 1px dashed $gym-gray-2;
      margin-top: 1em;
      margin-left: -1em;
      margin-right: -1em;
      overflow: hidden;

      p {
        float: left;
        font-size: 0.9625em;
      }

      p:last-child {
        float: right;
      }
    }
}

// --- catalog view ---
.take5 {
  &--catalog-section {
    background-color: $gym-light-page-background;
    padding-top: 0;
    padding-bottom: 1.4em;

    .take5--recent-tutorials {
      padding-top: 1.6em;
    }

    .tutorial {
      background-color: $gym-white;
      border: 1px solid $gym-gray-2;
      border-radius: 0 0 3px 3px;

      .artwork {
        border: 0;
        border-bottom: 1px solid $gym-gray-2;
      }

      header {
        padding: 1em 0.5em;
        margin-top: 0;

        p:not([class]) {
          font-size: 0.9625em;
        }
      }
    }

    .cols {
      ul {
        margin-top: 0;
      }

      li {
        padding-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.cols-hr {
  ul {
    grid-gap: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 0;
    overflow: hidden;
  }

// TODO: Rework or remove (related to layout fallback mixin)

//   li {
//     position: relative;
//     top: -1px;
//     border-top: 1px solid #ddd;
//
//     &::before {
//       content: "";
//       display: block;
//       position: absolute;
//       top: -1px;
//       width: 300%;
//       border-top: 1px solid #f00;
//     }
//   }
}

// --- links / buttons ---

// cta / structure

.cta-message {
  background-color: $gym-white;
  padding-top: 2em;
  padding-bottom: 2em;

  h2 {
    letter-spacing: .035rem;
    margin-top: -.3rem;
  }
}

.cta,
.cta-message,
.cta-message h2 {
  text-align: center;
}

.cta-left {
  text-align: left;
}

.cta {
  margin-top: 1.2em;
}

.take5--catalog-section .cta {
  align-self: end;
  margin-top: 0.4em;
}

// --- grid layout ---

@include grid-support;
