#take5-list figure > a {
    display: block;
    height: 0;
    background-color: #d2d2d2;
    padding-bottom: 44.444444444444444%;
    border: 1px solid #ddd;
    border-bottom: 0;
    overflow: hidden;
  }
  
  #take5-list .img-responsive {
    display: inline-block;
    margin-top: -5%;
  }
  
  #take5-list .course-description h2 {
    margin-top: 0;
  }