---
---
@import 'variables';
@import 'mixins';

@include initial-resets;

/* remove border from linked images  */

[role="main"] a.img-link:hover {
  border-bottom: none;
}

/* gym button */

[role="main"] .gym-button {
  width: auto !important; /* !override / shrink-wrap */
  padding: 1.2em 2.2em !important; /* !override */
  border-radius: 3px;
}

/* gym text */

[role="main"] a.gym-link-secondary {
  color: inherit;
  border-bottom: 2px solid #f8971d;
}

[role="main"] a.gym-link-secondary:hover,
[role="main"] a.gym-link-secondary:focus {
  color: inherit;
  border-bottom: 2px solid #444 !important; /* ! */
}

/* --- #main --- */

/* !override / reset/rescale Bootstrap (3) handiwork — future-friendly */


[role="main"] .main-content {
  padding-left: 0;
  padding-right: 0;
}

/* !override / reset/rescale font-size adjustment */

/* !override / color */



/* reset default (text) links */

#main .title a,
#main [class="all-caps"] a {
  line-height: 1.35;
}

#main .title a,
#main a:not([class]) {
  color: #222;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid #222;
  margin-bottom: -0.125rem;
}

#main .title a:hover,
#main .title a:focus,
#main .title a:active,
#main a:not([class]):hover,
#main a:not([class]):focus,
#main a:not([class]):active {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222 !important;
}

#main .title a:after,
#main [class="all-caps"] a:after,
#main li > a:not([class]):after {
  content: "";
  display: block;
  padding-top: .5625rem;
  outline: none;
}

/* --- typography --- */

/* headings / margin reset */

[role="main"] h1,
[role="main"] h2,
[role="main"] h3,
[role="main"] h4,
[role="main"] h5,
[role="main"] h6 {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
}

[role="main"] h1 {
  letter-spacing: .025em;
}

#featured h3 {
  letter-spacing: .035em;
}

[role="main"] h3 {
  letter-spacing: 0;
  text-transform: none;
}

/* paragraphs */

[role="main"] p {
  font: normal 1.15em/1.5 "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
}

/* typographical details */

#main .all-caps {
  text-transform: uppercase;
}

.tutorial b.all-caps {
  font-size: 80%;
  letter-spacing: .05rem;
}

.tutorial b.all-caps + h3 {
  margin-top: .6rem;
}

.take5--recent-content {
  border-top: 1px dashed #ccc;
}

#main .no-wrap {
  color: inherit;
  white-space: nowrap;
}

/* --- take-5 catalog --- */

/* --- #about --- */

/* !override background-color w/ ID selector/combinator */

#about {
  background-color: #d2d2d2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-bottom: 1px dashed #bbb;
}

#about * {
  color: #222;
}

#about .banner-content {
  background-color: inherit;
  padding-bottom: 0;
}


#main h1 {
  font-size: 2.25em;
}

#about p {
  font: normal 1.25em/1.45 "Helvetica Neue", Helvetica, sans-serif;
  margin-top: .6em;
}

#about p strong:first-child {
  display: block;
}

main h3 {
  font-size: 1.4em;
  line-height: 1.15;
}

#main .section header p {
  color: #444;
}

/* --- section --- */

.section {
  padding-top: 1.2em;
  margin-bottom: 1.2em;
}

.section header p {
  font: normal 1.25em/1.45 "Helvetica Neue", Helvetica, sans-serif;
}

.section-content {
  background: #fff;
  padding: 1.2em;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.section-content > header {
  margin-bottom: 1.6em;
}

.section header {
  margin-top: .6em;
}

.tutorial h3 {
  line-height: 1.15;
}

[data-duration] {
  position: relative;
  overflow: hidden;
}

[data-duration]::after {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  content: attr(data-duration);
  font: normal 80%/.9375 "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: .065rem;
  text-indent: .1rem;
  color: #fff;
  background-color: #222;
  padding: .6rem;
  border: 1px solid #fff;
  border-radius: 2px;
}

/* --- take-5 tutorial --- */
.take5 {
  &--main {
    background-color: #fff;
  }
  
  &--main .embed-full-width {
    background-color: #d2d2d2;
    border-top: 1px solid #444;
    border-bottom: 1px solid #bbb;
  }
  
  &--info {
    padding-top: 1.6em;
    padding-bottom: 1.8em;
  }
  
  &--hero-content .col-md-4 + .col-md-8 {
    padding-top: 1.6em;
  }

  @media (min-width: 62em), (min-width: 992px) {

    &--hero-content .col-md-4 + .col-md-8 {
      float: right;
      padding-top: 0;
    }
  
    &--featured {
      margin-right: 1.2em;
    }
  
  }

  &--featured > header {
    margin-bottom: 1.4em;
  }
  
  &--featured .tutorial {
    padding: 0 1em 1.2em;
    border: 1px solid #ddd;
    border-radius: 0 0 3px 3px;
  }
  
  &--featured .tutorial header {
    margin-top: 1em;
  }
  
  &--featured .tutorial .artwork {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin-left: -1em;
    margin-right: -1em;
  }
  
  &--info .title {
    font-size: 2.05em;
    margin-top: -.25rem;
  }

  &--info .description {
    font-size: 1.15em;
  }
  
  &--info .instructor {
    font-size: 1em;
    margin-top: .6em;
  }
  
  &--resources {
    margin-top: 1.4em;
  }

  @at-root #main .take5--featured .title {
    font-size: 1.85em;
    margin-top: 0;
  }

  @media (max-width: 62em) {

    &--resources {
      padding-top: 1.4em;
      border-top: 1px dashed #ccc;
      margin-top: 1.6em;
    }
   
    &--hero-content .take5--resources {
      border-top: 0;
      margin-top: 0;
    }
  }
}



/* add #main for specificity override */

#main {
  .take5--featured > header h2,
  .take5--recent-tutorials > header h2,
  .take5--resources h2,
  .take5--recommended h2 {
    font-size: 1.55em;
    letter-spacing: .035rem;
  }
}

.course header,
.tutorial header {
  margin-top: .8em;
}

.subhead-topic,
.subhead-datetime {
  font: bold .85em/1.15 "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  letter-spacing: .05rem;
  word-spacing: .05rem;
  text-transform: uppercase;
  text-align: left;
}

.tutorial .subhead-topic,
.tutorial .subhead-datetime {
  margin-bottom: .6rem;
}

.tutorial .subhead-topic {
  font-weight: 900;
}

.take5--recommended .tutorial .subhead-topic {
  margin-top: 1.6rem;
  margin-bottom: .8rem;
}

.subhead-datetime {
  display: inline-block;
}

#tutorial-resources p {
  font-size: 1em;
  margin-top: .5rem;
}

.take5--resources-list {
  padding-top: 1.2em;
  border-top: 1px dashed #ccc;
  margin-top: 1.4em;

  header {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    padding-left: 1.2em;
  }

  li {
    margin-top: .6em;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }
  }
}

.take5--upcoming-list {
  padding-top: 0;
}

.take5--upcoming-list ul,
.take5--topics-menu-list ul {
  list-style: none url();
  padding-left: 0;
}

.take5--topics-menu-list ul {
  border-top: 1px dashed #ccc;
  margin-top: 1.4em;
}

.take5--upcoming-list li,
.take5--topics-menu-list li {
  padding-top: .8em;
  padding-bottom: .8em;
  border-bottom: 1px dashed #ccc;
  margin-top: 0;
}

.take5--upcoming-list .subhead-datetime {
  margin-bottom: .8rem;
}

.take5--upcoming-list h4 {
  text-transform: none;
}

.subhead-datetime time b {
  display: inline-block;
}

details.take5--transcript {
  margin-top: 1.2em;
}

#tutorial-transcript ol,
#tutorial-transcript ul,
#tutorial-transcript blockquote {
  margin-top: 1em;
}

#tutorial-transcript li {
  font-size: 1.15em;
  line-height: 1.45;
}

#tutorial-transcript [class*="language-"] {
  white-space: pre-wrap;
}

#tutorial-transcript [class*="language-"],
#tutorial-transcript [class*="language-"] + p,
#tutorial-transcript .example,
#tutorial-transcript .example + p {
  margin-top: 1.6675em;
}

#tutorial-transcript [data-language] [class*="language-"] {
  padding-right: 1.2em;
}

#tutorial-transcript [data-language="markup"]::before {
  content: "html";
}

#tutorial-transcript .example {
  background-color: transparent;
  padding: 1.2em;
}

#tutorial-transcript blockquote p {
  font-size: inherit;
  line-height: inherit;
}

#tutorial-transcript blockquote p:first-child {
  margin-top: 0;
}

.take5--main {
  summary {
    display: list-item;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover b,
    &:focus b,
    &:active b {
      border-bottom: 2px solid #222;
    }

    b {
      font-weight: normal;
      font-family: sans-serif;
      vertical-align: -.05em;
      padding-bottom: 2px;
      border-bottom: 1px solid #222;
      margin-bottom: -2px;
    }
  }
}

.take5 {
  &--topics-menu {
    padding-bottom: 1.4em;
    border-bottom: 1px dashed #ccc;
  }
  
  &--topics-menu[open] {
    padding-bottom: 0;
    border-bottom: 0;
  }
}



@media (max-width: 48em), (max-width: 991px) {

  .take5--hero-content .take5--resources,
  #tutorial-topics {
    margin-top: -.2em;
  }

  #tutorial-topics summary b::before {
    content: "Browse" "\00a0";
  }

}

@media (min-width: 62em), (min-width: 992px) {

  .take5--main .col-md-4 {
    float: right;
  }

  #tutorial-resources {
     margin-top: 0;
   }

  #tutorial-resources summary,
  #tutorial-topics summary {
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
  }

  #tutorial-resources summary b,
  #tutorial-topics summary b {
    float: left;
    font: 900 1.55em/1.08 "brandon-grotesque", "Helvetica Neue", Helvetica, sans-serif;
    color: #222;
    letter-spacing: .035rem;
    text-transform: uppercase;
    vertical-align: 0;
    visibility: visible;
  }

  #tutorial-resources summary:hover b,
  #tutorial-resources summary:focus b,
  #tutorial-resources summary:active b,
  #tutorial-topics summary:hover b,
  #tutorial-topics summary:focus b,
  #tutorial-topics summary:active b {
    border-bottom: 0 none;
  }

}
.take5 {
  &--hero-content,
  &--recent-content {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
  }
  
  &--recommended-content {
    padding-bottom: 1.2em;
    border-bottom: 1px dashed #ccc;
    border-top: 1px dashed #ccc;
  }
  
  &--recommended {
    padding-top: 1.6em;
    padding-bottom: 1em;

    header:first-child {
      margin-bottom: 1em;
    }
    
    section header {
      margin-top: .6em;
    }
  }
}

// SASS placeholder to combine rules
%tutorial-artwork {
  text-align: center;
  height: 0;
  background-color: #d2d2d2;
  padding-bottom: 44.444444444444444%;
  border: 1px solid #ddd;
  overflow: hidden;
}

.tutorial .artwork,
.take5--recommended .artwork {
  @extend %tutorial-artwork;
}

%tutorial-artwork-img {
  display: inline-block;
  margin-top: -5%;
}

.tutorial .artwork img,
.take5--recommended .artwork img {
  @extend %tutorial-artwork-img;
}

/* --- catalog view --- */
.take5 {
  &--catalog-section {
    background-color: #ebebeb;
    padding-top: 0;
    padding-bottom: 1.4em;

    .take5--recent-tutorials {
      padding-top: 1.6em;
    }
  
    .tutorial {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0 0 3px 3px;

      .artwork {
        border: 0;
        border-bottom: 1px solid #ddd;
      }
      
      header {
        padding: 1em;
        margin-top: 0;
      }
    }
  }
}

/* --- links / buttons --- */

/* cta / structure */

.cta-message {
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;

  h2 {
    letter-spacing: .035rem;
    margin-top: -.3rem;
  }
}

.cta,
.cta-message,
.cta-message h2 {
  text-align: center;
}

.cta-left {
  text-align: left;
}

.cta {
  margin-top: 1.2em;
}

/* back to top */

.to-top-link {
  margin-top: 1.2em;

  b {
    color: #444;

    &::before {
      display: inline-block;
      content: "↑";
      font-family: monospace, monospace;
      vertical-align: baseline;
      margin-right: .25em;
    }
  }
}

/* --- grid layout --- */

@include grid-support;
