/* --- !override / reset / all initial --- */

#content > .container,
#content > .container > .row,
#content > .container > .row > .col-md-12 {
  align-content:stretch;align-items:stretch;align-self:auto;animation-delay:0s;animation-direction:normal;animation-duration:0s;animation-fill-mode:none;animation-iteration-count:1;animation-name:none;animation-play-state:running;animation-timing-function:ease;backface-visibility:visible;background-blend-mode:normal;border-spacing:0;bottom:auto;box-decoration-break:slice;box-shadow:none;box-sizing:content-box;break-after:auto;break-before:auto;break-inside:auto;caption-side:top;caret-color:auto;clear:none;clip:auto;clip-path:none;color:initial;column-count:auto;column-fill:balance;column-gap:normal;column-rule-color:currentcolor;column-rule-style:none;column-rule-width:medium;column-span:none;column-width:auto;content:normal;counter-increment:none;counter-reset:none;cursor:auto;display:inline;empty-cells:show;filter:none;flex-basis:auto;flex-direction:row;flex-grow:0;flex-shrink:1;flex-wrap:nowrap;float:none;font-family:initial;font-feature-settings:normal;font-kerning:auto;font-language-override:normal;font-size:medium;font-size-adjust:none;font-stretch:normal;font-style:normal;font-synthesis:weight style;font-variant:normal;font-variant-alternates:normal;font-variant-caps:normal;font-variant-east-asian:normal;font-variant-ligatures:normal;font-variant-numeric:normal;font-variant-position:normal;font-weight:400;grid-auto-columns:auto;grid-auto-flow:row;grid-auto-rows:auto;grid-column-end:auto;grid-column-gap:0;grid-column-start:auto;grid-row-end:auto;grid-row-gap:0;grid-row-start:auto;grid-template-areas:none;grid-template-columns:none;grid-template-rows:none;height:auto;hyphens:manual;image-rendering:auto;image-resolution:1dppx;ime-mode:auto;isolation:auto;justify-content:flex-start;left:auto;letter-spacing:normal;line-break:auto;line-height:normal;mask-clip:border-box;mask-composite:add;mask-image:none;mask-mode:match-source;mask-origin:border-box;mask-position:0 0;mask-repeat:repeat;mask-size:auto;mask-type:luminance;max-height:none;max-width:none;min-width:0;mix-blend-mode:normal;object-fit:fill;object-position:50% 50%;opacity:1;order:0;orphans:2;outline-color:initial;outline-offset:0;outline-style:none;outline-width:medium;overflow:visible;overflow-wrap:normal;overflow-x:visible;overflow-y:visible;page-break-after:auto;page-break-before:auto;page-break-inside:auto;perspective:none;perspective-origin:50% 50%;position:static;quotes:initial;resize:none;right:auto;ruby-align:space-around;ruby-merge:separate;ruby-position:over;scroll-behavior:auto;tab-size:8;table-layout:auto;text-align:initial;text-align-last:auto;text-combine-upright:none;text-decoration-color:currentcolor;text-decoration-line:none;text-decoration-style:solid;text-emphasis-color:currentcolor;text-emphasis-position:over right;text-emphasis-style:none;text-indent:0;text-justify:auto;text-orientation:mixed;text-overflow:clip;text-rendering:auto;text-shadow:none;text-transform:none;text-underline-position:auto;top:auto;touch-action:auto;transform:none;transform-box:border-box;transform-origin:50% 50% 0;transform-style:flat;transition-delay:0s;transition-duration:0s;transition-property:all;transition-timing-function:ease;vertical-align:baseline;visibility:visible;white-space:normal;widows:2;width:auto;will-change:auto;word-break:normal;word-spacing:normal;word-wrap:normal;writing-mode:horizontal-tb;z-index:auto;background:0 0;border-color:currentcolor;border-radius:0;border-style:none;border-width:medium;list-style:disc;margin:0;padding:0;
}

/* --- smooth scrolling --- */

html {
  scroll-behavior: smooth;
}

/* --- flexible images --- */

main img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

main figure {
  text-align: center;
  overflow: hidden;
}

main figcaption {
  text-align: left;
}

/* gym button */

#main .gym-button {
  width: auto;
  padding: 1.2em 1.4em;
}

/* gym text */

[role="main"] a.gym-link-secondary {
  color: inherit;
  border-bottom: 2px solid #f8971d;
}

[role="main"] a.gym-link-secondary:hover,
[role="main"] a.gym-link-secondary:focus {
  color: inherit;
  border-bottom: 2px solid #444 !important; /* ! */
}

/* reset default (text) links */

[role="main"] a:not([class]) {
  color: #222;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #222;
  margin-bottom: -2px;
}

[role="main"] a:not([class]):hover,
[role="main"] a:not([class]):focus,
[role="main"] a:not([class]):active {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid #222 !important;
}

/* --- #main --- */

/* !override / reset/rescale Bootstrap (3) handiwork — future-friendly */

#main {
  font-size: 16px;
}

[role="main"] .main-content {
  padding-left: 0;
  padding-right: 0;
}

/* !override / reset/rescale font-size adjustment */

#main .gym-button {
  font-size: 105%;
}

/* !override / color */

#main .gym-button b {
  color: #fff;
}

#main .gymlink,
#main .gymlink * {
  color: #f8971d;
}

/* !override / remove padding-bottom  */

#main .container-fluid {
  padding-bottom: 0;
}

/* --- typography --- */

/* headings / margin reset */

[role="main"] h1,
[role="main"] h2,
[role="main"] h3,
[role="main"] h4,
[role="main"] h5,
[role="main"] h6 {
  color: #222;
  margin-top: 0;
  margin-bottom: 0;
}

#main h1 {
  font-size: 2.25em;
}

#main h3 {
  font-size: 1.4em;
  line-height: 1.15;
  letter-spacing: 0;
  text-transform: none;
}

/* paragraphs */

[role="main"] p {
  font: normal 1.15em/1.45 "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
}

/* typographical details */

#main .all-caps {
  text-transform: uppercase;
}

#main .nowrap,
#main .no-wrap {
  font: inherit;
  color: inherit;
  white-space: nowrap;
}

/* --- webinars / catalog view --- */

/* --- #about --- */

/* !override background-color w/ ID selector/combinator */

#about {
  background-color: #d2d2d2;
  padding-top: 1.6em;
  padding-bottom: 1.6em;
  border-bottom: 1px dashed #bbb;
}

#about h1,
#about p {
  color: #222;
}

#about .banner-content {
  background-color: inherit;
  padding-bottom: 0;
}

#about p {
  font: normal 1.25em/1.45 "Helvetica Neue", Helvetica, sans-serif;
  margin-top: .6em;
}

/* --- webinar --- */

/* grid layout  */

@media (min-width: 40em) {

  #featured-webinar {
    grid-column: span 2;
  }

}

@media (min-width: 64em) {

  #featured-webinar {
    grid-column: span 3;
  }

}

/* --- webinar--card --- */

.webinar--card {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: #222;
  border-top: 1em solid #ccc;
}

.webinar--main {
  padding: 1.2em 1.2em 0;
}

.webinar--main header {
  max-width: 18.25em;
}

.webinar--main header .topic,
.webinar--main header .title {
  color: #fff;
}

.webinar--main header .topic {
  font-size: 1em;
  line-height: 1;
  color: #999;
  letter-spacing: .15rem;
  margin-top: -1px;
  margin-bottom: 1.2rem;
}

/* topics */

.webinar .design {
  border-top-color: #d73158;
}

.webinar .dev {
  border-top-color: #764c9f;
}

.webinar .skills {
  border-top-color: #2c9959;
}

.webinar .ux {
  border-top-color: #5ca5a0;
}

.webinar--main header .subhead {
  display: block;
  max-width: 24rem;
  font-size: .55em;
  line-height: 1.35;
  color: #fff;
  letter-spacing: .05rem;
  margin-top: .75rem;
}

.webinar--main p {
  font-size: 1em;
  color: #ccc;
}

.webinar--main .datetime {
  color: #fff;
}

/* --- cta --- */

.webinar--cta {
  color: #fff;
  padding: 1.2em;
}

.webinar--cta p {
  font-size: 1em;
  margin-top: 0;
}

/* --- featured webinar --- */

#featured-webinar header,
#featured-webinar header .subhead {
  max-width: none;
}

#featured-webinar .guest-speakers {
  color: #fff;
}

#guest-speaker-headshots {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
}

#guest-speaker-headshots li {
  margin-top: 1.2em;
}

#guest-speaker-headshots figure {
  text-align: left;
}

#guest-speaker-headshots img,
#guest-speaker-headshots figcaption {
  display: inline;
}

#guest-speaker-headshots img {
  width: 3.5em;
  border: 1px solid #999;
  margin-right: 1em;
}

#guest-speaker-headshots figcaption {
  font: bold 1em/1.25 "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  vertical-align: middle;
}

@media (min-width: 58em) {

  #featured-webinar .webinar--card {
    display: block;
    overflow: hidden;
  }

  #featured-webinar .webinar--main header {
    float: left;
    width: 50%;
  }

  #featured-webinar .webinar--main .title {
    font-size: 2.5em;
  }

  #featured-webinar .short-description,
  #featured-webinar .datetime,
  #featured-webinar .webinar--info p,
  #guest-speaker-headshots figcaption {
    font-size: 1.15em;
  }

  #featured-webinar .webinar--info {
    position: relative;
    top: .5em;
    left: 1.6em;
    width: 48%;
    margin-left: 48%;
  }

  #featured-webinar .webinar--cta {
    clear: both;
  }

  #guest-speaker-headshots img {
    width: 5.5em;
  }

}

/* legacy layout / fallback  */

#featured-webinar {
  width: 100%;
  margin-top: 0;
}

/* --- grid layout --- */

/* --- legacy columns (inline-block) w/ breakpoints --- */

.cols > ul {
  list-style: none;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.cols ul > li {
  overflow: hidden;
}

@media (min-width: 40em) {

  .cols {
    padding-bottom: 1px; /* overflow height adjustment (hack) -- useful when nested content has border */
    overflow: hidden;
  }

  .cols > ul {
    margin-left: -.6em;
    margin-right: -.6em;
  }

  .cols > ul li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: .6em;
    padding-right: .6em;
    margin-top: 1.2em;
    margin-right: -4px;
  }

}

@media (min-width: 58em) {

  .cols > ul li {
    width: 50%;
  }

}

@media (min-width: 64em) {

  .cols > ul li {
    width: 33.333333333333333%;
  }

}

/* --- modern columns (grid) --- */

@supports (display: grid) {

  .cols > ul {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1.2em;
  }

  @media (min-width: 36em) {

    .cols > ul {
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }

  }

/* override -- legacy layout -- start */

  .cols,
  .cols > ul li {
    overflow: visible;
  }

  .cols > ul,
  .cols > ul li {
    margin-top: 0;
    margin-right: 0;
  }

  .cols > ul {
    margin-left: 0;
  }

  .cols > ul li {
    display: inherit;
    width: auto;
    box-sizing: content-box;
    padding-left: 0;
    padding-right: 0;
  }

  /* override -- legacy layout -- end */

}

/* secondary button */

/* secondary button */

#main .gym-button-secondary {
  color: #fff;
  background-color: transparent;
  border: 2px solid #f8971d;
}

#main .gym-button-secondary b {
  color: inherit;
  vertical-align: text-top;
}

#main .gym-button-secondary:hover,
#main .gym-button-secondary:focus,
#main .gym-button-secondary:active {
  border-color: #a6a6a6;
}

/* main / article */

main.content {
  display: block;
  max-width: 72em;
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  margin: 0 auto;
  overflow: hidden;
}

main article {
  padding: 2.2em;
  box-sizing: border-box;
}

@media (min-width: 60em) {

main article {
  float: left;
  width: 75%;
  }

}

/* typographic style / basic */

main h1,
main h2,
main h3 {
  letter-spacing: .02em;
}

.main-header {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: -.2em;
  margin-bottom: 1.8em;
}

.main-header h1,
.main-header h2 {
  font-weight: 900;
  font-size: 2.25em;
  line-height: 1.05;
  letter-spacing: .02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  }

/* offset "live event" style */

.event-header {
  margin-top: -.21em;
  margin-left: -.3em;
  margin-bottom: 1.3em;
}

@media (min-width: 39em) {

  .event-header {
    margin-bottom: 2em;
  }

}

.event-header h1,
.event-header h2 {
  display: inline-block;
}

/* "live event" style */

.event-header h1 {
  background: #f8971d;
  padding: .21em .2em .1em .3em;
  margin-right: .2em;
}

.event-header h2 {
  padding-top: .21em;
  padding-bottom: .1em;
}

.webinar-content p {
  font: normal 1em/1.5 "Helvetica Neue", "Helvetica", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

.webinar-content h2 + ul {
  padding-left: 1.15em;
  margin-top: 1.2em;
}

.webinar-content h2 + ul li {
  line-height: 1.35;
  margin-top: .6em;
}

#main p.call-out {
  font: normal 1.4em/1.5 brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
}

@media (min-width: 36em) {

  #main p.call-out {
    font-size: 1.6em;
    line-height: 1.4;
  }

}

/* event banner hero / title, speaker(s), datetime */

.event-banner-hero {
  padding: 2em 2.2em;
  margin: 0 -2.2em;
}

#main .event-banner-hero h1 {
  font-weight: 900;
  font-size: 2.2em;
  line-height: 1.2;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .4em;
}

#main .event-banner-hero h2 {
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: .8em;
}

#main .event-banner-hero h3 {
  line-height: 1.3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

/* event banner theme / background-color */

/* reddish */

.event-theme-design {
  background: #d73158;
}

/* purple */

.event-theme-dev {
  background: #764c9f;
}

/* blueish */

.event-theme-ux {
  background: #5ca5a0;
}

/* green */

.event-theme-skills {
  background: #2c9959;
}

/* event video / wistia embed */

.event-video {
  position: relative;
  height: 0;
  background: #ebebeb;
  padding-bottom: 56.25%;
  margin: 2em 0;
}

/* wistia and youtube friendly */

.event-video .wistia_embed,
.event-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* form / registration */

.registration-closed {
  background: #ebebeb;
  padding: 1.6em 1.2em;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 2em;
  }

.registration-closed h2 {
  font-family: brandon-grotesque, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 2.2em;
  line-height: 1.1;
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 0;
}

.registration-closed p {
  margin-bottom: 0;
}

.event-form {
  color: #222;
}

.event-form fieldset {
  border: 0;
  padding: 0;
}

.event-form fieldset legend {
  font: 900 1.6em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: .04em;
  border: 0;
}

.event-form fieldset ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.event-form fieldset li {
  font-size: 1em;
  margin: 1.4em 0 0;
  }

.event-form fieldset li:first-child {
  margin-top: 0;
}

.event-form label {
  display: block;
  font: normal 1em/1.35 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: .6em;
  }

.event-form fieldset input,
.event-form .optional {
  display: block;
  width: 100%;
  font: normal 1em/1.15 "Helvetica Neue", Helvetica, sans-serif;
  background: none;
  padding: .5em;
  border: 1px solid #ccc;
  border-bottom: 2px solid #f8971d;
  border-radius: 2px;
  box-sizing: border-box;
  }

.event-form label.error {
  font-weight: bold;
  color: #d9534f;
  margin-top: .5em;
  margin-bottom: -.5em;
  }

.event-form .optional {
  line-height: 1.4;
  margin-bottom: 1.4em;
  }

.event-form p.small-print {
  line-height: 1.25;
  margin-bottom: 1.2em;
}

.event-form p.small-print small {
  font-size: .925em;
  line-height: 1.35;
}

@media (max-width: 32em) {

  #main .event-form button.gym-button {
    width: 100%;
  }

}

/* sidebar */

main aside {
  padding: 2.2em 2.2em 0;
  border-top: 1px dashed #ccc;
  box-sizing: border-box;
}

main aside header {
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
  margin-top: -.2em;
  margin-bottom: 1.6em;
}

@media (min-width: 60em) {

  main aside {
    float: right;
    width: 25%;
    padding: 1.6em;
    border-top: 0;
    border-left: 1px dashed #ccc;
    margin-left: -1px;
  }

  main aside header {
    padding-top: 1.2em;
  }

}

#main aside h1 {
  font: 900 1.6em/1.1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  }

main aside h2 {
  font: bold 1.2em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
}

.event-bio {
  margin-bottom: 2em;
}

.event-bio ~ header {
  margin-top: 2.2em;
}

.event-bio img {
  max-width: 8em;
  border: 1px solid #ebebeb;
}

.event-bio h2 {
  margin-top: 1.3em;
  margin-bottom: .8em;
}
