---
layout: raw
permalink: /partials/account-deletion/
---
<div id="deletion-helper" class="hide" style="display: none;">
  <p>To delete your data, please fill out <a href="https://privacyportal.onetrust.com/webform/05f24bb5-a0c4-43d4-966e-05606d5be9ca/93b6b82e-baf8-4adc-8998-0df20831be6d" rel="noopener" target="_blank">our data deletion request form</a>.</p>
  <p>Be advised that deleting your data will remove any certificates/badges that you have earned on the Gymnasium. Please back up (or download) your certificates/badges immediately if you plan on keeping them.</p>
</div>
