---
layout: raw
permalink: /partials/sidebar-generic/
---
<link rel="stylesheet" href="{{ site.url }}/css/static-sidebar-content.css?{{ site.time | date:'%s' }}">

<!-- Temporary HTML for style hooks -->
<div class="find-courses">
<div class="sidebar sidebar-static">
<!-- / Temporary HTML for style hooks -->

<h1>Featured Courses</h1>

<section>
  <figure>
    <a href="{{ site.gymurl }}/courses/course-v1:GYM+016+0/about">
      <img class="img-responsive" alt="Designing Accessible and Responsive Websites cover image." srcset="{{ site.url }}/img/course-artwork/svg/gym-016.svg" src="{{ site.url }}/img/course-artwork/png/gym-016.png" width="574" height="488">
    </a>
    <figcaption>
      <a href="{{ site.gymurl }}/courses/course-v1:GYM+016+0/about" class="gym-button"><b>Learn More</b></a>
    </figcaption>
  </figure>
  <h2>Designing Accessible and Responsive Websites</h2>
  <p>Learn accessible and responsive design best practices to help make a more user-friendly web for everyone.</p>
</section>

<section>
  <figure>
    <a href="{{ site.gymurl }}/courses/GYM/103/0/about">
      <img class="img-responsive" alt="UX Fundamentals cover image." srcset="{{ site.url }}/img/course-artwork/svg/gym-103.svg" src="{{ site.url }}/img/course-artwork/png/gym-103.png" width="574" height="488">
    </a>
    <figcaption>
      <a href="{{ site.gymurl }}/courses/GYM/103/0/about" class="gym-button"><b>Learn More</b></a>
    </figcaption>
  </figure>
  <h2>UX Fundamentals</h2>
  <p>Learn how to apply user-centered design principles to improve your website and mobile app design. A must-take course for anyone working in web design and development.</p>
</section>

<!-- Temporary HTML for style hooks -->
</div>
</div>
<!-- / Temporary HTML for style hooks -->
