---
---
/* --- REM unit override/reset --- */

:root {
  font-size: 100%;
}

/* Update brand/logo layout */

#secondary-nav .navbar-brand {
  margin-top: 1.125rem;
}

/* --- // --- */

.main-container {
  font-size: 16px;
  line-height: normal;
}

.main-container > .container *:not(h1),
.main-container > .container a:hover,
.main-container > .container a:focus {
  all: revert;
}

div.window-wrap #content {
  background-color: #fff;
}

@media (prefers-reduced-motion: no-preference) {

html {
  scroll-behavior: smooth;
}

}

#comp {

main {
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

main a:hover,
main a:focus {
  margin-bottom: -1px;
}

@media (min-width: 64em) {

main {
  display: grid;
  grid-template-columns: 18rem auto;
  grid-auto-rows: auto;
  gap: 1.2rem;
}

}

@media (min-width: 64em) and (min-height: 42.5em) {

main > header > div {
  position: sticky;
  top: 1.6rem;
  width: 100%;
}

}

main > header h1 {
  margin-top: 1rem;
}

h1,
p {
  margin-bottom: 0;
}

li h2 {
  font-size: 1.2em;
  margin-top: -0.2rem;
  margin-bottom: 0;
}

a {
  color: inherit;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 0 1.2rem;
  border-top: 1px dashed #ccc;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

nav > div:not(div:first-child) {
  margin-top: 0.6rem;
}

nav ul {
  list-style: initial;
  padding-left: 1rem;
  margin-bottom: 0;
}

nav li {
  margin-top: 0.6rem;
}

nav p {
  font-size: 0.9em;
  margin-top: 0.6rem;
}

nav a {
  display: inline-block;
  line-height: 1;
  padding: 0.2rem;
  margin-left: -0.2rem;
  margin-right: -0.2rem;
}

ul[role="list"] {
  list-style: none;
  padding-left: 0;
  margin: 1.2rem 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-auto-rows: minmax(min-content, max-content);
  gap: 1.2rem;
}

ul[role="list"] > li {
  position: relative;
  display: grid;
  grid-auto-rows: 1fr auto;
  background-color: #eee;
  padding: 2rem 2rem 0;
  border: 1px solid #000;
  border-radius: 0.1875rem;
}

ul[role="list"] li > header h2 {
  font-weight: bolder;
  line-height: 1.35;
}

ul[role="list"] details {
  margin-top: 1.2rem;
}

ul[role="list"] details summary {
  font-size: 0.9em;
  cursor: pointer;
}

ul[role="list"] details p {
  line-height: 1.4;
}

li header {
  margin-bottom: 2.2rem;
}

li aside {
  list-style: none;
  background-color: #fff;
  padding: 1.2rem 2rem;
  border-top: 1px dashed #000;
  margin: 0 -2rem;
}

.topics {
  padding-left: 0;
  margin-bottom: 0;
}

.topics li {
  display: inline;
  font-size: 0.75em;
  font-weight: normal;
  line-height: 1.65;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  margin-right: 0.4rem;
}

.topics a {
  display: inline-block;
  padding: 0.125rem 0.125rem 0;
  margin-top: 0.4rem;
  margin-left: -0.125rem;
  margin-right: 0.125rem;
}

.format:not(div) {
  font-size: 0.9em;
  font-weight: bolder;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.full .format::after,
.short .format::after {
  content: " Course";
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 0.8rem 1rem;
  border: 1px solid #222;
  border-radius: 0.1875rem;
  margin-top: 1.2rem;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #666;
}

.button + .button {
  margin-left: 0.8rem;
}

.button b {
  vertical-align: text-top;
}

.button + * {
  margin-top: inherit;
}

summary {
  display: list-item;
  cursor: pointer;
}

.info[open] {
  width: 100%;
}

.info[open] summary b {
  visibility: hidden;
}

.info[open] summary b::before {
  content: "Close ";
  visibility: visible;
}

.info[open]:not(.tutorial .info) + .button {
  display: none;
/*
  position: absolute;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  overflow: hidden;
 */
}

.info h2 {
  margin-top: 1rem;
}

.info-details {
  background-color: inherit;
  padding: 0 2rem;
  margin: 1rem -2rem 0;
}

.info-details p {
  margin-top: 0;
}

.info-details div {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin-top: 1rem;
}

.info dl dt {
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.info dl dd {
  display: list-item;
  list-style: disc;
  font-size: 0.9em;
  line-height: 1.35;
  margin-top: 0.25rem;
  margin-left: 0.8rem;
}

:target li[class] {
  display: none;
}

#design:target .design,
#web-design:target .web-design,
#html:target .html,
#css:target .css,
#figma:target .figma,
#sketch:target .sketch,
#adobe-xd:target .adobe-xd,
#invision-studio:target .invision-studio,
#virtual-reality:target .virtual-reality,
#accessibility:target .accessibility,
#design-systems:target .design-systems,
#web-development:target .web-development,
#javascript:target .javascript,
#php:target .php,
#github:target .github,
#ux:target .ux,
#prototyping:target .prototyping,
#career-skills:target .career-skills,
#productivity:target .productivity,
#time-management:target .time-management,
#full:target .full,
#short:target .short,
#tutorial:target .tutorial,
#view-all-courses:target li[class],
#view-all-formats:target li[class] {
  display: grid;
}

#design:target nav [href="#web-design"],
#web-design:target nav [href="#web-design"],
#html:target nav [href="#web-design"],
#css:target nav [href="#web-design"],
#figma:target nav [href="#web-design"],
#sketch:target nav [href="#web-design"],
#adobe-xd:target nav [href="#web-design"],
#invision-studio:target nav [href="#web-design"],
#virtual-reality:target nav [href="#web-design"],
#web-development:target nav [href="#web-development"],
#javascript:target nav [href="#web-development"],
#php:target nav [href="#web-development"],
#github:target nav [href="#web-development"],
#ux:target nav [href="#ux"],
#prototyping:target nav [href="#prototyping"],
#accessibility:target nav [href="#accessibility"],
#career-skills:target nav [href="#career-skills"],
#productivity:target nav [href="#career-skills"],
#full:target nav [href="#full"],
#short:target nav [href="#short"],
#tutorial:target nav [href="#tutorial"],
#view-all-courses:target nav [href="#view-all-courses"],
#view-all-formats:target nav [href="#view-all-formats"] {
  background-color: #ff9;
}

}

