<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-article.css?{{ site.time | date:'%s' }}" fetchpriority="high">
<link rel="preload" href="{{ site.url }}/home/img/heros/articles/advocating-for-accessibility/advocating-for-accessibility-1280w.png?{{ site.time | date:'%s' }}" as="image" media="(max-width: 75em)" fetchpriority="high">
<link rel="preload" href="{{ site.url }}/home/img/heros/articles/advocating-for-accessibility/advocating-for-accessibility-768w.png?{{ site.time | date:'%s' }}" as="image" media="(min-width: 75em)" fetchpriority="high">
<script nomodule src="{{ site.url }}/js/polyfills/picture/plugins/intrinsic-dimension/pf.intrinsic.min.js?{{ site.time | date:'%s' }}"></script>
<script nomodule src="{{ site.url }}/js/polyfills/picture/picturefill.min.js?{{ site.time | date:'%s' }}"></script>
<article class="hero-promo" id="advocating-for-accessibility">
  <div class="container">
    <div class="content">
      <div class="image">
        <a href="https://medium.com/gymnasium/advocating-for-accessibility-with-aaron-gustafson-54079c132152">
          <picture>
            <source srcset="{{ site.url }}/home/img/heros/articles/advocating-for-accessibility/advocating-for-accessibility-768w.png?{{ site.time | date:'%s' }}" width="768" height="714" media="(min-width: 1200px)">
            <img alt="Aaron wearing a blue beanie while working at the computer." src="{{ site.url }}/home/img/heros/articles/advocating-for-accessibility/advocating-for-accessibility-1280w.png?{{ site.time | date:'%s' }}" width="1280" height="720" decoding="async" fetchpriority="high">
          </picture>
        </a>
      </div>
      <div class="text">
        <header>
          <hgroup>
            <p class="subhead all-caps">
              <b>New Article</b>
            </p>
            <h1>Advocating for Accessibility with Aaron Gustafson</h1>
          </hgroup>
          <p>If you’re not sure where to get started with creating a more inclusive web, you’re not alone. (Hint: It starts with awareness.) Learn the fundamentals of accessibility from Aaron Gustafson of Microsoft in our new article.</p>
        </header>
        <div class="cta">
          <a class="gym-button gym-button-secondary" href="https://medium.com/gymnasium/advocating-for-accessibility-with-aaron-gustafson-54079c132152"><b>Read Now</b></a>
        </div>
      </div>
    </div>
  </div>
</article>
