<section class="event-bio">
    <img alt="" src="{{ site.baseurl }}/img/webinar-bio-headshots/bio-heather-oneill.jpg">
    <h2>Heather O'Neill</h2>
    <p>Heather O'Neill is a product strategist and business consultant with over a decade of experience. At Pixels for Humans, Heather helps SaaS startups grow into community-focused businesses that center people over profits. A problem solver at heart, she works with design teams to define problems, hypothesize solutions, and track success.</p>
  </section>