<section class="event-bio">
    <img alt="Jenna Bantjes" src="{{ site.baseurl }}/img/webinar-bio-headshots/bio-jenna-bantjes.jpg">
    <h2>Jenna Bantjes</h2>
    <p>Jenna Bantjes is an Experience Designer at Fresh Tilled Soil, where she uses strategic thinking and user research to conceptualize and design user interfaces. She’s also the instructor of Aquent Gymnasium’s course Prototyping for Digital Products and Websites.</p>
    <p>She has worked on a myriad of projects for major players in education, healthcare, financial tech, banking, insurance, biotech, robotics, shipping, ecommerce, equestrian management, and cybersecurity. Most notably, she was the lead designer on the latest website redesign for Harvard.edu.</p>
    <p>She lives in Southern, NH, but you can find her working and occasionally teaching or speaking in the greater Boston area.</p>

  </section>
  