<section class="event-bio">
  <img alt="Jason Pamental" src="{{ site.baseurl }}/img/webinar-bio-headshots/bio-jason-pamental.jpg">
  <h2>Jason Pamental</h2>
  <p>Jason is a design strategist, speaker, and typographer who has been leading design
    and development for over 20 years. He is also author of <cite>Responsive Typography</cite>
    for O'Reilly. Jason leads strategy, design, and development at Isovera.com, and teaches workshops
    and speaks to teams and events worldwide. For videos, slides, code, and blog posts visit rwt.io/events
    and medium.com/@jpamental.</p>
</section>
