<section class="event-bio">
  <img alt="Kevin Chisholm" src="{{ site.baseurl }}/img/webinar-bio-headshots/bio-kevin-chisholm.jpg">
  <h2>Kevin Chisholm</h2>
  <p>Kevin is a freelance front-end web developer who splits his time between New York and Florida and specializes in object-oriented JavaScript and AngularJS. Over the years, he has consulted and worked on websites for a number of notable companies including <cite>Consumer Reports</cite>, <cite>Time</cite>, <cite>People</cite>, <cite>Sports Illustrated</cite>, <cite>Travel and Leisure</cite>, ThisOldHouse.com, TDAmeritrade, and GreenMountainPower.com among others. Kevin is the instructor of the Gymnasium course <cite>JavaScript and jQuery Survival Guide</cite>.</p>
</section>
