<section class="event-bio">
  <img alt="Rachel Andrew" src="{{ site.baseurl }}/img/webinar-bio-headshots/bio-rachel-andrew.jpg">
  <h2>Rachel Andrew</h2>
  <p>Rachel Andrew is a front and back-end web developer, speaker, author/co-author of
    22 books including <cite>The New CSS Layout</cite>, and a regular contributor to
    a number of publications both on- and offline. She is also co-founder of the CMS Perch,
    Editor in Chief of <cite>Smashing Magazine</cite>, a Google Developer Expert, and an Invited Expert
    to the CSS Working Group. She writes about business and technology at rachelandrew.co.uk.</p>
</section>
