<div class="container">
  <div class="white-panel">
    <article class="courses-promo">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Most Popular This Week</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12">
                <figure>
                  <img alt="{{ site.data.courses.GYM-018.title }} cover image." src="https://thegymcms.com/{{ site.data.courses.GYM-018.poster_art }}">
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <article>
                  <header>
                    <hgroup>
                      <p class="subhead all-caps"><b>{{ site.data.courses.GYM-018.topic }}</b></p>
                      <h2><a href="https://thegymcms.com/{{ site.data.courses.GYM-018.url }}">{{ site.data.courses.GYM-018.title }}</a></h2>
                    </hgroup>
                  </header>
                  <p>{{ site.data.courses.GYM-018.short_description }}</p>
                  <div class="cta">
                    <a class="gym-button" href="https://thegymcms.com/{{ site.data.courses.GYM-018.url }}"><b>Learn More</b></a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2>Accessibility Skills</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12">
                <figure>
                  <img alt="{{ site.data.courses.GYM-016.title }} cover image." src="https://thegymcms.com/{{ site.data.courses.GYM-016.poster_art }}">
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <article>
                  <header>
                    <hgroup>
                      <p class="subhead all-caps"><b>{{ site.data.courses.GYM-016.topic }}</b></p>
                      <h2><a href="https://thegymcms.com/{{ site.data.courses.GYM-016.url }}">{{ site.data.courses.GYM-016.title }}</a></h2>
                    </hgroup>
                  </header>
                  <p>{{ site.data.courses.GYM-016.short_description }}</p>
                  <div class="cta">
                    <a class="gym-button" href="https://thegymcms.com/{{ site.data.courses.GYM-016.url }}"><b>Learn More</b></a>
                  </div>
                </article>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <h2>Benefits of Prototyping</h2>
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-12">
                <figure>
                  <img alt="{{ site.data.courses.GYM-015.title }} cover image." src="https://thegymcms.com/{{ site.data.courses.GYM-015.poster_art }}">
                </figure>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <article>
                  <header>
                    <hgroup>
                      <p class="subhead all-caps"><b>{{ site.data.courses.GYM-015.topic }}</b></p>
                      <h2><a href="https://thegymcms.com/{{ site.data.courses.GYM-015.url }}">{{ site.data.courses.GYM-015.title }}</a></h2>
                    </hgroup>
                  </header>
                  <p>{{ site.data.courses.GYM-015.short_description }}</p>
                  <div class="cta">
                    <a class="gym-button" href="https://thegymcms.com/{{ site.data.courses.GYM-015.url }}"><b>Learn More</b></a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>