<article class="courses-promo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="white-panel">
          <h2>{{ featured.gym_shorts.promo_1.label }}</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <figure>
                <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_1.id].url }}">
                  <img alt="{{ courses[featured.gym_shorts.promo_1.id].title }} cover image." src="{{ site.url }}{{ courses[featured.gym_shorts.promo_1.id].img }}" decoding="async" fetchpriority="high">
                </a>
              </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <article>
                <header>
                  <p class="subhead all-caps">
                    <b>{{ courses[featured.gym_shorts.promo_1.id].topic }}</b>
                  </p>
                  <h2>
                    <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_1.id].url }}">
                    {{ courses[featured.gym_shorts.promo_1.id].title }}
                    </a>
                  </h2>
                </header>
                <p>{{ courses[featured.gym_shorts.promo_1.id].description }}</p>
                <div class="cta">
                  <a class="gym-button natural" href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_1.id].url }}">
                    <b>{{ featured.gym_shorts.promo_1.cta }}</b>
                  </a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="white-panel">
          <h2>{{ featured.gym_shorts.promo_2.label }}</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <figure>
                <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_2.id].url }}">
                  <img alt="{{ courses[featured.gym_shorts.promo_2.id].title }} cover image." src="{{ site.url }}{{ courses[featured.gym_shorts.promo_2.id].img }}" decoding="async" fetchpriority="high">
                </a>
              </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <article>
                <header>
                  <p class="subhead all-caps">
                    <b>{{ courses[featured.gym_shorts.promo_2.id].topic }}</b>
                  </p>
                  <h2>
                    <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_2.id].url }}">
                    {{ courses[featured.gym_shorts.promo_2.id].title }}
                    </a>
                  </h2>
                </header>
                <p>{{ courses[featured.gym_shorts.promo_2.id].description }}</p>
                <div class="cta">
                  <a class="gym-button natural" href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_2.id].url }}">
                    <b>{{ featured.gym_shorts.promo_2.cta }}</b>
                  </a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="white-panel">
          <h2>{{ featured.gym_shorts.promo_3.label }}</h2>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12">
              <figure>
                <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_3.id].url }}">
                  <img alt="{{ courses[featured.gym_shorts.promo_3.id].title }} cover image." src="{{ site.url }}{{ courses[featured.gym_shorts.promo_3.id].img }}" decoding="async" fetchpriority="high">
                </a>
              </figure>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-12">
              <article>
                <header>
                  <p class="subhead all-caps">
                    <b>{{ courses[featured.gym_shorts.promo_3.id].topic }}</b>
                  </p>
                  <h2>
                    <a href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_3.id].url }}">
                    {{ courses[featured.gym_shorts.promo_3.id].title }}
                    </a>
                  </h2>
                </header>
                <p>{{ courses[featured.gym_shorts.promo_3.id].description }}</p>
                <div class="cta">
                  <a class="gym-button natural" href="{{ site.gymurl }}{{ courses[featured.gym_shorts.promo_3.id].url }}">
                    <b>{{ featured.gym_shorts.promo_3.cta }}</b>
                  </a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
