<link rel="preload" href="{{ site.url }}/home/img/heros/evergreen/courses/bg-text-1920w.png?{{ site.time | date:'%s' }}" as="image">
<link rel="preload" href="{{ site.url }}/home/img/heros/evergreen/courses/gym-gang-1280w.png?{{ site.time | date:'%s' }}" media="(min-width: 45.1em)" as="image">
<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-courses.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<article class="hero-promo" id="hero-courses">
  <div class="container">
    <div class="artwork">
      <picture>
        <source srcset="{{ site.url }}/home/img/heros/evergreen/courses/gym-gang-1280w.png?{{ site.time | date:'%s' }}" media="(min-width: 45.1em)">
        <img alt="The Gymnasium team." src="{{ site.url }}/home/img/heros/evergreen/courses/gym-gang-720w.png?{{ site.time | date:'%s' }}" width="720" height="432" decoding="async">
      </picture>
    </div>
    <div class="content">
      <header>
        <h1 class="all-caps">Learn New Skills From Experts at Your Own Pace</h1>
        <p class="description">Keep your skills fresh with free online courses and 5-minute tutorials on practical topics.</p>
      </header>
      <div class="cta">
        <a class="gym-button natural" href="https://thegymnasium.com/courses"><b>Take a Free Course</b></a>
      </div>
    </div>
  </div>
</article>
