<meta name="description" content="{{ og_description }}">
<meta name="author" content="Aquent Gymnasium">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ page_title }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AquentGymnasium">
<meta name="twitter:creator" content="@AquentGymnasium">
<meta name="twitter:url" property="og:url" content="{{ og_url }}">
<meta name="twitter:title" property="og:title" content="{{ og_title }}">
<meta name="twitter:description" property="og:description" content="{{ og_description }}">
<meta name="twitter:image" property="og:image" content="{{ og_art }}">
<meta name="twitter:image:alt" content="{{ og_img_alt }}">

<link rel="icon" href="{{ site.url }}/favicon.ico" sizes="any">
<link rel="icon" href="{{ site.url }}/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ site.url }}/apple-touch-icon.png">
<link rel="manifest" href="{{ site.url }}/manifest.json">

{% if page.robots -%}
  <meta name="robots" content="{{page.robots}}">
{%- endif %}

{%- comment -%}
Add DNS preload/prefetch meta tags to help prime the browser to fetch our resources
See here for additional notes on how to improve this and avoid browser warnings:
https://stackoverflow.com/questions/50824181/preloading-google-fonts
{%- endcomment -%}
<link rel="preconnect" href="{{ site.url }}">
<link rel="preload" fetchpriority="high" href="{{ site.url }}/css/fonts/brandon-grotesque.css?{{ site.time | date:'%s' }}" as="style">
<link rel="preload" fetchpriority="high" href="{{ site.url }}/css/fonts/font-awesome.css?{{ site.time | date:'%s' }}" as="style">
<link rel="preload" fetchpriority="high" href="{{ site.url }}/css/main.css?{{ site.time | date:'%s' }}" as="style">

{%- comment -%} TODO: investigate preloading these directly? See https://github.com/gymnasium/tracker/issues/286
<link rel="preload" href="{{ site.url }}/fonts/brandon_reg-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.url }}/fonts/brandon_bld-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="{{ site.url }}/fonts/brandon_blk-webfont.woff2" as="font" type="font/woff2" crossorigin="anonymous">
{%- endcomment -%}

<link rel="stylesheet" href="{{ site.url }}/css/fonts/brandon-grotesque.css?{{ site.time | date:'%s' }}">
<link rel="stylesheet" href="{{ site.url }}/css/fonts/font-awesome.css?{{ site.time | date:'%s' }}">
<link rel="stylesheet" href="{{ site.url }}/css/main.css?{{ site.time | date:'%s' }}">

{%- if page.css -%}
  {%- for css_file in page.css -%}
    <link rel="stylesheet" href="{{ site.url }}{{ css_file }}?{{ site.time | date:'%s' }}">
  {%- endfor -%}
{%- endif -%}

{%- comment -%}
We used to prefetch these, but we really shouldn't bother with 3rd party tracking stuff, since it can potentially slow down our site...
<link rel="dns-prefetch" href="https://api.segment.io">
<link rel="dns-prefetch" href="https://cdn.segment.com">
<link rel="dns-prefetch" href="https://api-iam.intercom.io">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
{%- endcomment -%}

