<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-live-stream.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<div id="live-stream">

<header>
  <div class="container">
    <h2>{{ hero.title }}</h2>
    <p><b>{{ hero.description }}</b> <span>{{ hero.byline }}</span></p>
  </div>
</header>

{% if hero.embed_source == "twitch" %}
  {%- include /heros/live-streams/embed-twitch.html -%}
{% else hero.embed_source == "youtube" %}
  {%- include /heros/live-streams/embed-youtube.html -%}
{% endif %}

</div>