<script async src="https://player.twitch.tv/js/embed/v1.js"></script>
<div id="twitch-video-embed"></div>
<script>
  var options = {
    channel: "{{ hero.twitch_channel }}",
    layout: "{{ hero.twitch_layout }}",
    width: "{{ hero.twitch_width }}",
    height:"{{ hero.twitch_height }}",
    theme: "{{ hero.twitch_theme }}",
    // Only needed if embedded on other websites
    parent: ["{{ domain_parent }}"]
  };
  var player = new Twitch.Player("twitch-video-embed", options);
  player.setVolume(0.5);
</script>
