<link rel="stylesheet" href="{{ site.url }}/css/hero-gym-014.css">

<div class="hero-promo ux-design" id="hero-gym-014">
  <div class="container">
    <div class="row">
      <div class="col">
        <figure id="atomic-design-atom">
          <img alt="Brad Frost" src="{{ site.url }}/home/img/hero-gym-014/bio-brad-frost.jpg">
        </figure>
        <div class="content">
          <header>
            <h1>Working with Atomic Design and Pattern Lab</h1>
            <p class="byline"><b>with <a href="https://thegymnasium.com/courses/course-v1:GYM+014+0/about?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-atomic-design&utm_content=banner#course-instructor" title="Meet the Instructor">Brad Frost</a></b> — author of <cite class="no-wrap">Atomic Design</cite></p>
            <p>This free course teaches you how the Atomic Design methodology helps teams create successful user interface (UI) design systems and how to use Pattern Lab to create reusable UI components and dynamic prototypes.</p>
          </header>
          <div class="cta">
            <a class="gym-button gym-button-shrink-wrap" title="Get Started" href="https://thegymnasium.com/courses/course-v1:GYM+014+0/about?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-atomic-design&utm_content=banner"><b>Earn a Badge</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
