<link rel="preload" href="{{ site.url }}/home/img/hero-webinar-05-2020/ethanmarcotte-2020-1080w.jpg" as="image" media="(min-width: 70em)">
<link rel="preload" href="{{ site.url }}/home/img/hero-webinar-05-2020/ala-306-rwd-2010-20-720w.png" as="image" media="(min-width: 70em)">
<link rel="stylesheet" href="{{ site.url }}/css/hero-webinar-05-2020.css">

<div class="hero-promo hero-promo-webinar">
  <div class="container">
    <div class="row">
      <div class="col">
        <span class="background-image" role="img" aria-label="A smartphone screen displaying Ethan Marcotte’s Responsive Web Design article, published on A List Apart in 2010."> </span>
        <div class="content">
          <article>
            <header>
              <h2>Free Webinar</h2>
              <h1 class="all-caps"><span class="break">A Decade of</span> Responsive <span class="no-wrap">Web Design</span></h1>
              {% if site.data.webinars.web0013-decade-of-responsive-web-design.video == true %}
              <h3>Recording Available</h3>
              <p><strong>Let’s celebrate the past decade of responsive web design</strong> by catching up with its founder, <strong>Ethan Marcotte</strong>, in our action-packed webinar.</p>
              {%- else -%}
              <h3>Streaming May 26, <span class="no-wrap">2 PM EDT</span></h3>
              <p><strong>Join us for a webinar with Ethan Marcotte</strong> as we celebrate the past decade of his groundbreaking work and discuss inclusivity, accessibility, and all things responsive <span class="no-wrap">web design</span>.</p>
              {%- endif -%}
            </header>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/webinars/decade-of-responsive-web-design">
              <b>
              {% if site.data.webinars.web0013-decade-of-responsive-web-design.video == true %}
              Watch Now
              {% else %}
              Register Now
              {%- endif -%}
              </b>
            </a>
            </div>
          </article>
        </div>
        <span class="background-image" role="img" aria-label="A computer screen displaying the homepage of Ethan Marcotte’s personal website."> </span>
      </div>
    </div>
  </div>
</div>
