<link rel="stylesheet" href="{{ site.url }}/css/hero-dfg-2019.css">

<div class="hero-promo" id="hero-dfg-2019">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <header>
            <h1>Designing <span class="no-wrap">for Good</span> <span class="block date"><span class="ltrsp-l">20</span>19</span></h1>
            <p><strong>Put your creativity to good use by entering the Designing for Good competition.</strong> Just submit a short video pitching a design project for your favorite nonprofit and you could win $5,000 to complete it. Deadline to enter is February 22.</p>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://designingforgood.com/?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_design-grants&utm_content=11022018" target="_blank" rel="noopener"><b>Learn More</b></a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
