<link rel="stylesheet" href="{{ site.url }}/css/hero-webinar-12-2018.css">

<div class="hero-promo webinar-12-2018" id="planning-for-pixels">
  <span class="background-image-alt" role="img" aria-label="An agile design plan outlined in marker on an office whiteboard."> </span>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <header>
            <h2>Free Webinar</h2>
            <h1 class="all-caps">Planning Before Pixels: Create With Purpose</h1>
            <p class="presenters"><strong>with Jen Kramer and <span class="no-wrap">Heather O’Neill</span></strong></p>
            <p>Learn how (and why) to take the guesswork out of designing.</p>
            <h3>Tues. 12/11 <span class="no-wrap">2:30 PM EST</span></h3>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://gymnasium.github.io/cms/webinars/planning-before-pixels/?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-planning-before-pixels&utm_content=banner"><b>Register Now</b></a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
