<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/hero-collections.css">
<div class="hero-promo">
  <div class="container">
    <div class="hero-content-copy">
      <header>
        <h1>Refresh <span class="no-wrap">Your Skills</span></h1>
        <p class="description">Explore our free courses and tutorials on <a href="https://thegymnasium.com/web-development"><b>Web Development</b></a>, <a href="https://thegymnasium.com/ux-design"><b>UX Design</b></a>, <a href="https://thegymnasium.com/prototyping"><b>Prototyping</b></a>, and <a href="https://thegymnasium.com/accessibility"><b>Accessibility</b></a>.
        </p>
      </header>
    </div>
  </div>
</div>
