<link rel="stylesheet" href="{{ site.url }}/css/hero-webinar-03-2020.css">

<div class="hero-promo webinar-03-2020">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-2 guest-speakers">
        <div class="row">
          <div class="col-md-2">
            <figure class="speaker">
              <img alt="Richard Banfield" src="{{ site.url }}/img/webinar-bio-headshots/bio-richard-banfield.jpg" width="160" height="160" decoding="async">
              <figcaption><b>Richard Banfield</b></figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
        <div class="col-md-2">
            <figure class="speaker">
              <img alt="Darren Buckner" src="{{ site.url }}/img/webinar-bio-headshots/bio-darren-buckner.jpg" width="160" height="160" decoding="async">
              <figcaption><b>Darren Buckner</b></figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
        <div class="content">
          <header>
            <h2>Free Webinar</h2>
            <h1 class="all-caps"><span class="break">Remote Work:</span> <span id="canit" class="outer"><span class="inner">Can</span></span> It Work <span class="no-wrap">for You<span id="qmark"><span class="inner">?</span></span></span></h1>
            <h3>Mar 17 <span class="slash">/</span> <span class="no-wrap">3 PM EDT</span></h3>
            <p>Join us for a webinar about the realities of remote work — from communication and collaboration to time zones and transparency.</p>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/webinars/remote-work"><b>Register Now</b></a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
