<link rel="stylesheet" href="{{ site.url }}/css/hero-bbd-2020.css">

<div class="hero-promo blue-beanie-day">
  <div class="container">
    <div class="hero-content-art">
      <picture id="blue-beanie-gang">
        <source srcset="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-day-gang-2020-1280w.png" media="(min-width: 40em)">
        <img decoding="async" alt="A team of five people, of various web-related roles, all wearing blue beanies." src="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-day-gang-2020-720w.png" width="720" height="446">
      </picture>
    </div>
    <div class="hero-content-copy">
      <header>
        <h1 class="all-caps">Blue Beanie <s>Day</s> <span class="no-wrap">Month <time datetime="2020-11-30">2020</time></span></h1>
        <p class="description">Enroll in <b><a href="https://thegymnasium.com/courses/GYM/107/0/about">Modern Web Design</a></b> with web standards wiz Aaron Gustafson and learn how to make an accessible, responsive website.</p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/courses/GYM/107/0/about"><b>Celebrate Web Standards</b></a>
      </div>
    </div>
  </div>
</div>
