<link rel="stylesheet" href="{{ site.url }}/css/hero-ux-design-collection.css">

<div class="hero-promo">
  <div class="container">
    <div class="row">
      <div class="col-md-7 v-center">
        <span class="ux-display-text" aria-hidden="true"></span>
      </div>
      <div class="col-md-5 v-center">
      <div class="hero-text-content">
      <header>
      <h1><span role="text" aria-label="UX Design Collection"><span class="visuallyhidden">UX</span> Design Collection</span></h1>
      <p>Experience endless learning opportunities with our free collection of <b>UX courses</b>, <b>webinars</b>, <b>articles</b>, and <b>jobs</b>.</p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/ux-design?utm_source=Gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-ux-design-landing-page&utm_content=091019"><b>Explore UX Design</b></a>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
