<link rel="preload" href="{{ site.url }}/img/take5/posters/gym-5019-hero.jpg" as="image">
<link rel="stylesheet" href="{{ site.url }}/css/hero-take5-campaign.css">

<div class="hero-promo" id="hero-take5-campaign">
  <div class="hero-content-art">
    <div class="slide" id="slide-5"></div>
    <div class="slide" id="slide-4"></div>
    <div class="slide" id="slide-3"></div>
    <div class="slide" id="slide-2"></div>
    <div class="slide" id="slide-1"></div>
  </div>
  <div class="container">
    <div class="hero-content-copy">
      <header>
        <h2><span class="take5-brand-kern">Take 5</span></h2>
        <h1>Learn A New Skill in 5 Minutes</h1>
        <p class="description"><strong>Free video tutorials on accessibility, career skills, prototyping, UX, and web design and development.</strong></p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/courses/take5"><b>Watch and Learn</b></a>
      </div>
    </div>
  </div>
</div>
