<link rel="stylesheet" href="{{ site.url }}/css/hero-gym-005.css">

<div class="hero-promo ux-design dark-mode-sketch" id="hero-gym-005">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
        <header>
          <h1><span class="ux-design-text block">All New</span> Introducing Sketch <span class="no-wrap">for <span class="no-wrap">UX and UI</span></span></h1>
          <div class="cta">
            <a class="gym-button gym-button-secondary" title="Learn More About Sketch" href="https://thegymnasium.com/courses/GYM/005/0/about?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-sketch-2018-update&utm_content=banner"><b>View the Course</b></a>
          </div>
        </header>
        <figure id="sketch-prototyping">
          <img class="hero-image" decoding="async" alt="Master Sketch in a day — learn the latest tools and features, and build an interactive prototype for a mobile website." srcset="{{ site.url }}/home/img/hero-gym-005/sketch-prototyping-1280w.png 1280w, {{ site.url }}/home/img/hero-gym-005/sketch-prototyping-1440w.png 1440w, {{ site.url }}/home/img/hero-gym-005/sketch-prototyping-1920w.png 1920w" sizes="(min-width: 90em) 90em, 100vw" src="{{ site.url }}/home/img/hero-gym-005/sketch-prototyping-1440w.png">
          <img hidden class="fragment fragment-l" alt="" src="{{ site.url }}/home/img/hero-gym-005/sketch-window-fragment-l.png" role="presentation">
          <img hidden class="fragment fragment-r" alt="" src="{{ site.url }}/home/img/hero-gym-005/sketch-window-fragment-r.png" role="presentation">
        </figure>
        </div>
      </div>
    </div>
  </div>
</div>
