<link rel="stylesheet" href="{{ site.url }}/css/hero-webinar-05-2019.css">

<div class="hero-promo webinar-05-2019">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 process">
        <div class="row">
          <div class="col-md-4 flow">
            <div class="placeholder">
              <div class="wireframe-image"><div></div></div>
              <div class="wireframe-text"></div>
            </div>
          </div>
          <div class="col-md-4 flow">
            <div class="placeholder">
              <div class="placeholder-image"><div></div></div>
              <div class="placeholder-text"></div>
            </div>
          </div>
          <div class="col-md-4 flow">
            <figure class="speaker">
              <img alt="Dave Rupert" src="{{ site.url }}/home/img/hero-webinar-05-2019/bio-dave-rupert-2x.jpg" width="160">
              <figcaption><b>Dave Rupert</b></figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 flow">
            <div class="placeholder">
              <div class="wireframe-image"><div></div></div>
              <div class="wireframe-text"></div>
            </div>
          </div>
          <div class="col-md-4 flow">
            <div class="placeholder">
              <div class="placeholder-image"><div></div></div>
              <div class="placeholder-text"></div>
            </div>
          </div>
          <div class="col-md-4 flow">
            <figure class="speaker">
              <img alt="James Young" src="{{ site.url }}/home/img/hero-webinar-05-2019/bio-james-young-2x.jpg" width="160">
              <figcaption><b>James Young</b></figcaption>
            </figure>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
        <div class="content">
          <header>
            <h2>Free Webinar</h2>
            <h1 class="all-caps"><span class="break">UX Design:</span> Prototyping as Process</h1>
            <h3>Tuesday, May 14, <span class="no-wrap">2 PM EDT</span></h3>
            <p>Join us for a discussion on modern design documentation and digital product development with <b class="no-wrap">Dave Rupert</b> and <b class="no-wrap">James Young</b>.</p>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://gymnasium.github.io/cms/webinars/prototyping-as-process/?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_GYM-webinar&utm_content=prototyping-as-process-051419"><b>Register Now</b></a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
