<meta name="description" content="{{ short_description | strip_html }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:site_name" content="{{ page_title }}">
<meta property="og:title" content="{{ og_title | strip_html }}">
<meta property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta property="og:image" content="{{ site.url }}/{{ og_art }}">
<meta name="twitter:card" content="{{ twitter_card_style }}">
<meta name="twitter:url" property="og:url" content="{{ og_url }}">
<meta name="twitter:title" property="og:title" content="{{ og_title | strip_html }}">
<meta name="twitter:description" property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta name="twitter:image" property="og:image" content="{{ site.url }}/{{ og_art }}">

{%- if page.robots -%}
  <meta name="robots" content="{{page.robots}}">
{%- endif -%}
