<form class="event-form" id="event-form" action="https://attendee.gotowebinar.com/registration.tmpl" method="post" autocapitalize="off" autocomplete="nope">
    <fieldset>
      <legend class="visuallyhidden">Webinar Registration</legend>
      <input type="hidden" id="webinar" name="webinar" value="{{ webinar.webinar_ID }}">
      <input type="hidden" id="organizer" name="organizer" value="1493921119291604485">
      <ul>
        <li>
          <label id="registrant.givenNameLabel" for="registrant.givenName"><b>First Name</b> (Required)</label>
          <input required type="text" id="registrant.givenName" name="registrant.givenName" class="firstname" value="" maxlength="128">
        </li>
        <li>
          <label id="registrant.surnameLabel" for="registrant.surname"><b>Last Name</b> (Required)</label>
          <input required type="text" id="registrant.surname" name="registrant.surname" class="lastname" value="" maxlength="128">
        </li>
        <li>
          <label id="registrant.emailLabel" for="registrant.email"><b>Email Address</b> (Required)</label>
          <input required type="email" id="registrant.email" name="registrant.email" class="email" value="" maxlength="128">
        </li>
      </ul>
    </fieldset>

    <p class="small-print"><small>Webinar organizers are prohibited from soliciting confidential personal information (credit card information, social security numbers, etc.) in the registration form. This questionnaire is not intended to handle sensitive data.</small></p>

    <input type="hidden" name="customRegistrationSubmission.answers[0].questionKey" value="{{ webinar.webinar_question_key }}">

    <label for="customRegistrationSubmission.answers_0.text"><b>Do you have a question for the presenters?</b> (Optional)</label>
    <textarea class="optional" id="customRegistrationSubmission.answers_0.text" name="customRegistrationSubmission.answers[0].text" maxlength="128" placeholder="128 Character Limit."></textarea>

    <!-- marketing speak -->
    <input type="hidden" name="utm_source" id="utm_source">
    <input type="hidden" name="utm_medium" id="utm_medium">
    <input type="hidden" name="utm_content" id="utm_content">
    <input type="hidden" name="utm_campaign" id="utm_campaign">

    <button class="gym-button" type="submit" id="registration.submit.button" name="registration.submit.button"><b>Register to Attend</b></button>

  </form>
