---
layout: raw
permalink: /static/catalog-all/
---
{% assign sorted_courses = site.data.courses | sort %}
{% assign sorted_take5s = site.data.take5s | sort %}
<h1>Catalog - All Courses</h1>

<h2>Full Courses</h2>

<ul>

{% for course_hash in sorted_courses %}
    {% assign course = course_hash[1] %}
    {%- if course.course_type == "full" -%}
    {%- assign keywords = "" | split: ',' -%}
    {%- assign keywords = keywords | push: course.course_type -%}
      {%- for subtopic in course.subtopics -%}
      {%- assign keywords = keywords | push: subtopic.label -%}
    {%- endfor -%}
    <li>{{ course.course_ID }}: <div class="{{ keywords | join: ' ' }}"><a href="{{ course.url }}">{{ course.title }}</a></div></li>
    {{ course.short_description }}
    <pre>img/course-artwork/png/{{ course.course_ID | downcase }}.png</pre>
    <!-- Category/Topic: {{ course.topic }} -->
    {%- endif -%}
{% endfor %}
</ul>

<h2>Gym Shorts</h2>

<ul>

{% for gymshort_hash in sorted_courses %}
    {% assign gymshort = gymshort_hash[1] %}
    {%- if gymshort.course_type == "short" -%}
    {%- assign keywords = "" | split: ',' -%}
    {%- assign keywords = keywords | push: gymshort.course_type -%}
      {%- for subtopic in gymshort.subtopics -%}
        {%- assign keywords = keywords | push: subtopic.label -%}
    {%- endfor -%}
    <li>{{ gymshort.course_ID }}: <div class="{{ keywords | join: ' ' }}"><a href="{{ gymshort.url }}">{{ gymshort.title }}</a></div></li>
    {{ gymshort.short_description }}
    <pre>img/course-artwork/png/{{ gymshort.course_ID | downcase }}.png</pre>
    <!-- Category/Topic: {{ gymshort.topic }} -->
    {%- endif -%}
{% endfor %}
</ul>

<h2>Take 5</h2>

<ul>

    {% for take5_hash in sorted_take5s %}
        {% assign take5 = take5_hash[1] %}
           {%- assign keywords = "" | split: ',' -%}
           {%- assign keywords = keywords | push: take5.course_type -%}
      {%- for subtopic in take5.subtopics -%}
        {%- assign keywords = keywords | push: subtopic.label -%}
    {%- endfor -%}
    <li>{{ take5.course_ID }}: <div class="{{ keywords | join: ' ' }}"><a href="{{ take5.url }}">{{ take5.title }}</a></div></li>
    {{ take5.short_description }}
    <pre>{{ take5.poster_art }}</pre>
    <!-- Category/Topic: {{ take5.topic }} -->
    {% endfor %}
</ul>
    