---
layout: raw
permalink: /static/catalog-ux/
---
{% assign this_topic1 = "User Experience" %}
{% assign this_topic2 = "Prototyping" %}
{% assign sorted_courses = site.data.courses | sort %}
{% assign sorted_take5s = site.data.take5s | sort %}
<h1>Catalog - {{ this_topic1 }}</h1>

<h2>Full Courses</h2>

<ul>

{% for course_hash in sorted_courses %}
    {% assign course = course_hash[1] %}
    {%- if course.course_type == "full" and course.topic == this_topic1 or course.topic == this_topic2 -%}
    <li>{{ course.course_ID }}: <a href="{{ course.url }}">{{ course.title }}</a></li>
    {{ course.short_description }}
    <pre>img/course-artwork/png/{{ course.course_ID | downcase }}.png</pre>
    {%- endif -%}
{% endfor %}
</ul>

<h2>Gym Shorts</h2>

<ul>

{% for gymshort_hash in sorted_courses %}
    {% assign gymshort = gymshort_hash[1] %}
    {%- if gymshort.course_type == "short" and gymshort.topic == this_topic1 or gymshort.topic == this_topic2-%}
    <li>{{ gymshort.course_ID }}: <a href="{{ gymshort.url }}">{{ gymshort.title }}</a></li>
    {{ gymshort.short_description }}
    <pre>img/course-artwork/png/{{ gymshort.course_ID | downcase }}.png</pre>
    {%- endif -%}
{% endfor %}
</ul>

<h2>Take 5</h2>

<ul>

    {% for take5_hash in sorted_take5s %}
        {% assign take5 = take5_hash[1] %}
        {%- if take5.topic == this_topic1 or take5.topic == this_topic2 -%}
    <li>{{ take5.course_ID }}: <a href="{{ take5.url }}">{{ take5.title }}</a></li>
    {{ take5.short_description }}
    <pre>{{ take5.poster_art }}</pre>
    {%- endif -%}
    {% endfor %}
</ul>
    