---
layout: raw
permalink: /tests/catalog/
---

<title>Course Catalog: Content Tests</title>


{% assign sorted_catalog = site.data.courses | sort %}

<p>Found: <strong>{{sorted_catalog | size }}</strong> courses</p>

<table border="0">
    <thead>
        <th>Course ID</th>
        <th>Title</th>
        <th>Short Description</th>
        <th>Length</th>
    </thead>

    {% for course_hash in sorted_catalog %}
    {% assign item = course_hash[1] %}

<tr>
    <!-- Course ID -->
    <td><a href="{{ item.url }}" target="_blank">{{ item.course_ID }}</a></td>
    
    <!-- Title -->
    {% if item.title ==null %}<td class="error">MISSING VALUE</td>{% else %}
    <td>{{ item.title }}</td>
    {% endif %}

    <!-- Short Description -->
    <td title="{{ item.short_description }}">{{ item.short_description | truncate: 160 }}</td>

    <!-- Short Description Length -->
    <td>{{ item.short_description | size }}</td>
</tr>
{% endfor %}
</table>


