@import 'variables';
@import 'mixins';

/* --- !override / reset / all initial --- */
#content > .container,
#content > .container > .row,
#content > .container > .row > .col-md-12 {
  @include resets;
}

/* --- smooth scrolling --- */

html {
  scroll-behavior: smooth;
}

/* --- flexible images --- */
main {
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
  }
  
  figure {
    text-align: center;
    overflow: hidden;
  }
  
  figcaption {
    text-align: left;
  }
}



/* !override / reset/rescale Bootstrap (3) handiwork — future-friendly */
#main {
  font-size: 16px;

  /* gym button */
  .gym-button {
    font-size: 105%;
    width: auto;
    padding: 1.2em 1.4em;

  /* !override / color */
    b {
      color: $gym-white;
    }
  }

  .gymlink,
  .gymlink * {
    color: $gym-orange;
  }

  /* !override / remove padding-bottom  */
  .container-fluid {
    padding-bottom: 0;
  }
}
