// Courseware garbage
.seq_contents.tex2jax_ignore.asciimath2jax_ignore {
  display: none;
}

// Staff status bar
.wrapper-preview-menu {
  margin: 0 auto;
  padding: 0;
  background-color: #0075b4;
  display: block;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.preview-menu {
  padding: 15px 2%;
  width: auto;
  margin: 0 auto;
  max-width: 1920px;
}

.preview-actions {
  padding-left: 0;
  display: inline-block;
  margin-bottom: 0;
}

.action-preview {
  display: inline-block;

  form {
    margin: 0;
  }

  label {
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    color: #fff;
    max-width: 100%;
    font-weight: 700;
    font-style: normal;
  }

  select {
    margin-right: 20px;
    vertical-align: baseline;
  }
}

.action-preview-username-container {
  display: none;
}


// Courseware Tab Navigation
.wrapper-course-material {
  margin: 0 15px;
  padding: 0;
  border-bottom: none;
}

.course-material {
  padding: 0;
  width: auto;
  max-width: inherit;
  margin: 0 auto;
}

.course-tabs {
  padding: 0;
  font-weight: normal;
  margin-left: 0;

  .tab {
    display: inline-block;
    list-style: none;
  }

  a {
    padding: 10px 15px 13px 15px;
    border-bottom: none;
    color: currentColor;
    display: block;
    line-height: 20.72px;

    &.active:focus:hover {
      box-shadow: none;
      text-shadow: none;
      background: none;
      border: none;
      text-decoration: none;

      b {
        color: currentColor;
        border-bottom: 2px solid currentColor;
      }
    }

    &:hover {
      color: currentColor;
      border: none;
      background: none;
      text-decoration: none;

      b {
        color: currentColor;
        border-bottom: 1px solid currentColor;
        text-decoration: none;
      }
    }

    b {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      border-bottom: 1px dashed transparent;
      vertical-align: -0.15em;
      font-size: 1.2em;
    }
  }
}

