// Colors
$gym-orange: #f8971d;
$gym-black: #222;
$gym-white: #fff;
$gym-gray: #ccc;
$gym-dark-gray: #444;
$gym-light-gray: #a6a6a6;
$gym-light-page-background: #ebebeb;

// Fonts
$gym-font-stack: brandon-grotesque, 'Helvetica Neue', Helvetica, sans-serif;
$gym-font-stack-text: 'Helvetica Neue', Helvetica, sans-serif;
