@import 'variables';
@import 'functions';

.courses-container {
  .intro {
    h1 {
      font-size: font-calc(28, rem, 10px);
    }
  }

  p.hero {
    font-family: $gym-font-stack;
    font-size: font-calc(22, rem, 10px);
    line-height: 1.4;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
  }
}

.listing-courses {

  h1 {
    font-size: font-calc(32, rem, 10px);
  }

  h2 {
    font-size: font-calc(16, rem, 10px);
  }

  p, li {
    font-size: font-calc(18, rem, 10px);
  }

  .course-item {
    figure img {
      width: 100%;
    }
  
    figcaption {
      background: #444;
      padding: 1.2em;
    }
  
    dl {
      color: #222;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      margin-bottom: 0.6em;
      margin-left: 1.2em;
      margin-top: 1em;
    }
    dt {
      font-size: font-calc(16, rem, 10px);
      line-height: 1.2;
      font-family: $gym-font-stack;
      font-weight: 900;
      color: #222;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 0.6em;
    }
    dd {
      display: list-item;
      list-style: disc;
      color: #f89820;
      margin-top: 0.3em;
    }
    dd span {
      font-size: font-calc(16, rem, 10px);
      color: #222;
    }
    article {
      padding-bottom: 3em;
      overflow: hidden;
    }
  }
}
