@import 'variables';
@import 'functions';

#gym-catalog {

  .about {
    font-size: 16px;
    background-color: #d2d2d2;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    border-bottom: 1px dashed #bbb;

    h1,
    p {
      color: $gym-black;
    }

    h1 {
      margin-top: 0;
    }

    h1 + p {
      font: normal 1.25em/1.45 $gym-text-font-stack;
      margin-top: 0.6em;
      margin-bottom: 0;
    }

  }

  .about-courses {
    font-size: 16px;
    margin-top: 1em;

    @include summary-link

    h2 {
      font-size: 1.6em;
      margin-top: -0.4rem;
    }

    .white-panel {
      padding: 1.4em 1.2em;
      margin-bottom: 0;

      &:before,
      &:after {
        content: none;
      }

    }

    p {
      font-size: 1.15em;
    }

  }

  dl {
    font-size: 16px;
    color: $gym-black;
    padding-left: 1em;
    margin-top: 1.2em;
    margin-bottom: 0;

    div {
      margin-top: 1em;
    }

    dt {
      font-size: font-calc(16, rem, 10px);
      line-height: 1.25;
      font-family: $gym-font-stack;
      font-weight: 900;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 0.6em;
    }

    dd {
      display: list-item;
      list-style: disc;
      line-height: 1.45;
      margin-top: 0.4em;

      &::marker {
        color: $gym-orange;
      }
    }

  }

  @include breakpoint(medium, max) {

    .row > div:not(:first-child) {
      margin-top: 1.4em;
    }

  }

}

.courses-container {

  > section[id] {
    padding-top: 1.2em;
    margin-top: -1.2em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .cta  {
    margin-top: 1.2em;
  }

  .course-description {

    h1,
    h2 {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 0.8em;
    }

  }

  .intro {
    h1 {
      font-size: font-calc(28, rem, 10px);
    }
  }

  p.hero {
    font-family: $gym-font-stack;
    font-size: font-calc(22, rem, 10px);
    line-height: 1.4;
  }
}

.listing-courses {
  padding-bottom: 1.2em;
  border-bottom: 1px solid $gym-gray-2;

  h1 {
    font-size: font-calc(32, rem, 10px);
  }

  h2 {
    font-size: font-calc(16, rem, 10px);
  }

  p, li {
    font-size: font-calc(18, rem, 10px);
    margin-bottom: 0;
  }

  .course-item {
    padding-top: 1.2em;
    border-top: 1px solid $gym-gray-2;
    margin-top: 1.2em;

    @include breakpoint(medium, max) {

      figure {
        max-width: 33.5em;
        margin-bottom: 1em;
      }

    }

    figcaption {
      background: $gym-dark-gray;
      padding: 1.2em;
    }

    article {
      overflow: hidden;
    }

  }
}

// --- Courses Take 5 section ---

#take5-list figure > a {
  display: block;
  height: 0;
  background-color: #d2d2d2;
  padding-bottom: 44.444444444444444%;
  border: 1px solid $gym-gray-2;
  border-bottom: 0;
  overflow: hidden;
}

#take5-list img {
  display: inline-block;
  margin-top: -5%;
}

#take5-list .course-description h2 {
  margin-top: 0;
}