@import 'variables';
@import 'functions';

#catalog {

  .about,
  .about-courses,
  .white-panel {
    font-size: 16px;
  }

  .about {
    background-color: #d2d2d2;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    border-bottom: 1px dashed #bbb;

    h1,
    p {
      color: $gym-black;
    }

    @include breakpoint(small, max) {
      span.block {
        display: inline;
      }
    }

    h1 {
      margin-top: 0;
    }

    h1 + p {
      font: normal 1.25em/1.45 $gym-text-font-stack;
      margin-top: 0.6em;
      margin-bottom: 0;
    }

  }

  .about-courses {
    margin-top: 1.2em;

    header {
      font-size: 16px;
    }

    h2 {
      font-size: 1.6em;
      margin-top: -0.4rem;
      margin-bottom: 0;
    }

    .white-panel {
      padding: 1.4em;
      margin-bottom: 0;

      p {
        font-size: 1em;
        margin-top: 0.8em;
        margin-bottom: 0;
      }

      dl + p {
        margin-left: 1em;
      }
    }

  }

  dl {
    font-size: 16px;
    color: $gym-black;
    padding-left: 1em;
    margin-top: 1.4em;
    margin-bottom: 0;

    div {
      margin-top: 1em;
    }

    dt {
      font-size: font-calc(16, rem, 10px);
      line-height: 1.25;
      font-family: $gym-font-stack;
      font-weight: 900;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 0.6em;
    }

    dd {
      display: list-item;
      list-style: disc;
      line-height: 1.45;
      margin-top: 0.4em;

      &::marker {
        color: $gym-orange;
      }
    }

  }

  dl.row {
    margin-top: 0.4em;
  }

  dl.row + p {
    font-size: 1em;
    margin-top: 1.4em;
    margin-bottom: 0;
  }

  @include breakpoint(medium, max) {
    .row > div:not(:first-child) {
      padding-top: 1em;
      margin-top: 1em;
    }
  }

  & > .container .white-panel {
    padding: 1.2em;
  }

  .courses-portal > div:not(:first-child) {
    margin-top: -1.4em;
  }

  .courses-portal {

    p.hero a {
      font: inherit;
    }

  }

  .promo {
    border-top: 1px dashed $gym-gray;
    margin-top: 1.2em;
  }

  .promo-item {
    margin-top: 1.2em;

    > h2 {
      font-size: font-calc(16, rem, 10px);
      line-height: 1.25;
      font-family: $gym-font-stack;
      font-weight: 900;
      letter-spacing: 0.06em;
      word-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 0.6em;

      + .row {
        margin-top: 1em;
      }
    }
  }

}

.courses-format {
  font-size: 16px;
  background-color: #292929;
  padding-bottom: 1em;

  ul {
    list-style: none;
    color: #fff;
    padding-left: 0;
    margin-bottom: 0;

    li {
      display: inline;
      font-size: 1.05em;
      font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 0.1116625ex;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 1.4em;
      }

      a {
        display: inline-block;
        margin-top: 1em;
      }
    }
  }

  a {
    font: inherit;
    color: $gym-white;
    border-bottom-color: transparent;

    &:hover,
    &:focus,
    &:active {
      color: $gym-orange;
      margin-bottom: -1px;
    }

    &[aria-current="page"] {
      border-bottom-color: $gym-white;

      &:hover,
      &:focus,
      &:active {
        border-bottom-color: $gym-orange;
      }
    }
  }

}

.container + main {
  margin-top: -1.2em;
}

.courses-promo {

  ul[role="list"] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 1.2em;
    list-style: none;
    padding-top: 1.2em;
    padding-left: 0;
    border-top: 1px solid $gym-gray;
    margin-top: 1.2em;
  }

  article {
    display: grid;
    grid-auto-rows: auto auto 1fr;
  }

  header {
    align-self: start;
    margin-bottom: 0.6em;
  }

  figure {
    margin-bottom: 1em;
  }

  .cta {
    align-self: end;

    .gym-button {
      margin-top: 1.2em;

      &:first-child {
        margin-right: 1em;
      }
    }
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > h2 {
    font-size: 2.8rem;
  }

  div[class] > h2 {
    margin-bottom: 1.2em;
  }

  p {
    margin-top: 1.2rem;
    margin-bottom: 0;
  }

  .hero {
    font-family: $gym-font-stack;
    font-size: 2.2rem;
    line-height: 1.4;
  }

  .subhead {
    letter-spacing: 0.1ex;
    margin-top: 0;
    margin-bottom: 0.6em;
  }

}

@include breakpoint(medium, max) {
  #catalog .courses-promo > .container > .row > div[class] {
    margin-top: 0.5em;
    &:not(:first-child) {
      margin-top: 2em;
    }
  }
  #catalog .courses-promo .row > div:not(:first-child) {
    padding-top: 0;
    margin-top: 0;
  }
}

.courses-container {

  > section[id] {
    padding-top: 1em;
    margin-top: -1em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  .cta  {
    margin-top: 1.2em;
  }

  .course-description {

    h1,
    h2 {
      margin-top: 0;
    }

    h2 {
      margin-bottom: 0.8em;
    }

  }

  .intro {
    h1 {
      font-size: font-calc(28, rem, 10px);
    }
  }

  p.hero {
    font-family: $gym-font-stack;
    font-size: font-calc(22, rem, 10px);
    line-height: 1.4;
  }
}

.listing-courses {
  padding-bottom: 1.2em;
  border-bottom: 1px solid $gym-gray-2;

  h1 {
    font-size: font-calc(28, rem, 10px);
  }

  h2 {
    font-size: font-calc(16, rem, 10px);
  }

  p, li {
    font-size: font-calc(18, rem, 10px);
    margin-bottom: 0;
  }

  .course-item {

    &:not(:first-child) {
      padding-top: 1.2em;
      border-top: 1px solid $gym-gray-2;
      margin-top: 1.2em;
    }

    @include breakpoint(medium, max) {

      figure {
        max-width: 33.5em;
        margin-bottom: 1em;
      }

    }

    figcaption {
      background: $gym-dark-gray;
      padding: 1.2em;
    }

    article {
      overflow: hidden;
    }

  }
}

// --- Courses Take 5 section ---

#take5-list figure > a {
  display: block;
  height: 0;
  background-color: #d2d2d2;
  padding-bottom: 44.444444444444444%;
  border: 1px solid $gym-gray-2;
  border-bottom: 0;
  overflow: hidden;
}

#take5-list img {
  display: inline-block;
  margin-top: -5%;
}

#take5-list .course-description h2 {
  margin-top: 0;
}