@import 'variables';
@import 'functions';

.home {
  position: relative;
}
.home > header {
  background: none;
  box-shadow: none;
}
.home header {
  border-bottom: #ebebeb;
}
.home .how-gymnasium-works p {
  font-size: 1.3em;
  line-height: 1.4em;
}

.home .container header {
  display: block;
}
.home .container .header-tab {
  text-align: center;
}
.home .container .header-tab h1:before {
  display: inline-block;
  width: 100%;
  height: 0;
  content: " ";
  line-height: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1.4em dashed transparent;
  border-left: 1.4em dashed transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  z-index: 100;
}
.home .container .header-tab h1 {
  display: inline-block;
  font-size: 1.75em;
  line-height: 1.2;
  text-transform: uppercase;
  vertical-align: 1.2em;
  margin-top: -1em;
  text-align: center;
}

.home .container-fluid {
  padding-bottom: 4em;
}
.home .container-fluid h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.home .container-fluid h2,
.home > header .container-fluid .title > .heading-group p,
.home > header .title > .heading-group .container-fluid p {
  font-size: 24px;
  text-transform: none;
  font-weight: bold;
}
.home .container-fluid:nth-of-type(odd) {
  background-color: #ebebeb;
}
.home .container-fluid:nth-of-type(odd) header.header-tab h1:before {
  border-bottom: 1.4em solid #ebebeb;
}
.home .container-fluid:nth-of-type(odd) * {
  color: #444;
}
.home .container-fluid:nth-of-type(odd) .gym-button,
.home .container-fluid:nth-of-type(odd) .gym-button b {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(odd) p {
  color: #999;
}
.home .container-fluid:nth-of-type(odd) p a {
  color: $gym-orange;
}
.home .container-fluid:nth-of-type(odd) h1 {
  color: #444;
  background-color: transparent;
}
.home .container-fluid:nth-of-type(odd) h1:before,
.home .container-fluid:nth-of-type(odd) h1:after {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(odd) hr {
  background-color: #444;
}
.home .container-fluid:nth-of-type(even) {
  background-color: #444;
}
.home .container-fluid:nth-of-type(even) * {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(even) header.header-tab h1:before {
  border-bottom: 1.4em solid #444;
}
.home .container-fluid:nth-of-type(even) h1,
.home .container-fluid:nth-of-type(even) h1:before,
.home .container-fluid:nth-of-type(even) h1:after {
  color: #ebebeb;
  background-color: transparent;
}

.home .highlighted-courses {
  padding-top: 3em;
}
.home .highlighted-courses .header-tab {
  border-top: 2px solid #ccc;
}
.home .highlighted-courses .header-tab h1 {
  position: relative;
  top: -0.75em;
  background: #ebebeb;
  margin-bottom: -0.75em;
}
.home .courses {
  padding-top: 0px;
}

#as-seen-in {
  h1,
  h2,
  p {
    padding-bottom: 30px;
  }

  ul {
    box-sizing: border-box;
  }

  li {
    width: 18%;
  }
}


