@import 'variables';
@import 'functions';

form {
  input, select, textarea {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 0 0.6em;
    padding: 1em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #f8971d;
    font-size: 1em;

    &.error {
      border: 1px solid #d43f3a;
      outline: 1px solid #d43f3a;
    }
  }

  select {
    cursor: pointer;
  }

  label {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: $gym-font-stack;
    font-weight: bold;
    margin-bottom: 0.6em;
    max-width: 100%;

    &.error {
      display: inline-block;
      color: #fff;
      padding: 0.5em;
      background: #d43f3a;
      border-radius: 2px;
    }
  
    &.focus-out {
      position: static;
      opacity: 1;
      z-index: auto;
    }
  }

  input[type=checkbox], input[type=radio] {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 5px;
  }

  .form-field {
    clear: both;
    position: relative;
    width: 100%;
    margin: 0.6em 0 1.4em 0;
  }

  input+.tip-input {
    margin-top: 0.6em;
  }
}

.login-register {
  background-color: transparent;
  max-width: none;

  h1, h2 {
    font-size: font-calc(36, rem, 10px);
    line-height: 1.15;
    margin-top: 20px;
    margin-bottom: 16px;
    letter-spacing: 0.04em;
    word-spacing: 0.05em;
  }

  .form-type {
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
  }

  form {
    margin: 0 auto;
    padding: 0 1.8em 2.2em;
    background-color: $gym-white;
  }

  .note {
    font-weight: bold;
    color: #222;
    display: block;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 17.76px;
  }

  .checkbox-terms_of_service {
    margin: 1em 0;
  }

  .checkbox-remember {
    margin: 1.2em 0 0.6em;
  }
}

.form-wrapper  {
  padding: 20px 0;
}

.logistration-button {
  font-size: 1.5em;
  text-transform: capitalize;
}

.logistration-bottom {
  padding: 0 1.8em 2em;
  margin-top: 1.2em;

  h2 {
    font-size: font-calc(30.8, rem, 10px);
  }
}
