/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-exclamation-triangle:before {
  content: "\f071";
}
/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */

.wrapper-account-settings .wrapper-header .account-nav button,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  background: none;
  border-radius: 5px;
  box-shadow: none;
  text-shadow: none;
}
.wrapper-account-settings .wrapper-header .account-nav button:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:hover {
  background-image: none;
  box-shadow: none;
}
.wrapper-account-settings .wrapper-header .account-nav button:focus,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:focus,
.wrapper-account-settings .wrapper-header .account-nav button:active,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:active {
  box-shadow: none;
}


h1,
h2,
h3 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}


p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  box-sizing: border-box;
  transition: color 0.25s ease-in-out, background 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:active,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:focus {
  text-decoration: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  border-radius: 2px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-shadow: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  box-sizing: border-box;
  letter-spacing: 0;
  border: 1px solid #0d4e6c;
  border-radius: 3px;
  padding: 8px 20px;
  background-color: transparent;
  color: #0d4e6c;
  text-align: center;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:focus {
  border: 1px solid transparent;
  background-color: #126f9a;
  color: #fff;
  text-decoration: none;
}
.account-settings-sections .section-header {
  font-weight: 600;
}
.wrapper-account-settings .wrapper-header .header-title,
.account-settings-sections .section-header {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-account-settings .wrapper-header .header-title {
  font-size: 24px;
  line-height: 35.52px;
}
.account-settings-sections .section-header {
  font-size: 18px;
  line-height: 26.64px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link,
.wrapper-account-settings .ui-loading-error,
.u-field-message,
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link,
.wrapper-account-settings .ui-loading-error {
  font-size: 16px;
  line-height: 23.68px;
}
.u-field-message,
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-size: 14px;
  line-height: 20.72px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  font-weight: 500;
}
.u-field {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  border: 1px dashed transparent;
}
.u-field-title {
  width: 23.72881%;
  display: inline-block;
  color: #5e5e5e;
  vertical-align: top;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
}
.u-field-value {
  width: 23.72881%;
  display: inline-block;
  vertical-align: top;
}
.u-field-value select,
.u-field-value input {
  width: 100%;
}
.u-field-message {
  padding-left: 10px;
  width: 49.15254%;
  display: inline-block;
  vertical-align: top;
  color: #919191;
}
.u-field-message .u-field-message-help,
.u-field-message .u-field-message-notification {
  color: #767676;
}
.u-field-dropdown button.u-field-value-display,
.u-field-dropdown button.u-field-value-display:active,
.u-field-dropdown button.u-field-value-display:focus,
.u-field-dropdown button.u-field-value-display:hover {
  border-color: transparent;
  background: transparent;
  padding: 0;
  box-shadow: none;
  font-size: inherit;
  font-weight: inherit;
  text-shadow: none;
}
.u-field-dropdown.mode-edit button.u-field-value-display {
  display: none;
}
label {
  color: #313131;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 5px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;
}
input[type="text"] {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  height: 35px;
  padding: 5px 12px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
input[type="text"]:last-child {
  margin-right: 0;
}
input[type="text"]:focus {
  border-color: #6f6f6f;
  box-shadow: 0 0 6px 0 #6f6f6f, inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
}




.msg {
  margin: 10px 0 10px 26px;
}
.wrapper-account-settings {
  background: #fff;
  width: 100%;
}
.wrapper-account-settings .account-settings-container {
  max-width: 1180px;
  padding: 10px;
  margin: 0 auto;
}
.wrapper-account-settings .ui-loading-error {
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  text-align: center;
}
.wrapper-account-settings .ui-loading-error .message-error {
  color: #d44040;
}
.wrapper-account-settings .wrapper-header {
  max-width: 1180px;
  height: 139px;
  border-bottom: 4px solid #f5f5f5;
}
.wrapper-account-settings .wrapper-header .header-title {
  margin-bottom: 10px;
  padding-top: 40px;
}
.wrapper-account-settings .wrapper-header .account-nav {
  float: left;
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.wrapper-account-settings .wrapper-header .account-nav .account-nav-link {
  float: left;
  font-size: 0.875em;
  color: #767676;
  padding: 5px 25px 20px;
  display: inline-block;
  box-shadow: none;
  border-bottom: 4px solid transparent;
  border-radius: 0;
  background: transparent none;
}
.wrapper-account-settings .wrapper-header .account-nav button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  padding: 5px;
}
.wrapper-account-settings .wrapper-header .account-nav button:hover,
.wrapper-account-settings .wrapper-header .account-nav button:focus {
  text-decoration: none;
  border-bottom-color: #44a2de;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: #313131;
}
@media (max-width: 991px) {
  .wrapper-account-settings .wrapper-header {
    border-bottom-color: transparent;
  }
  .wrapper-account-settings .wrapper-header .account-nav {
    display: flex;
    border-bottom: none;
  }
  .wrapper-account-settings .wrapper-header .account-nav .account-nav-link {
    border-bottom: 4px solid #e7e7e7;
  }
}
.account-settings-sections .section-header {
  padding-top: 30px;
  color: #4a4a4a;
}
.account-settings-sections .section {
  background-color: #fff;
  margin: 20px 5% 0;
  border-bottom: 4px solid #f5f5f5;
}
.account-settings-sections .section .account-settings-header-subtitle {
  font-size: 0.875em;
  line-height: normal;
  color: #333;
  padding-bottom: 10px;
}
.account-settings-sections .section .account-settings-section-body .u-field {
  border-bottom: 2px solid #f5f5f5;
  padding: 15px 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field {
  width: 30%;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 14px 30px 14px 15px;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  z-index: 10;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select::-ms-expand {
  display: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select
  ~ .icon-caret-down::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #0075b4;
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .field-label {
  display: block;
  width: auto;
  margin-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1;
  color: #333;
  white-space: nowrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .field-input {
  transition: all 0.125s ease-in-out 0s;
  display: inline-block;
  padding: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  font-size: 0.875em;
  color: #333;
  width: 100%;
  height: 48px;
  box-shadow: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  font-size: 18px;
  width: 100%;
  border: 1px solid #0075b4;
  color: #0075b4;
  padding: 11px 14px;
  line-height: normal;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-message {
  position: relative;
  padding: 15px 0 0 80px;
  width: 60%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-message
  .u-field-message-notification {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 38px 0 0 100px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field:last-child {
  border-bottom: none;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-value {
    width: 100%;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-message {
    width: 100%;
    padding: 10px 0;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-message
    .u-field-message-notification {
    position: relative;
    padding: 0;
  }
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value {
  margin-bottom: 20px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value
  .u-field-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value
  .u-field-value-readonly {
  font-size: 22px;
  color: #636c72;
  line-height: 30px;
  white-space: nowrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-readonly
  .u-field-title {
  font-size: 16px;
  color: #636c72;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 8px !important;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-readonly
  .u-field-value {
  font-size: 22px;
  color: #636c72;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 20px;
  white-space: nowrap;
}
.account-settings-sections .section:last-child {
  border-bottom: none;
}
.window-wrap {
  background: #fff;
}


.wrapper-account-settings .wrapper-header .account-nav button {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}
.wrapper-account-settings .ui-loading-error {
  animation: fadeIn 0.25s linear 1;
}
.wrapper-account-settings .ui-loading-error .copy {
  padding-left: 5px;
}

html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
.wrapper-account-settings {
  background: transparent;
}
.wrapper-account-settings h2.header-title {
  display: none;
}
.wrapper-account-settings .account-settings-container {
  padding: 0;
}
.wrapper-account-settings .account-settings-sections {
  background: white;
  margin: 0;
  padding: 2em 2.5em;
  border: 1px solid #cccccc;
}
.wrapper-account-settings .account-settings-sections .section:first-of-type {
  margin: 0;
  padding: 0;
}
.course-title {
  background: #777;
}
.course-title h1 {
  font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}
.account-settings-container .wrapper-header {
  border-bottom: none;
  height: auto;
}

body a:link,
body a:visited,
body a:link:visited,
body a:active,
body a:link:active,
body p a,
body p a:link,
body p a:visited {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}
body a:hover,
body a:visited:hover,
body a:link:hover,
body a:link:visited:hover,
body a:active:hover,
body a:link:active:hover,
body p a:link:hover,
body p a:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}
body a:focus {
  border-bottom: 0 none;
}

body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}
#primary-nav .container,
#primary-nav .container > div,
#primary-nav div.container,
#primary-nav div.container > div,
#secondary-nav .container,
#secondary-nav .container > div,
#secondary-nav div.container,
#secondary-nav div.container > div,
.wrapper-footer .container,
.wrapper-footer .container > div,
.wrapper-footer div.container,
.wrapper-footer div.container > div {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  max-width: 1180px;
}





.black-background {
  top: 0px;
  background-color: black;
  z-index: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 0.125em;
  background-color: #f89820;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
}
body
  .account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link:hover {
  background-color: #a6a6a6;
  color: white;
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: white;
  font-family: brandon-grotesque;
}

html body h1,
html body h2,
html body h3 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}
html body h3 {
  font-weight: bold;
}
h1 {
  font: 900 2.4em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
}
/*! CSS Used from: Embedded */
main p > a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor !important;
}
main p > a:not([class]):hover,
main p > a:not([class]):focus,
main p > a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}
/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-course.0f892cd7170b.css */


h1,
h2,
h3 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}


p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}




@media print {
  .nav-skip,
  .container > div {
    display: none;
  }
}
footer {
  box-shadow: none;
  margin-top: 0;
}
.content-wrapper {
  background: none;
  border: none;
}
.container {
  padding: 0;
}
.container > div {
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #c8c8c8;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
body {
  min-height: 100%;
  background-color: #f5f5f5;
}
body,
h1,
h2,
h3,
p,
label {
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
main {
  outline: none;
}
a:hover,
a:focus {
  text-decoration: none !important;
}
@media print {
  a {
    text-decoration: underline !important;
  }
  a:visited {
    text-decoration: underline !important;
  }
}
input[type="text"] {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 0;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font: normal 1em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 35px;
  padding: 5px 12px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
input[type="text"]:last-child {
  margin-right: 0;
}
input[type="text"]:focus {
  border-color: #1bafff;
  box-shadow: 0 0 6px 0 rgba(0, 117, 180, 0.4),
    inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
}
label {
  font-weight: normal;
  font-style: normal;
}
img {
  max-width: 100%;
}
button {
  text-transform: none;
  letter-spacing: 0;
}
button:hover,
button:focus {
  text-decoration: none;
}
button {
  border: 1px solid #d2c9c9;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #fff;
  color: #333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #f1f1f1;
  background-image: -webkit-linear-gradient(#f1f1f1, #d9d1d1);
  background-image: linear-gradient(#f1f1f1, #d9d1d1);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fcfbfb;
  background-clip: padding-box;
  font-size: 0.8125em;
}

/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */





h1 {
  margin: 0.67em 0;
  font-size: 2em;
}



button,
input,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}



button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}





button,
input,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}




h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}


h3 {
  font-size: 24px;
}


ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.col-md-2,
.col-md-3,
.col-sm-10,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-6 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-6 {
  width: 50%;
}
@media (min-width: 768px) {
  .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-2,
  .col-md-3 {
    float: left;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}






/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */










































































































































































































