/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */
.pull-right {
  float: right;
}

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */
article,











button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button {
  line-height: normal;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}



.modal,
.modal .inner-wrapper {
  z-index: 10;
}


article,











button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button {
  line-height: normal;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}



.modal,
.modal .inner-wrapper {
  z-index: 10;
}







h1,
h2,
h3 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}



p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-size: 14px;
  line-height: 20.72px;
}




.modal {
  display: none;
  position: absolute;
  left: 50%;
  padding: 8px;
  width: 480px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background: #313131;
  color: #313131;
}
.modal.video-modal {
  left: 50%;
  padding: 10px;
  width: 582px;
}
.modal.video-modal .inner-wrapper {
  background: #000;
  box-shadow: none;
  height: 315px;
  padding: 10px;
  width: 560px;
}
.modal .inner-wrapper {
  background: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}
.msg {
  margin: 10px 0 10px 26px;
}
.window-wrap {
  background: #fff;
}
.pull-right {
  float: right;
}

.modal,
.modal .inner-wrapper {
  z-index: 10;
}
.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}

html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
.course-info.container {
  padding-left: 15px;
  padding-right: 15px;
}
.course .level strong {
  display: inline-block;
  margin-top: 0.9em;
}
.course {
  background: #ebebeb;
  padding-top: 0;
  padding-bottom: 0;
}
.course h1,
.course h2,
.course h3 {
  font-family: brandon-grotesque;
  font-weight: 900;
}
.course .course-info {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
}
.course .course-overview {
  background: white;
  padding: 2.5em;
}
.course .hero-banner {
  background: #777;
  border-bottom: 0px;
}
.course .hero-banner h1 {
  color: white;
  font-family: brandon-grotesque;
  text-align: center;
}
.course .hero-banner img {
  max-height: 325px;
}
.course .course-metabar {
  background: #444;
  padding: 2.2em;
}
.course .course-metabar strong {
  font: 1.4em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #ccc;
}
.course .level strong {
  font-weight: normal;
}
.course-about-overview .hero p {
  font-family: brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.6em;
  line-height: 1.5;
  letter-spacing: 0.01em;
  word-spacing: 0.02em;
}
.course-about-overview section {
  border-top: 1px solid #ddd;
  margin-top: 1.8em;
}
.course-about-overview {
  border-bottom: 0;
  border-right: 1px dashed #ccc;
}
.course-about a,
.course-about a:link,
.course-about a:visited {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.course-about h2 {
  font: 900 1.2em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 1em;
  margin-top: 1em;
}
.course-about h3 {
  font: bold 1.2em/1.4 brandon-grotesque, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #222;
  letter-spacing: 0.02em;
  word-spacing: 0.04em;
  margin-top: 1em;
  text-transform: capitalize;
}
.course-about ul {
  padding-left: 0;
}
.course-about-overview li {
  margin-top: 0.8em;
}
#course-preview iframe {
  margin-top: 0.6em;
}
.course-about-sidebar {
  padding: 0 1.1em;
  border-top: 0;
  margin: 0;
}
.course-about-sidebar h2 {
  margin-top: 0;
}
body * .modal {
  bottom: auto;
  color: #222;
  width: 100%;
  background-color: transparent;
}
main li:not([class]) > a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}

body a:link,
body a:visited,
body a:link:visited,
body a:active,
body a:link:active,
body p a,
body p a:link,
body p a:visited {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}
body a:hover,
body a:visited:hover,
body a:link:hover,
body a:link:visited:hover,
body a:active:hover,
body a:link:active:hover,
body p a:link:hover,
body p a:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}
body a:focus {
  border-bottom: 0 none;
}

body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}












html body h1,
html body h2,
html body h3 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}
html body h3 {
  font-weight: bold;
}

main.course .hero-banner img {
  max-width: 100%;
}
/*! CSS Used from: Embedded */
.course-about-sidebar .course-instructor {
  padding-top: 1.2em;
}
@media (max-width: 62em) {
  .course-about .course-about-overview {
    padding-right: 0;
    padding-bottom: 1.2em;
    border-right: 0;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1.2em;
  }
  .course-about .course-about-sidebar {
    padding: 0;
  }
}
main li:not([class]) > a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor !important;
}
main li:not([class]) > a:not([class]):hover,
main li:not([class]) > a:not([class]):focus,
main li:not([class]) > a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */


article,




h1 {
  margin: 0.67em 0;
  font-size: 2em;
}



button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  text-transform: none;
}







button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}





h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}


h3 {
  font-size: 24px;
}



ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}

.col-md-12,
.col-md-2,
.col-md-3,
.col-md-5,
.col-md-9,
.col-sm-10,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-6 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-6 {
  width: 50%;
}
@media (min-width: 768px) {
  .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-5,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}



.pull-right {
  float: right !important;
}


/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */





































































































