/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-remove:before {
  content: "\f00d";
}

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */











h1,
h2 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}



p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.message-status {
  font-weight: 600;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p,
.message {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p,
.message {
  font-size: 14px;
  line-height: 20.72px;
}

label {
  color: #313131;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 5px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  height: 35px;
  padding: 5px 12px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
input[type="text"]:last-child,
input[type="email"]:last-child,
input[type="password"]:last-child {
  margin-right: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #6f6f6f;
  box-shadow: 0 0 6px 0 #6f6f6f, inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
}


#lean_overlay {
  background-image: radial-gradient(
    circle at 50% 30%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6)
  );
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal {
  display: none;
  position: absolute;
  left: 50%;
  padding: 8px;
  width: 480px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background: #313131;
  color: #313131;
}
.modal .inner-wrapper {
  background: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal .inner-wrapper header {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 28px 20px 0;
  position: relative;
}
.modal .inner-wrapper header::before {
  content: "";
  display: block;
  height: 400px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: -140px;
  width: 100%;
  z-index: 1;
}
.modal .inner-wrapper header hr {
  border: none;
  margin: 0;
  position: relative;
  z-index: 2;
}
.modal .inner-wrapper header hr::after {
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: -1px;
}
.modal .inner-wrapper header h2 {
  position: relative;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
.modal .inner-wrapper form {
  margin-bottom: 12px;
  padding: 0 40px 20px;
  position: relative;
  z-index: 2;
}
.modal .inner-wrapper form label {
  color: #313131;
}
.modal .inner-wrapper form input[type="checkbox"] {
  margin-right: 5px;
}
.modal .inner-wrapper form .submit {
  padding-top: 10px;
}
.modal .inner-wrapper form .submit input[type="submit"] {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
  white-space: normal;
}
.modal .inner-wrapper .close-modal {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 100;
  color: #313131;
  font: normal 1.2rem/1.2rem "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  transition: all 0.15s ease-out 0s;
}
.modal .inner-wrapper .close-modal:hover,
.modal .inner-wrapper .close-modal:focus {
  color: #313131;
  text-decoration: none;
}
.msg {
  margin: 10px 0 10px 26px;
}
#unenroll-modal {
  margin-top: -60px;
}
#unenroll-modal .modal-form-error {
  background: #fbf3f3;
  margin-left: 20px;
  margin-right: 20px;
}
.window-wrap {
  background: #fff;
}


.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}
.message {
  display: block;
}
.message-status {
  -webkit-border-top-left-radius: 2px;
  -moz-border-topleft-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-topright-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  display: none;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  color: #fff;
}
.message-status.is-shown {
  display: block;
}
.close-modal:focus,
button.close-modal:focus {
  border: none !important;
}

html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper,
#main.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
#content .course-content {
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#content .course-content {
  max-width: inherit;
  display: block;
}
.course {
  background: #ebebeb;
  padding-top: 0;
  padding-bottom: 0;
}
.course h1 {
  font-family: brandon-grotesque;
  font-weight: 900;
}
#main.content-wrapper {
  background: transparent;
}
.message.message-status {
  border-bottom: none;
  background: transparent;
  padding: 0;
}
#dashboard-main {
  background: white;
}
#dashboard-main.course-content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 auto;
}
#dashboard-main.course-content .my-courses,
#dashboard-main.course-content .profile-sidebar {
  padding: 2em;
}
#dashboard-main.course-content .my-courses h1,
#dashboard-main.course-content .profile-sidebar h1 {
  font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  text-transform: uppercase;
}
#dashboard-main.course-content .my-courses {
  border-bottom: 0;
  border-right: 1px dashed #ccc;
}
#dashboard-main.course-content .my-courses .hero h1 {
  font-size: 2.4em;
  letter-spacing: 0.04em;
}
#dashboard-main.course-content .my-courses h1 {
  font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  text-transform: uppercase;
}
#dashboard-main.course-content .my-courses .course-item h1 {
  color: #ebebeb;
}
#dashboard-main.course-content .profile-sidebar ul {
  margin: 0;
  padding: 0;
}
#dashboard-main.course-content .profile-sidebar header {
  margin-top: 0;
}
#dashboard-main.course-content .profile-sidebar h1 {
  font-weight: bold;
  text-transform: capitalize;
}
#dashboard-main.course-content .profile-sidebar h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#dashboard-main.course-content .profile-sidebar .profile {
  padding: 1.2em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#dashboard-main.course-content .profile-sidebar .user-info ul {
  list-style: none;
}
#dashboard-main.course-content .profile-sidebar .user-info .data {
  font: 0.96em/1.2 "Helvetica Neue", Helvetica, sans-serif;
}
#dashboard-main.course-content .profile-sidebar .user-info .title {
  display: block;
  font: bold 1.2em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #222;
  letter-spacing: 0.04em;
  word-spacing: 0.04em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#dashboard-main.course-content h1,
#dashboard-main.course-content h2 {
  text-align: left;
  margin: 0;
  padding: 0;
}
body * .modal {
  bottom: auto;
  color: #222;
  width: 100%;
  background-color: transparent;
}
body * .modal h2 {
  text-align: left;
  font-size: 16pt;
  color: #222;
}
body * .modal input {
  font-size: 14px;
}
.modal .inner-wrapper .close-modal {
  z-index: 20;
}
.view-dashboard .course-item header {
  background-color: #777;
}
.view-dashboard .course-item header h1 {
  color: #ebebeb;
  margin-top: 0.5em;
}
.my-courses .listing-courses {
  list-style: none;
  padding: 0;
  margin: 0;
}
.my-courses .course-item {
  margin-top: 1.2em;
}
.my-courses .course-item header {
  margin: 0;
  padding: 2em;
  overflow: hidden;
}
.my-courses .course-item header p {
  color: #ebebeb;
}
.my-courses .course-item .course-options {
  background: #444;
  padding: 1em 1.5em;
  overflow: hidden;
  list-style: none;
}
.my-courses .course-item .course-options li {
  display: inline;
  font-size: 0.96em;
  margin-right: 1.8em;
}
.my-courses .course-item .course-options .dashboard-listing-links {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}
.my-courses
  .course-item
  .course-options
  .dashboard-listing-links
  li
  a.btn:hover {
  border-color: transparent;
  text-decoration: underline;
}

.break-word {
  word-break: break-all;
}
body a:link,
body a:visited,
body a:link:visited,
body a:active,
body a:link:active,
body p a,
body p a:link,
body p a:visited {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}
body a:hover,
body a:visited:hover,
body a:link:hover,
body a:link:visited:hover,
body a:active:hover,
body a:link:active:hover,
body p a:link:hover,
body p a:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}
body a:focus {
  border-bottom: 0 none;
}

body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}




html body h1,
html body h2 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}

/*! CSS Used from: Embedded */
#dashboard-main.course-content .my-courses .course-item h1,
.my-courses .course-item header p {
  color: #fff;
}
@media (max-width: 62em) {
  #dashboard-main #my-courses {
    border-right: 0;
  }
  #dashboard-main .profile-sidebar {
    border-top: 1px dashed #ccc;
  }
}
.profile-sidebar a {
  color: inherit !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid #222 !important;
  margin-bottom: -0.125rem;
}
.profile-sidebar a:hover,
.profile-sidebar a:focus,
.profile-sidebar a:active {
  border-bottom-width: 2px !important;
}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */




button,
input {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  text-transform: none;
}
button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid silver;
}
legend {
  padding: 0;
  border: 0;
}
button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}


/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */

