/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-remove:before {
  content: "\f00d";
}

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */
article,

[hidden] {
  display: none;
}

html,
button,
input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}


b {
  font-weight: bold;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}






fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}





.modal,
.modal .inner-wrapper,
.modal .inner-wrapper header {
  z-index: 10;
}


article,

[hidden] {
  display: none;
}

html,
button,
input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}


b {
  font-weight: bold;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}






fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}





.modal,
.modal .inner-wrapper,
.modal .inner-wrapper header {
  z-index: 10;
}


.modal .inner-wrapper header hr::after {
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(200, 200, 200, 0) 0%,
    #c8c8c8 50%,
    rgba(200, 200, 200, 0)
  );
  background-image: linear-gradient(
    180deg,
    rgba(200, 200, 200, 0) 0%,
    #c8c8c8 50%,
    rgba(200, 200, 200, 0)
  );
  height: 1px;
  width: 100%;
}
.modal .inner-wrapper header hr {
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0)
  );
  height: 1px;
  width: 100%;
}
.close-modal,
button.close-modal {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  text-shadow: none !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
}





h1,
h2 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}


p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.btn {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.message-status {
  font-weight: 600;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p,
.message {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p,
.message {
  font-size: 14px;
  line-height: 20.72px;
}

label {
  color: #313131;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 5px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font: italic 300 1rem/1.6rem Georgia, Cambria, "Times New Roman", Times, serif;
  height: 35px;
  padding: 5px 12px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
input[type="text"]:last-child,
input[type="email"]:last-child,
input[type="password"]:last-child {
  margin-right: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #6f6f6f;
  box-shadow: 0 0 6px 0 #6f6f6f, inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
}
input[type="submit"],

input[type="submit"]:disabled,

input[type="submit"]:disabled,


#lean_overlay {
  background-image: radial-gradient(
    circle at 50% 30%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.6)
  );
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal {
  display: none;
  position: absolute;
  left: 50%;
  padding: 8px;
  width: 480px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background: #313131;
  color: #313131;
}
.modal .inner-wrapper {
  background: #fff;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.7);
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
}
.modal .inner-wrapper header {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 28px 20px 0;
  position: relative;
}
.modal .inner-wrapper header::before {
  content: "";
  display: block;
  height: 400px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: -140px;
  width: 100%;
  z-index: 1;
}
.modal .inner-wrapper header hr {
  border: none;
  margin: 0;
  position: relative;
  z-index: 2;
}
.modal .inner-wrapper header hr::after {
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: -1px;
}
.modal .inner-wrapper header h2 {
  position: relative;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  z-index: 2;
}
.modal .inner-wrapper form {
  margin-bottom: 12px;
  padding: 0 40px 20px;
  position: relative;
  z-index: 2;
}
.modal .inner-wrapper form label {
  color: #313131;
}
.modal .inner-wrapper form input[type="checkbox"] {
  margin-right: 5px;
}
.modal .inner-wrapper form .submit {
  padding-top: 10px;
}
.modal .inner-wrapper form .submit input[type="submit"] {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 100%;
  white-space: normal;
}
.modal .inner-wrapper .close-modal {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 100;
  color: #313131;
  font: normal 1.2rem/1.2rem "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.8);
  transition: all 0.15s ease-out 0s;
}
.modal .inner-wrapper .close-modal:hover,
.modal .inner-wrapper .close-modal:focus {
  color: #313131;
  text-decoration: none;
}
.msg {
  margin: 10px 0 10px 26px;
}
#unenroll-modal {
  margin-top: -60px;
}
#unenroll-modal .modal-form-error {
  background: #fbf3f3;
  margin-left: 20px;
  margin-right: 20px;
}
.window-wrap {
  background: #fff;
}

.modal,
.modal .inner-wrapper,
.modal .inner-wrapper header {
  z-index: 10;
}
.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}
.message {
  display: block;
}
.message-status {
  -webkit-border-top-left-radius: 2px;
  -moz-border-topleft-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-topright-radius: 2px;
  border-top-right-radius: 2px;
  box-sizing: border-box;
  display: none;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  color: #fff;
}
.message-status.is-shown {
  display: block;
}
.close-modal:focus,
button.close-modal:focus {
  border: none !important;
}
p {
  font: "Helvetica Neue";
}
html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper,
#main.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
#content .course-content {
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
}
#content .course-content {
  max-width: inherit;
  display: block;
}
.course {
  background: #ebebeb;
  padding-top: 0;
  padding-bottom: 0;
}
.course h1 {
  font-family: brandon-grotesque;
  font-weight: 900;
}
#main.content-wrapper {
  background: transparent;
}
.message.message-status {
  border-bottom: none;
  background: transparent;
  padding: 0;
}
#dashboard-main {
  background: white;
}
#dashboard-main.course-content {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0 auto;
}
#dashboard-main.course-content .my-courses,
#dashboard-main.course-content .profile-sidebar {
  padding: 2em;
}
#dashboard-main.course-content .my-courses h1,
#dashboard-main.course-content .profile-sidebar h1 {
  font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  text-transform: uppercase;
}
#dashboard-main.course-content .my-courses {
  border-bottom: 0;
  border-right: 1px dashed #ccc;
}
#dashboard-main.course-content .my-courses .hero h1 {
  font-size: 2.4em;
  letter-spacing: 0.04em;
}
#dashboard-main.course-content .my-courses h1 {
  font: 900 1.8em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.02em;
  word-spacing: 0.02em;
  text-transform: uppercase;
}
#dashboard-main.course-content .my-courses .course-item h1 {
  color: #ebebeb;
}
#dashboard-main.course-content .profile-sidebar ul {
  margin: 0;
  padding: 0;
}
#dashboard-main.course-content .profile-sidebar header {
  margin-top: 0;
}
#dashboard-main.course-content .profile-sidebar h1 {
  font-weight: bold;
  text-transform: capitalize;
}
#dashboard-main.course-content .profile-sidebar h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 1em;
}
#dashboard-main.course-content .profile-sidebar .profile {
  padding: 1.2em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
#dashboard-main.course-content .profile-sidebar .user-info ul {
  list-style: none;
}
#dashboard-main.course-content .profile-sidebar .user-info .data {
  font: 0.96em/1.2 "Helvetica Neue", Helvetica, sans-serif;
}
#dashboard-main.course-content .profile-sidebar .user-info .title {
  display: block;
  font: bold 1.2em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica,
    sans-serif;
  color: #222;
  letter-spacing: 0.04em;
  word-spacing: 0.04em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
#dashboard-main.course-content h1,
#dashboard-main.course-content h2 {
  text-align: left;
  margin: 0;
  padding: 0;
}
body * .modal {
  bottom: auto;
  color: #222;
  width: 100%;
  background-color: transparent;
}
body * .modal h2 {
  text-align: left;
  font-size: 16pt;
  color: #222;
}
body * .modal input {
  font-size: 14px;
}
.modal .inner-wrapper .close-modal {
  z-index: 20;
}
.view-dashboard .course-item header {
  background-color: #777;
}
.view-dashboard .course-item header h1 {
  color: #ebebeb;
  margin-top: 0.5em;
}
.my-courses .listing-courses {
  list-style: none;
  padding: 0;
  margin: 0;
}
.my-courses .course-item {
  margin-top: 1.2em;
}
.my-courses .course-item header {
  margin: 0;
  padding: 2em;
  overflow: hidden;
}
.my-courses .course-item header p {
  color: #ebebeb;
}
.my-courses .course-item .course-options {
  background: #444;
  padding: 1em 1.5em;
  overflow: hidden;
  list-style: none;
}
.my-courses .course-item .course-options li {
  display: inline;
  font-size: 0.96em;
  margin-right: 1.8em;
}
.my-courses .course-item .course-options .dashboard-listing-links {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-top: 0.8em;
}
.my-courses
  .course-item
  .course-options
  .dashboard-listing-links
  li
  a.btn:hover {
  border-color: transparent;
  text-decoration: underline;
}
p {
  font-size: 1.2em/1.6em;
}
.break-word {
  word-break: break-all;
}
body a:link,
body a:visited,
body a:link:visited,
body a:active,
body a:link:active,
body p a,
body p a:link,
body p a:visited {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}
body a:hover,
body a:visited:hover,
body a:link:hover,
body a:link:visited:hover,
body a:active:hover,
body a:link:active:hover,
body p a:link:hover,
body p a:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}
body a:focus {
  border-bottom: 0 none;
}

body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}
#primary-nav .container,
#primary-nav .container > div,
#primary-nav div.container,
#primary-nav div.container > div,
#secondary-nav .container,
#secondary-nav .container > div,
#secondary-nav div.container,
#secondary-nav div.container > div,
.wrapper-footer .container,
.wrapper-footer .container > div,
.wrapper-footer div.container,
.wrapper-footer div.container > div {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  max-width: 1180px;
}







.black-background {
  top: 0px;
  background-color: black;
  z-index: 0;
}
.gym-button:link,
.gym-button:visited {
  color: white;
  font-family: brandon-grotesque;
}
.gym-button,
a.gym-button,
a.gym-button:link {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 0.125em;
  background-color: #f89820;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
}
.gym-button b,
a.gym-button b,
a.gym-button:link b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  color: white;
}
body .gym-button:hover,
body .gym-button:active,
body .gym-button:active:hover,
body a.gym-button:hover,
body a.gym-button:active,
body a.gym-button:active:hover,
body a:visited.gym-button:hover,
body a:link.gym-button:hover,
body a:link:visited.gym-button:hover {
  background-color: #a6a6a6;
  color: white;
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: white;
  font-family: brandon-grotesque;
}
.gym-button:focus,
.gym-button:active {
  text-decoration: none !important;
  background: #939393;
}
.gym-button b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  vertical-align: bottom;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.dialog {
  position: relative;
  top: 10%;
  width: 37em;
  background: #fff;
  padding: 1.2em;
  border: 1.2em solid #444;
  border-radius: 0.125em;
  margin: auto;
}
.dialog legend {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1.2em;
}
.dialog legend b {
  font: 900 1.6em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.06em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
.dialog .error {
  background: #f2dede;
  padding: 1em;
  border: 1px solid #d9534f;
  border-radius: 0.12em;
  margin-bottom: 1.2em;
  font-size: 1em;
  color: #d9534f;
  font-weight: bold;
}
.dialog p {
  font: 0.9em/1.4 "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
  letter-spacing: 0.01em;
}
.dialog fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
.dialog ul {
  list-style: none;
  padding-left: 0;
}
.dialog li,
.dialog ul li,
.dialog ul li:last-child {
  border-bottom: 0.15em solid #f89820;
  margin-bottom: 1.2em;
  box-sizing: border-box;
}
.dialog form label,
.dialog form input {
  display: block;
}
.dialog form label {
  font: 1.1em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  color: #222;
  letter-spacing: 0.03em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
.dialog form input {
  background: none;
  border: none;
  box-shadow: none;
  font: 1em/1 "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: 0;
  margin-top: 0.3em;
  box-sizing: border-box;
}
.dialog .message {
  padding-right: 1.2em;
  padding-bottom: 1.2em;
  padding-left: 1.2em;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1.2em;
}
.dialog ul + .message {
  padding-bottom: 0;
  border-bottom: 0;
}
.dialog form button {
  margin-top: 1.2em;
}
.close-modal-content {
  width: auto;
  padding: 0.3em 1em;
  border: 0;
  border-radius: 0 0 0.125em 0.125em;
  margin-top: -1.2em;
}
.close-modal b {
  font: bold 0.8em/1.3 "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.1em;
  word-spacing: normal;
  text-transform: uppercase;
  padding: 0.7em 1.5em;
  border-radius: 0 0 0.27em 0.27em;
}
.close-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1.2em;
}

html body h1,
html body h2 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}
h1 {
  font: 900 2.4em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
}
/*! CSS Used from: Embedded */
#dashboard-main.course-content .my-courses .course-item h1,
.my-courses .course-item header p {
  color: #fff;
}
@media (max-width: 62em) {
  #dashboard-main #my-courses {
    border-right: 0;
  }
  #dashboard-main .profile-sidebar {
    border-top: 1px dashed #ccc;
  }
}
.profile-sidebar a {
  color: inherit !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid #222 !important;
  margin-bottom: -0.125rem;
}
.profile-sidebar a:hover,
.profile-sidebar a:focus,
.profile-sidebar a:active {
  border-bottom-width: 2px !important;
}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */


article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
[hidden] {
  display: none;
}


b {
  font-weight: 700;
}
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}



hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button,
input {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  text-transform: none;
}
button,
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
fieldset {
  padding: 0.35em 0.625em 0.75em;
  margin: 0 2px;
  border: 1px solid silver;
}
legend {
  padding: 0;
  border: 0;
}





button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}


h1,
h2 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}




ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}

.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-9,
.col-sm-10,
.col-sm-12,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-6 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-6 {
  width: 50%;
}
@media (min-width: 768px) {
  .col-sm-10,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:active:focus,
.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}


.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}
.container-fluid:after,
.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
  clear: both;
}

.hidden {
  display: none !important;
}

/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */
@font-face {
  font-family: "FontAwesome";
  src: url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.25a32416abee.eot?v=4.6.3");
  src: url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.25a32416abee.eot#iefix&v=4.6.3")
      format("embedded-opentype"),
    url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.e6cf7c6ec7c2.woff2?v=4.6.3")
      format("woff2"),
    url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.c8ddf1e5e5bf.woff?v=4.6.3")
      format("woff"),
    url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.1dc35d25e61d.ttf?v=4.6.3")
      format("truetype"),
    url("https://thegymnasium.com/static/fonts/vendor/fontawesome-webfont.d7c639084f68.svg?v=4.6.3#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}





































































































