/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */







p + p {
  margin-top: 20px;
}
p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-size: 14px;
  line-height: 20.72px;
}

.highlighted-courses .courses {
  padding: 40px 0 15px;
}
.highlighted-courses .courses:after {
  content: "";
  display: table;
  clear: both;
}

.home {
  padding: 0;
}
.home .highlighted-courses {
  box-sizing: border-box;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.msg {
  margin: 10px 0 10px 26px;
}
.window-wrap {
  background: #fff;
}

.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}

html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
.subsection h1,
.subsection h2 {
  font-family: brandon-grotesque;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
}

/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */

/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */
