/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */


h1,
h2,
h4 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}

p + p {
  margin-top: 20px;
}
p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-size: 14px;
  line-height: 20.72px;
}

.highlighted-courses .courses {
  padding: 40px 0 15px;
}
.highlighted-courses .courses:after {
  content: "";
  display: table;
  clear: both;
}

.home {
  padding: 0;
}
.home .highlighted-courses {
  box-sizing: border-box;
  margin-bottom: 40px;
  position: relative;
  width: 100%;
  z-index: 1;
}
.msg {
  margin: 10px 0 10px 26px;
}
.window-wrap {
  background: #fff;
}

.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}

html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
.subsection h1,
.subsection h2 {
  font-family: brandon-grotesque;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
}
.home {
  position: relative;
}
.home header {
  border-bottom: #ebebeb;
}
.home .how-gymnasium-works p {
  font-size: 1.3em;
  line-height: 1.4em;
}
.home #as-seen-in h2 {
  padding-bottom: 30px;
}
.home .container header {
  display: block;
}
.home .container .header-tab {
  text-align: center;
}
.home .container .header-tab h1:before {
  display: inline-block;
  width: 100%;
  height: 0;
  content: " ";
  line-height: 0;
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1.4em dashed transparent;
  border-left: 1.4em dashed transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  z-index: 100;
}
.home .container .header-tab h1 {
  display: inline-block;
  font-size: 1.75em;
  line-height: 1.2;
  text-transform: uppercase;
  vertical-align: 1.2em;
  margin-top: -1em;
  text-align: center;
}
.home .container-fluid {
  padding-bottom: 4em;
}
.home .container-fluid h1 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.home .container-fluid h2 {
  font-size: 24px;
  text-transform: none;
  font-weight: bold;
}
.home .container-fluid:nth-of-type(odd) {
  background-color: #ebebeb;
}
.home .container-fluid:nth-of-type(odd) header.header-tab h1:before {
  border-bottom: 1.4em solid #ebebeb;
}
.home .container-fluid:nth-of-type(odd) * {
  color: #444;
}
.home .container-fluid:nth-of-type(odd) .gym-button,
.home .container-fluid:nth-of-type(odd) .gym-button b {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(odd) p {
  color: #999;
}
.home .container-fluid:nth-of-type(odd) h1 {
  color: #444;
  background-color: transparent;
}
.home .container-fluid:nth-of-type(odd) h1:before,
.home .container-fluid:nth-of-type(odd) h1:after {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(even) {
  background-color: #444;
}
.home .container-fluid:nth-of-type(even) * {
  color: #ebebeb;
}
.home .container-fluid:nth-of-type(even) header.header-tab h1:before {
  border-bottom: 1.4em solid #444;
}
.home .container-fluid:nth-of-type(even) h1,
.home .container-fluid:nth-of-type(even) h1:before,
.home .container-fluid:nth-of-type(even) h1:after {
  color: #ebebeb;
  background-color: transparent;
}
.home .highlighted-courses {
  padding-top: 3em;
}
.home .highlighted-courses .header-tab {
  border-top: 2px solid #ccc;
}
.home .highlighted-courses .header-tab h1 {
  position: relative;
  top: -0.75em;
  background: #ebebeb;
  margin-bottom: -0.75em;
}
.home .courses {
  padding-top: 0px;
}
.home .courses p {
  color: #f89820;
}




body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}
#primary-nav .container,
#primary-nav .container > div,
#primary-nav div.container,
#primary-nav div.container > div,
#secondary-nav .container,
#secondary-nav .container > div,
#secondary-nav div.container,
#secondary-nav div.container > div,
.wrapper-footer .container,
.wrapper-footer .container > div,
.wrapper-footer div.container,
.wrapper-footer div.container > div {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  max-width: 1180px;
}




html body h1,
html body h2,
html body h4 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}
html body h4 {
  font-weight: bold;
}

/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h1,
h2,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-md-12,
.col-md-2,
.col-md-3,
.col-md-8,
.col-sm-10,
.col-sm-2,
.col-sm-6,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-6 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-6 {
  width: 50%;
}
@media (min-width: 768px) {
  .col-sm-10,
  .col-sm-2,
  .col-sm-6 {
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-8 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
}

/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */
