/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css */

/*! CSS Used from: https://thegymnasium.com/static/gymnasium/css/lms-main-v1.3b45b3e424a4.css */
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html,
button {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}








button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button {
  line-height: normal;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}





article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}

html,
button {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}








button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button {
  line-height: normal;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}










h1,
h2,
h3 {
  color: #313131;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin: 0;
}
h1 {
  color: #313131;
  font: normal 2em/1.4em "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  color: #646464;
  font: normal 1.2em/1.2em Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}


p a:not(.btn),
p a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  font-weight: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
p a:not(.btn):hover,
p a:not(.btn):focus,
p a:visited:not(.btn):hover,
p a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn),
a:visited:not(.btn) {
  color: #0075b4;
  font: inherit;
  text-decoration: none;
  transition: all 0.1s linear 0s;
}
a:not(.btn):hover,
a:not(.btn):focus,
a:visited:not(.btn):hover,
a:visited:not(.btn):focus {
  color: #065683;
  text-decoration: underline;
}
a:not(.btn):disabled,
a:visited:not(.btn):disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.content-wrapper {
  max-width: 1920px;
  margin-top: 20px;
  padding: 0 0 10px;
}
@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 20px 10px;
  }
}
@media print {
  .content-wrapper {
    padding-bottom: 0;
  }
}

.nav-skip {
  display: inline-block;
  position: absolute;
  left: 0;
  top: -600px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #fcfcfc;
  padding: 15px 0;
}
.nav-skip:focus,
.nav-skip:active {
  left: 45%;
  margin-left: -30px;
  position: absolute;
  top: 5px;
  width: 10%;
  height: auto;
  background-color: black;
  margin: 0;
  opacity: 0.8;
  color: white !important;
  text-decoration: none !important;
  outline: none;
  text-align: center;
}
@media (max-width: 991px) {
  .nav-skip:focus,
  .nav-skip:active {
    left: 40%;
    width: 20%;
  }
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper-msg .msg-content .copy,
.wrapper-msg .msg-content .copy p {
  font-size: 14px;
  line-height: 20.72px;
}




.msg {
  margin: 10px 0 10px 26px;
}
.window-wrap {
  background: #fff;
}
@media print {
  a[href]::after {
    content: none !important;
  }
}

.wrapper-msg {
  display: block;
  background: #383838;
  padding: 20px 30px;
}
.wrapper-msg .msg {
  max-width: 1180px;
  min-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.wrapper-msg .msg:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper-msg .msg-content {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-msg .msg-content .copy {
  color: inherit;
}
.wrapper-msg .msg-content .copy p {
  color: inherit;
}
.wrapper-msg.urgency-high {
  background: #383838;
}
.wrapper-msg.urgency-high .msg {
  color: #fff;
}
p {
  font: "Helvetica Neue";
}
html .container > div {
  border-radius: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
}
button,
html button,
html body button {
  box-shadow: none;
  text-shadow: none;
}
.content-wrapper .container,
.container {
  border: none;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
div#content,
div.content-wrapper,
div#content.content-wrapper {
  max-width: none;
  margin: auto;
  padding: 0;
}
main li:not([class]) > a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}
p {
  font-size: 1.2em/1.6em;
}
body a:link,
body a:visited,
body a:link:visited,
body a:active,
body a:link:active,
body p a,
body p a:link,
body p a:visited {
  color: #f89820;
  font-family: "Helvetica Neue";
  border-bottom: none;
}
body a:hover,
body a:visited:hover,
body a:link:hover,
body a:link:visited:hover,
body a:active:hover,
body a:link:active:hover,
body p a:link:hover,
body p a:hover {
  border-bottom: 1px solid #f89820;
  color: #f89820;
  text-decoration: none;
}
body a:focus {
  border-bottom: 0 none;
}
.container {
  min-width: 0px !important;
}
body div.window-wrap {
  min-width: inherit;
}
#primary-nav .row,
#secondary-nav .row {
  display: block;
}
#primary-nav .container,
#primary-nav .container > div,
#primary-nav div.container,
#primary-nav div.container > div,
#secondary-nav .container,
#secondary-nav .container > div,
#secondary-nav div.container,
#secondary-nav div.container > div,
.wrapper-footer .container,
.wrapper-footer .container > div,
.wrapper-footer div.container,
.wrapper-footer div.container > div {
  padding: 0;
  border: 0;
  background: transparent;
  box-shadow: none;
  max-width: 1180px;
}
.wrapper-footer footer .copyright {
  text-align: center;
  margin-top: 1em;
}
.wrapper-footer footer .copyright a {
  color: #f89820 !important;
}



.content-wrapper#content {
  padding-bottom: 1em;
  background-color: #ebebeb;
}
div.wrapper-footer {
  margin-top: 0;
  background-color: #222;
  border-top: 10px solid rgba(248, 151, 32, 0.9);
  color: white;
  min-height: 170px;
}
div.wrapper-footer footer .gymnasium-logo {
  height: 50px;
  margin-top: 15px;
  margin-left: 5px;
}
div.wrapper-footer footer .footer-link-list {
  margin-top: 30px;
}
div.wrapper-footer footer .footer-link-list li {
  border-right: 1px solid #444;
  height: 100%;
  padding-right: 8px;
}
div.wrapper-footer footer .footer-link-list li a,
div.wrapper-footer footer .footer-link-list li a:link {
  color: white;
  font-family: "brandon-grotesque";
}
div.wrapper-footer footer .footer-link-list li a:hover {
  color: #f89820;
}
div.wrapper-footer footer .footer-link-list li:last-child {
  border-right: 0px;
}
div.wrapper-footer footer a:hover {
  text-decoration: none;
  border: 0px;
}

.black-background {
  top: 0px;
  background-color: black;
  z-index: 0;
}
.gym-button:link,
.gym-button:visited {
  color: white;
  font-family: brandon-grotesque;
}
.gym-button,
a.gym-button,
a.gym-button:link {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  display: inline-block;
  width: 100%;
  padding: 1em;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 0.125em;
  background-color: #f89820;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
}
.gym-button b,
a.gym-button b,
a.gym-button:link b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  color: white;
}
body .gym-button:hover,
body .gym-button:active,
body .gym-button:active:hover,
body a.gym-button:hover,
body a.gym-button:active,
body a.gym-button:active:hover,
body a:visited.gym-button:hover,
body a:link.gym-button:hover,
body a:link:visited.gym-button:hover {
  background-color: #a6a6a6;
  color: white;
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: white;
  font-family: brandon-grotesque;
}
.gym-button:focus,
.gym-button:active {
  text-decoration: none !important;
  background: #939393;
}
.gym-button b {
  font: bold 1.2em/1 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.025em;
  vertical-align: bottom;
}
.aquent-icon,
.vitamin-t-icon {
  width: 35px;
  height: 25px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position-x: center;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}
.aquent-icon:hover,
.vitamin-t-icon:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  background-color: transparent;
}
.aquent-icon {
  background-image: url("https://thegymnasium.com/static/gymnasium/images/aquent-icon.56d05be37e9a.png");
}
.vitamin-t-icon {
  background-image: url("https://thegymnasium.com/static/gymnasium/images/vitamin-t-icon.32e5d567b8ca.png");
}
html body h1,
html body h2,
html body h3 {
  text-align: left;
  text-transform: uppercase;
  font-family: brandon-grotesque;
}
html body h1,
html body h2 {
  font-weight: 900;
}
html body h3 {
  font-weight: bold;
}
h1 {
  font: 900 2.4em/1.2 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.04em;
  word-spacing: 0.05em;
  text-transform: uppercase;
}
h2 {
  font: 900 1em/1.3 brandon-grotesque, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 0.06em;
  word-spacing: 0.04em;
  text-transform: uppercase;
}
/*! CSS Used from: Embedded */
main li:not([class]) > a:not([class]) {
  line-height: inherit;
  color: currentColor !important;
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 1px solid currentColor !important;
}
main li:not([class]) > a:not([class]):hover,
main li:not([class]) > a:not([class]):focus,
main li:not([class]) > a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css */


article,
aside,
details,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}



h1 {
  margin: 0.67em 0;
  font-size: 2em;
}



button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  text-transform: none;
}


@media print {
  *,
  :after,
  :before {
    color: #000 !important;
    text-shadow: none !important;
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="#"]:after {
    content: "";
  }
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
}




button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}



h1,
h2,
h3 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}


h3 {
  font-size: 24px;
}


ul {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul {
  margin-bottom: 0;
}

.col-md-2,
.col-md-3,
.col-md-4,
.col-md-8,
.col-sm-10,
.col-xs-12,
.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-12,
.col-xs-6 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-6 {
  width: 50%;
}
@media (min-width: 768px) {
  .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-8 {
    float: left;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
}
.collapse {
  display: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}



/*! CSS Used from: Embedded */

/*! CSS Used fontfaces */





































































































