---
layout: raw
permalink: /tests/take5/dates/
---

{%- comment -%}
//
// This page is just for debugging -- It will eventually go away
//
{%- endcomment -%}

{%- assign pubdates = ""  | split: ", " -%}
{%- assign publish_order = ""  | split: ", " -%}

{% assign catalog = site.data.take5 | sort %}

{% for take5_hash in catalog %}
    {% assign item = take5_hash[1] %}
    {%- assign pubdates = pubdates | push: item.date -%}
{% endfor %}

{%- assign pubdates_sorted = pubdates | sort -%}

{%- for pubdate in pubdates_sorted -%}
    
    {% for take5_hash in catalog %}
        {% assign item = take5_hash[1] %}
        {%- if item.date == pubdate -%}
            {%- assign publish_order = publish_order | push: item.course_ID -%}
        {%- endif -%}
    {% endfor %}

{%- endfor -%}

{%- assign publish_order = publish_order | uniq | join: ', '|split: ', '  -%}

{%- for item in publish_order -%}
<pre>
Course ID: {{ site.data.take5[item].course_ID }}
Title: {{ site.data.take5[item].title }}
Publish Date: {{ site.data.take5[item].date }}
Publish Date: {{ site.data.take5[item].date | date_to_string }}
</pre>
{%- endfor -%}
