{%- assign email_campaign = "back-to-school" -%}

<div class="banner-email-campaign">
  <!-- Student -->
  <div class="banner-fragment" id="{{ email_campaign }}-student"></div>
  <div class="banner-promo student">
    <p><span aria-label="Smiling Face with Sunglasses emoji" role="img">&#128075;</span> <strong>Welcome back.</strong> Navigate our new content. <span aria-label="Right Arrow Curving Up emoji" role="img">&#10548;&#xfe0e;</span></p>
  </div>
  <!-- Talent-->
  <div class="banner-fragment" id="{{ email_campaign }}-talent"></div>
  <div class="banner-promo talent">
    <p><span aria-label="Smiling Face with Sunglasses emoji" role="img">&#128526;</span> Learning new skills never goes out of style. <span aria-label="Right Arrow Curving Up emoji" role="img">&#10548;&#xfe0e;</span></p>
  </div>
</div>