
<link rel="stylesheet" href="{{site.url}}/css/footer.css?{{ site.time | date:'%s' }}">
<div class="wrapper-footer">
  <footer id="contentinfo">
    <div class="container">
      <div class="row">
        <nav aria-label="Footer Navigation">
          <div class="col-xs-12 col-sm-10 col-md-3">
            <div class="gym-brand">
              <div role="heading">
                <a href="/" title="Gymnasium Homepage">
                  <img class="gymnasium-logo" alt="Aquent Gymnasium" src="{{site.url}}/img/brand/png/gymnasium-logo-white-4x.png" srcset="{{site.url}}/img/brand/svg/gymnasium-logo-white.svg" decoding="async" width="200" height="23">
                </a>
              </div>
              <p>Design a career you love with free online courses.</p>
            </div>
          </div>
          <div class="col-xs-6 col-md-2 what-we-do">
            <section class="footer-link-list" id="what-we-do">
              <h2>What We Do</h2>
              <ul>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/courses/take5">Tutorials</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/webinars">Webinars</a></li>
                <li><a href="https://medium.com/gymnasium" target="_blank" rel="noopener">Articles</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </section>
          </div>
          <div class="col-xs-6 col-md-2 collections">
            <section class="footer-link-list" id="collections">
              <h2>Collections</h2>
              <ul>
                <li><a href="/design-systems">Design Systems</a></li>
                <li><a href="/web-development">Web Development</a></li>
                <li><a href="/ux-design">UX Design</a></li>
                <li><a href="/prototyping">Prototyping</a></li>
                <li><a href="/accessibility">Accessibility</a></li>
                <li><a href="/remote-work">Remote Work</a></li>
              </ul>
            </section>
          </div>
          <div class="col-xs-6 col-md-3 resources">
            <section class="footer-link-list" id="resources">
              <h2>Resources</h2>
              <ul>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <li><a href="https://aquent.com/csr-policy" target="_blank" rel="noopener">Corporate Social Responsibility</a></li>
                <li><a href="https://aquent.de/impressum" target="_blank" rel="noopener">Impressum</a></li>
              </ul>
            </section>
          </div>
          <div class="col-xs-6 col-md-2 social">
            <section class="footer-link-list" id="social">
              <h2>Social</h2>
              <ul>
                <li>
                  <a data-title="Twitter" href="https://twitter.com/AquentGymnasium" target="_blank" rel="noopener">
                    <img alt="Twitter" src="{{site.url}}/img/social/icons/png/icon-twitter-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-twitter.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="Facebook" href="https://www.facebook.com/aquentgymnasium/" target="_blank" rel="noopener">
                    <img alt="Facebook" src="{{site.url}}/img/social/icons/png/icon-facebook-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-facebook.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="Instagram" href="https://www.instagram.com/aquent_gymnasium/" target="_blank" rel="noopener">
                    <img alt="Instagram" src="{{site.url}}/img/social/icons/png/icon-instagram-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-instagram.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="YouTube" href="https://www.youtube.com/channel/UCsAAa0dL-ZJpq4gN1zEcXYw" target="_blank" rel="noopener">
                    <img alt="YouTube" src="{{site.url}}/img/social/icons/png/icon-youtube-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-youtube.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="LinkedIn" href="https://www.linkedin.com/school/gymnasium/" target="_blank" rel="noopener">
                    <img alt="LinkedIn" src="{{site.url}}/img/social/icons/png/icon-linkedin-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-linkedin.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="Medium" href="https://medium.com/gymnasium" target="_blank" rel="noopener">
                    <img alt="Medium" src="{{site.url}}/img/social/icons/png/icon-medium-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-medium.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
                <li>
                  <a data-title="GitHub" href="https://github.com/gymnasium" target="_blank" rel="noopener">
                    <img alt="GitHub" src="{{site.url}}/img/social/icons/png/icon-github-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-github.svg" decoding="async" width="24" height="24">
                  </a>
                </li>
              </ul>
            </section>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a title="Open edX" href="https://openedx.org" target="_blank" rel="noopener">
            <img class="open-edx-logo" alt="Powered by Open edX" src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-dark.png" decoding="async" width="175" height="70">
          </a>
          <div class="copyright"><small>© {{ 'now' | date: "%Y" }}  <a href="https://thegymnasium.com">Aquent Gymnasium</a></small></div>
        </div>
      </div>
    </div>
  </footer>
</div><!-- .wrapper-footer -->
