<div class="wrapper-footer">
  <footer id="contentinfo">
    <div class="container">
      <div class="row">
        <nav aria-label="Footer Navigation">
          <div class="col brand">
            <div class="gym-brand">
              <div role="heading">
                <a href="/" title="Gymnasium Homepage">
                  <img class="gymnasium-logo" alt="Aquent Gymnasium" src="{{site.url}}/img/brand/png/gymnasium-logo-white-4x.png" srcset="{{site.url}}/img/brand/svg/gymnasium-logo-white.svg" decoding="async" fetchpriority="low" width="200" height="23">
                </a>
              </div>
              <p>Design a career you love with free online courses.</p>
            </div>
          </div>
          <div class="col what-we-do">
            <section class="footer-link-list" id="what-we-do">
              <h2>What We Do</h2>
              <ul role="list">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/courses/take5">Tutorials</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/webinars">Webinars</a></li>
                <li><a href="https://medium.com/gymnasium" target="_blank" rel="noopener">Articles</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </section>
          </div>
          <div class="col collections">
            <section class="footer-link-list" id="collections">
              <h2>Content Collections</h2>
              <ul role="list">
                <li><a href="/design-systems">Design Systems</a></li>
                <li><a href="/web-development">Web Development</a></li>
                <li><a href="/ux-design">UX Design</a></li>
                <li><a href="/prototyping">Prototyping</a></li>
                <li><a href="/accessibility">Accessibility</a></li>
                <li><a href="/remote-work">Remote Work</a></li>
              </ul>
            </section>
          </div>
          <div class="col resources">
            <section class="footer-link-list" id="resources">
              <h2>Resources</h2>
              <ul role="list">
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/support">Support</a></li>
                <li><a href="/social-impact">Social Impact</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="https://aquent.com/csr-policy" target="_blank" rel="noopener">Corporate Social Responsibility</a></li>
                <li><a href="https://aquent.de/impressum" target="_blank" rel="noopener">Impressum</a></li>
              </ul>
            </section>
          </div>
          <div class="col social">
            <section class="footer-link-list" id="social">
              <h2>Social</h2>
              <ul role="list">
                <li>
                  <a href="https://twitter.com/AquentGymnasium" target="_blank" rel="noopener">
                    <img alt="Twitter bird icon." src="{{site.url}}/img/social/icons/png/icon-twitter-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-twitter.svg" decoding="async" fetchpriority="low" width="20" height="20"> Twitter
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/aquentgymnasium/" target="_blank" rel="noopener">
                    <img alt="Facebook “f” icon." src="{{site.url}}/img/social/icons/png/icon-facebook-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-facebook.svg" decoding="async" fetchpriority="low" width="20" height="20"> Facebook
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/aquent_gymnasium/" target="_blank" rel="noopener">
                    <img alt="Instagram camera icon." src="{{site.url}}/img/social/icons/png/icon-instagram-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-instagram.svg" decoding="async" fetchpriority="low" width="20" height="20"> Instagram
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/AquentGymnasium" target="_blank" rel="noopener">
                    <img alt="YouTube play button icon." src="{{site.url}}/img/social/icons/png/icon-youtube-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-youtube.svg" decoding="async" fetchpriority="low" width="20" height="20"> YouTube
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/school/gymnasium/" target="_blank" rel="noopener">
                    <img alt="LinkedIn “in” icon." src="{{site.url}}/img/social/icons/png/icon-linkedin-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-linkedin.svg" decoding="async" fetchpriority="low" width="20" height="20"> LinkedIn
                  </a>
                </li>
                <li>
                  <a href="https://medium.com/gymnasium" target="_blank" rel="noopener">
                    <img alt="Medium ellipsis (dot, oval, thin oval) icon." src="{{site.url}}/img/social/icons/png/icon-medium-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-medium.svg" decoding="async" fetchpriority="low" width="20" height="20"> Medium
                  </a>
                </li>
                <li>
                  <a href="https://github.com/gymnasium" target="_blank" rel="noopener">
                    <img alt="GitHub Octocat silhouette icon." src="{{site.url}}/img/social/icons/png/icon-github-4x.png" srcset="{{site.url}}/img/social/icons/svg/icon-github.svg" decoding="async" fetchpriority="low" width="20" height="20"> GitHub
                  </a>
                </li>
              </ul>
            </section>
          </div>
          <div class="col affiliated-sites">
            <section class="footer-link-list" id="affiliated-sites">
              <h2>Affiliated Sites</h2>
              <ul role="list">
                <li><a href="https://aquent.com" target="_blank" rel="noopener">Aquent</a></li>
                <li><a href="https://aquenttalent.com" target="_blank" rel="noopener">Aquent Talent</a></li>
                <li><a href="https://aquentstudios.com" target="_blank" rel="noopener">Aquent Studios</a></li>
                <li><a href="https://www.robohead.net" target="_blank" rel="noopener">Aquent RoboHead</a></li>
                <li><a href="https://aquentscout.com" target="_blank" rel="noopener">Aquent Scout</a></li>
              </ul>
            </section>
          </div>
        </nav>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a title="Open edX" href="https://openedx.org" target="_blank" rel="noopener">
            <img class="open-edx-logo" alt="Powered by Open edX logo." src="{{site.url}}/img/brand/png/edx-openedx-logo-tag-dark.png" decoding="async" fetchpriority="low" width="175" height="70">
          </a>
          <div class="copyright"><small>© {{ 'now' | date: "%Y" }}  <a href="https://thegymnasium.com">Aquent Gymnasium</a></small></div>
        </div>
      </div>
    </div>
  </footer>
</div><!-- .wrapper-footer -->

{%- include /partials/system-status-helper.html -%}

{%- comment -%}
JS or tracking pixels to be included at the bottom of the theme
{%- endcomment -%}

{%- assign geolocator_src = "/apps/gym/geolocator" | prepend: site.aqassetsurl -%}

{%- if site.environment == "local" -%}
  {%- assign geolocator_src = "?gymdev=true" | prepend: geolocator_src -%}
{%- endif -%}
{%- comment -%} Disabling for now...- RE
<iframe id="geolocator" src="{{ geolocator_src }}" frameborder="0" style="width:1px;height:1px;visibility:hidden;display:none;"></iframe>
{%- endcomment -%}

<script id="mainjs" async defer src="{{site.url}}/js/main.js?{{ site.time | date:'%s' }}"></script>
<script id="cookiebanner" async src="{{site.url}}/js/vendor/cookiebanner.js?{{ site.time | date:'%s' }}" data-link="#f89820" data-fg="null" data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. Find out more about how we use cookies in our" data-linkmsg="Privacy Policy." data-moreinfo="/privacy-policy"></script>


