{%- assign homelink = "/" -%}
{%- if site.environment == 'local' -%}
  {%- assign homelink = "/home/index/" -%}
{%- endif -%}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en" data-cwenv="my"><![endif]-->
<!--[if !IE]><!--><html lang="en" data-cwenv="cw-beta"><!--<![endif]-->
  <head dir="ltr">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Free online courses on design and web development | Gymnasium</title>

    <script src="{{site.gymurl}}/static/js/i18n/en/djangojs.e37eef1ffc63.js"></script>
    <script src="{{site.gymurl}}/static/js/ie11_find_array.bd1c6dc7a133.js"></script>

    <link
      rel="icon"
      type="image/x-icon"
      href="{{site.gymurl}}/static/gymnasium/images/favicon.f729730b6e79.ico"
    />

    <link
      href="{{site.gymurl}}/static/gymnasium/css/lms-style-vendor.68e48093f5dd.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{{site.gymurl}}/static/gymnasium/css/lms-main-v1.d803db09b7be.css"
      rel="stylesheet"
      type="text/css"
    />

    <script
      type="text/javascript"
      src="{{site.gymurl}}/static/js/lms-main_vendor.a04b73033169.js"
      charset="utf-8"
    ></script>


    <meta property="og:url" content="https://thegymnasium.com/" />
    <meta property="og:title" content="Aquent Gymnasium" />
    <meta
      property="og:image"
      content="https://thegymnasium.com/static/gymnasium/images/social-share-400.f9715ec47ea8.png"
    />

    <meta
      property="og:description"
      content="Gymnasium offers free online courses on web development, design, user experience, and content creation."
    />
    <meta
      property="og:keywords"
      content="free online courses designers design user experience UX javascript node nodejs sketch wordpress drupal UI"
    />

    {%- comment -%}Include meta components for DRYness{%- endcomment -%}
    {%- include /partials/theme-head-meta.html -%}

    <!-- insert typekit font references -->
    <script src="//use.typekit.net/rhf0qta.js"></script>
    <script>
      try {
        Typekit.load();
      } catch (e) {}
    </script>

    <!-- bootstrap! -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    {%- comment -%}Include CSS components for DRYness{%- endcomment -%}
    {%- include /partials/theme-head-css.html -%}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>

    <!-- iframe resize script for responsive job modules-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.0/iframeResizer.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.22.0/prism.min.js"></script>
    <script
      src="{{site.gymurl}}/static/gymnasium/js/cookiebanner.0960edf8dcf3.js"
      id="cookiebanner"
      data-link="#f89820"
      data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. Find out more about how we use cookies in our"
      data-linkmsg="Privacy Policy."
      data-moreinfo="/privacy"
    ></script>

    <script>
      var CW_ENV = "cw-beta";
    </script>

    <script src="{{site.gymurl}}/static/gymnasium/js/gymnasium.js"></script>

    {%- comment -%}Include JS components for DRYness{%- endcomment -%}
    {%- include /partials/theme-head-js.html -%}

    <script>
      // check for unsupported browsers; display warning message if an old browser
      // is in use

      $(function () {
        iFrameResize({ log: false }, ".gymnasium-resizable-iframe");

        // This function returns Internet Explorer's major version number,
        // or 0 for others. It works by finding the "MSIE " string and
        // extracting the version number following the space, up to the decimal
        // point, ignoring the minor version number
        // for more info, see: https://support.microsoft.com/en-us/kb/167820
        function msieversion() {
          var ua = window.navigator.userAgent;
          var msie = ua.indexOf("MSIE ");

          if (msie > 0)
            // If Internet Explorer, return version number
            return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)));
          // If another browser, return 0
          else return 0;
        }

        function displayBrowserWarning() {
          $("#browserWarning").show();
        }

        var ieversion = msieversion();
        // make sure that we are using IE > 9
        if (ieversion > 0 && ieversion < 11) {
          displayBrowserWarning();
        }
      });

      //this is a nonsense hack to make courseware subnavigation look like
      //what we want it to look like until we move to Cypress
      //TODO: Unhackify this.
      $(function () {
        $('.course-tabs li a b:contains("Course")').each(function (idx, value) {
          value.innerHTML = "Lessons";
        });

        $('.course-tabs li a b:contains("Home")').each(function (idx, value) {
          value.innerHTML = "Syllabus";
        });

        $('.course-tabs li a b:contains("Discussion")').each(function (
          idx,
          value
        ) {
          value.innerHTML = "Forum";
        });

        // make sure lessons tab comes first
        var syllabusTab = $('.course-tabs li:contains("Lessons")');
        $(syllabusTab).prependTo($(syllabusTab).parent());

        $('.course-tabs li a:contains("Forum")').each(function (idx, value) {
          //TODO: Unhack this silly logic to hide forum tab for gym shorts

          //we're looking at the href property of this anchor to see if it contains
          //a course link that has "Gym/00" in it.  All gym shorts start with "0"
          //so that should hide this link. Note that this does _not_ disable
          //forums... those pages will still exist, but we won't like to them.
          if ($(value).attr("href").toLowerCase().indexOf("gym/0") > 0) {
            $(value).parent().hide();
          }
        });

        $('.course-tabs li:contains("Progress")').hide();
        $(".course-tabs").show();
      });
    </script>

    <meta name="path_prefix" content="" />

    <meta name="openedx-release-line" content="hawthorn" />
  </head>

  <body class="ltr gymnasium-home lang_en">
    <div id="page-prompt"></div>
      <a class="nav-skip sr-only sr-only-focusable" href="#main"
        >Skip to main content</a
      >

      <header class="global" aria-label="Global Navigation">
        <nav id="primary-nav" class="black-background container-fluid">
          <div class="container">
            <div class="row">
              <div class="navbar">
                <div class="nav navbar navbar-nav navbar-left"></div>
                <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#" id="dropdown" class="logged-in-username">
                        rediris <span class="caret"></span>
                      </a>
                      <ul class="" id="dropdown-menu">
                        <li><a href="/logout" role="menuitem">Log Out</a></li>
                      </ul>
                    </li>

                    <li>
                      <a
                        href="https://aquent.com"
                        target="_blank"
                        title="Aquent"
                        class="gym-nav-icon-container"
                      >
                        <i class="gym-nav-icon aquent-icon"></i
                      ></a>
                    </li>
                    <li>
                      <a
                        href="https://vitamintalent.com"
                        target="_blank"
                        title="Vitamin T"
                        class="gym-nav-icon-container"
                      >
                        <i class="gym-nav-icon vitamin-t-icon"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <nav id="secondary-nav" class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="navbar navbar-default">
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#secondary-nav-items"
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{homelink}}">
                    <img
                      class="gymnasium-logo"
                      src="{{site.gymurl}}/static/gymnasium/images/gymnasiumLogo.png"
                      srcset="{{site.gymurl}}/static/gymnasium/images/gymnasium-logo-white.svg"
                      width="200"
                      height="23"
                      alt="Aquent Gymnasium home page"
                    />
                  </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="secondary-nav-items">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/courses">Courses</a></li>
                    <li><a href="/jobs">Jobs</a></li>
                    <li><a href="/about">About</a></li>

                    <li class="nav-global-01">
                      <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="visible-xs">
                      <a href="/logout">Log out</a>
                    </li>
                  </ul>
                </div>
                <!-- /.navbar-collapse -->
              </div>
            </div>
          </div>
        </nav>

        <div
          class="wrapper-msg urgency-high"
          id="browserWarning"
          style="display: none"
        >
          <div class="msg">
            <div class="msg-content">
              <h1>Improve your Gymnasium experience</h1>
              <div class="copy">
                <p>
                  It looks like you’re using an unsupported browser. To get the
                  most out of your Gymnasium experience, we recommend that you
                  use
                  <a
                    href="https://www.google.com/chrome/index.html"
                    target="_blank"
                    >Chrome</a
                  >,
                  <a
                    href="https://www.mozilla.org/en-US/firefox/new/"
                    target="_blank"
                    >Firefox</a
                  >, or
                  <a href="http://www.apple.com/safari/" target="_blank"
                    >Safari</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- //
Generated at: 2021-05-26 09:20:28 -0400
Served from: https://thegymcms.com/system-status/
Git Hash: 5ef0c65
// -->

      <script>
        $(function () {
          var button = document.getElementById("dropdown");

          $(button).click(function () {
            var menu = document.getElementById("dropdown-menu");

            var caret = $(button).children(".caret");

            if (menu.style.display !== "inline") {
              menu.style.display = "inline";
              $(caret).hide();
            } else {
              menu.style.display = "none";
              $(caret).show();
            }
          });
        });
      </script>

      <div class="marketing-hero"></div>

      <div class="content-wrapper main-container" id="content">
