{%- assign homelink = "/" -%}
{%- if site.environment == 'local' -%}
  {%- assign homelink = "/home/index/" -%}
{%- endif -%}

<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en" data-cwenv="my"><![endif]-->
<!--[if !IE]><!--><html lang="en" data-cwenv="cw-beta"><!--<![endif]-->
  <head dir="ltr">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Free online courses on design and development | Gymnasium</title>

    <link
      rel="icon"
      type="image/x-icon"
      href="{{site.gymurl}}/static/gymnasium/images/favicon.ico"
    />

    <!-- We need to keep this JS intact for now to prevent console errors on localhost -->
    <script
      type="text/javascript"
      src="{{site.gymurl}}/static/js/lms-main_vendor.js"
      charset="utf-8"
    ></script>

    {%- comment -%}Include meta components for DRYness{%- endcomment -%}
    {%- include /partials/meta.html -%}

    <script>
      var CW_ENV = "cw-beta";
    </script>

    <meta name="path_prefix" content="" />

    <meta name="openedx-release-line" content="hawthorn" />
  </head>

  <body class="ltr gymnasium-home lang_en">
    <div id="page-prompt"></div>
      <a class="nav-skip sr-only sr-only-focusable" href="#main">Skip to main content</a>
      <aside id="system-status" class="system-status hide"></aside>

      <header class="site-header" aria-label="Site Header">

        <nav id="utility-nav" class="utility-nav" aria-label="Affiliated Brands Navigation">
          <div class="container">
            <ul role="list">
              <li>
                <a href="https://aquent.com" class="grayscale" rel="noopener" target="_blank" aria-label="Aquent website">
                  <img class="icon-aquent" alt="Aquent “A” logo." src="{{site.url}}/img/brand/png/aquent-a-logo-orange.png" srcset="{{site.url}}/img/brand/svg/aquent-a-logo-orange.svg" width="23" height="25" decoding="async" fetchpriority="high">
                </a>
              </li>
              <li>
                <a href="https://aquenttalent.com" class="grayscale opacity" rel="noopener" target="_blank" aria-label="Aquent Talent website">
                  <img class="icon-aquent-talent" alt="Aquent Talent “T” (inside a teardrop) logo." src="{{site.url}}/img/brand/png/aquent-talent-t-logo-white.png" srcset="{{site.url}}/img/brand/svg/aquent-talent-t-logo-white.svg" width="26" height="29" decoding="async" fetchpriority="high">
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <nav id="main-nav" class="main-nav" aria-label="Main Navigation">
          <div class="container">

            <a class="site-logo" href="/">
              <img class="gymnasium-logo" alt="Gymnasium Homepage" src="{{site.url}}/img/brand/png/gymnasium-logo-white-4x.png" srcset="{{site.url}}/img/brand/svg/gymnasium-logo-white.svg" decoding="async" fetchpriority="high" width="200" height="23">
            </a>

            {%- assign menuclass = "logged-out" -%}
            {%- assign dashclass = "gym-button" -%}
            {%- if page.permalink == '/home/index-auth/' -%}
              {%- assign menuclass = "logged-in" -%}
              {%- assign dashclass = "" -%}
            {%- endif -%}

            <ul class="{{menuclass}}" role="list">
              <li><a href="/courses">Courses</a></li>
              <li><a href="/jobs">Jobs</a></li>
              <li class="vbar"><a href="/about">About</a></li>

              {%- if page.permalink == '/home/index-auth/' -%}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Log Out</a></li>
              {%- else -%}
                <li><a href="/login?dashboard">Sign In</a></li>
                <li><a class="{{dashclass}}" href="/register">Sign Up</a></li>
              {%- endif -%}
            </ul>
          </div>
        </nav>

        <div class="wrapper-msg urgency-high" id="browserWarning" style="display:none;">
            <div class="msg">
                <div class="msg-content">
                    <h1>Improve your Gymnasium experience</h1>
                    <div class="copy">
                        <p>It looks like you’re using an unsupported browser. To get the most out of your Gymnasium experience, we recommend that you use
                          <a href="https://www.google.com/chrome/index.html" target="_blank" rel="noopener">Chrome</a>,
                          <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener">Firefox</a>, or
                          <a href="https://www.apple.com/safari/" target="_blank" rel="noopener">Safari</a>.</p>
                    </div>
                </div>
            </div>
        </div>
      </header>

      <script>
        $(function () {
          var button = document.getElementById("dropdown");

          $(button).click(function () {
            var menu = document.getElementById("dropdown-menu");

            var caret = $(button).children(".caret");

            if (menu.style.display !== "inline") {
              menu.style.display = "inline";
              $(caret).hide();
            } else {
              menu.style.display = "none";
              $(caret).show();
            }
          });
        });
      </script>

      <div class="marketing-hero"></div>

      <div class="content-wrapper main-container" id="content">
