<header>
  <h2 class="all-caps">
    {{ include.topic }}
  </h2>
</header>
<div class="cols cols-max-3">
  <ul>

{%- assign base_path = "/courses/take5/" | prepend: site.gymurl -%}

{% assign sorted_catalog = site.data.take5 | sort %}

{% for take5_hash in sorted_catalog reversed %}

{% assign item = take5_hash[1] %}

{% if item.topic == include.topic %}

{% if item.live == true %}

    <li>
      <article class="tutorial">
        <div class="artwork" data-duration="{{ item.video_duration }}">
          <a href="{{ item.title | slugify | prepend: base_path }}" title="Watch Video">
            <img alt="{{ item.title }}" src="{{ site.url }}{{ item.poster_art }}">
          </a>
        </div>
        <header>
          <h3 class="all-caps">
            <a href="{{ item.title | slugify | prepend: base_path }}">{{ item.title }}</a>
          </h3>
        </header>
      </article>
    </li>

{% endif %}
{% endif %}

{% endfor %}
  </ul>
</div>
