<h3>{{ include.topic }}</h3>

{%- comment -%}
//
// This include will produce a group of take 5 tutorials 
// (based on the topic passed to the include)
//
{%- endcomment -%}


{%- comment -%}
//
// Loop through all the take 5s
//
{%- endcomment -%}


{% assign sorted_catalog = site.data.take5s | sort %}

{% for take5_hash in sorted_catalog reversed %}

{% assign item = take5_hash[1] %}

{% if item.topic == include.topic %}

{%- comment -%}
//
// Only list items if they their live status is true... i.e. if they're live 😉
//
{%- endcomment -%}

{% if item.live == true %}
<h4>{{ item.title }} </h4>
    <!-- Topic: {{ item.topic }} -->
    <!-- Live: {{ item.live }} -->
<ul>
    <li>URL: <a href="{{ item.url | relative_url }}">{{ item.url | relative_url }}</a></li>
    <li>Art: {{ item.art }}</li>
    <li>Video Duration: {{ item.video_duration }}</li>
</ul>
{% endif %}
{% endif %}

{% endfor %}
