<header>
  <h2 class="all-caps">
    {{ include.topic }}
  </h2>
</header>
<div class="cols cols-max-3">
  <ul>

{%- assign base_path = "/courses/take5/" | prepend: site.gymurl -%}
{%- assign sorted_catalog = site.data.take5 | sort -%}

{%- for take5_hash in sorted_catalog reversed -%}

  {%- assign item = take5_hash[1] -%}

  {%- if item.topic == include.topic -%}

    {%- if item.live == true -%}

    <li>
      <article class="tutorial">
        <div class="artwork" data-duration="{{ item.video_duration }}">
          <a href="{{ item.title | slugify | prepend: base_path }}" title="Watch Video">
            <img alt="{{ item.title }}" src="{{ site.url }}{{ item.poster_art }}" width="1280" height="720" decoding="async" loading="lazy">
          </a>
        </div>
        <header>
          <h3 class="all-caps">
            <a href="{{ item.title | slugify | prepend: base_path }}">{{ item.title }}</a>
          </h3>
          <p>{{ item.short_description }}</p>
        </header>
        <div class="cta cta-left">
          <a class="gym-button" href="{{ item.title | slugify | prepend: base_path }}">
            <b>Watch Video</b>
          </a>
        </div>
        <footer>
          <p><b>{{ item.course_type | replace: 'take5', 'Tutorial' }}</b></p>
          <p>{{ item.skill_level }}</p>
        </footer>
      </article>
    </li>

    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
  </ul>
</div>
