<div class="take5--recommended-content">
    <div class="container">

{% if include.rec-take5 %}

      <section class="take5--recommended" id="recommended-tutorials">
        <header>
          <h2 class="all-caps">More Take 5 Tutorials</h2>
        </header>
        <div class="cols cols-max-3 cols-hr">
          <ul>
            <li>
              <section class="tutorial">
                  <a href="#">
                    <div class="artwork">
                      <img alt="Making a CSS Parallax Effect" src="img/video-posters/gym-5001-1920w.jpg">
                    </div>
                  </a>
                <header>
                  <h3 class="gymlink">
                    <a href="#">Making a CSS Parallax Effect</a>
                  </h3>
                </header>
              </section>
            </li>
            <li>
              <section class="tutorial">
                  <a href="#">
                    <div class="artwork">
                      <img alt="Adding a CSS Gradient Overlay to an Image" src="img/video-posters/gym-5002-1920w.jpg">
                    </div>
                  </a>
                <header>
                  <h3 class="gymlink">
                    <a href="#">Adding a CSS Gradient Overlay to an Image</a>
                  </h3>
                </header>
              </section>
            </li>
            <li>
              <section class="tutorial">
                  <a href="#">
                    <div class="artwork">
                      <img alt="Working with CSS Feature Queries" src="img/video-posters/gym-5003.png">
                    </div>
                  </a>
                <header>
                  <h3 class="gymlink">
                    <a href="#" target="_blank" rel="noopener">Working with CSS Feature Queries</a>
                  </h3>
                </header>
              </section>
            </li>
          </ul>
        </div>
        <div class="cta">
          <a class="gym-button" href="https://thegymnasium.com/take-5"><b>View Take 5 Catalog</b></a>
        </div>
      </section>

{% endif %}

{% if include.rec-courses %}
      
      <section class="take5--recommended" id="recommended-courses">
        <header>
          <h2 class="all-caps">Courses We Recommend</h2>
        </header>
        <div class="cols cols-max-3 cols-hr">
          <ul>
            <li>
              <section class="course">
                  <a href="https://thegymnasium.com/courses/GYM/107/0/about">
                    <div class="artwork">
                      <img alt="Modern Web Design" src="img/course-artwork/png/gym-107.png" srcset="img/course-artwork/svg/gym-107.svg">
                    </div>
                  </a>
                <header>
                  <h3 class="gymlink"><a href="https://thegymnasium.com/courses/GYM/107/0/about">Modern Web Design</a></h3>
                </header>
              </section>
            </li>
            <li>
              <section class="course">
                    <a href="https://thegymnasium.com/courses/course-v1:GYM+109+0/about">
                    <div class="artwork">
                      <img alt="Responsive Web Design Fundamentals" src="iimg/course-artwork/png/gym-109.png" srcset="img/course-artwork/svg/gym-109.svg">
                    </div>
                    </a>
                <header>
                  <h3 class="gymlink"><a href="https://thegymnasium.com/courses/course-v1:GYM+109+0/about">Responsive Web Design Fundamentals</a></h3>
                </header>
              </section>
            </li>
            <li>
              <section class="course">
                    <a href="https://thegymnasium.com/courses/course-v1:GYM+011+0/about">
                      <div class="artwork">
                        <img alt="Build Better Websites With Chrome Developer Tools" src="img/course-artwork/png/gym-011.png" srcset="img/course-artwork/svg/gym-011.svg">
                      </div>
                    </a>
                <header>
                  <h3 class="gymlink"><a href="https://thegymnasium.com/courses/course-v1:GYM+011+0/about">Build Better Websites With Chrome Developer Tools</a></h3>
                </header>
              </section>
            </li>
          </ul>
        </div>
        <div class="cta">
          <a class="gym-button" href="https://thegymnasium.com/courses"><b>View Course Catalog</b></a>
        </div>
      </section>
{% endif %}

      <div class="to-top-link">
        <a href="#main"><b>Back to top</b></a>
      </div>
    </div>
</div>