<!doctype html>
<html lang="en-US" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://thegymnasium.com/static/gymnasium/css/lms-style-vendor.css">
	<link rel="stylesheet" href="https://thegymnasium.com/static/gymnasium/css/lms-main-v1.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://jgagne.github.io/gym-take-5/details-page/css/fonts.css">
<!-- insert prism for syntax highlighting -->
<!-- <script src="https://thegymnasium.com//static/gymnasium/js/prism.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js">
	</script>
	<script>
		! function() {
		  if (self.Prism) {
		    var e = {};
		    Prism.hooks.add("before-highlight", function(a) {
		      var t = a.element.parentNode;
		      if (t && /pre/i.test(t.nodeName)) {
		        var i = e[a.language] || a.language;
		        t.setAttribute("data-language", i)
		      }
		    })
		  }
		}();
	</script>
	<title>Take 5 tutorials | Gymnasium</title>
</head>
<body>

<header class="global" aria-label="Global Navigation">
	<nav id="primary-nav" class="black-background container-fluid">
		<div class="container">
			<div class="row">
				<div class="navbar">
					<div class="nav navbar navbar-nav navbar-left">
						<a class="gym-button" href="/register"><b>Sign Up</b></a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="http://www.aquent.com" target="_blank" alt="Aquent" class="gym-nav-icon-container"> <i class="gym-nav-icon aquent-icon"></i></a></li>
							<li><a href="http://www.vitamintalent.com" target="_blank" alt="Vitamin T" class="gym-nav-icon-container"> <i class="gym-nav-icon vitamin-t-icon"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<nav id="secondary-nav" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav-items"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="/"> <img class="gymnasium-logo" src="https://thegymnasium.com/static/gymnasium/images/gymnasiumLogo.png" srcset="https://thegymnasium.com/static/gymnasium/images/gymnasium-logo-white.svg" width="200" height="23" alt="Aquent Gymnasium home page"> </a>
					</div>
<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="secondary-nav-items">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/courses">Courses</a></li>
							<li><a href="/jobs">Jobs</a></li>
							<li><a href="/about">About</a></li>
							<li> <a class="gym-button" href="/login?next=%2F"><b>Log In</b></a> </li>
						</ul>
					</div>
<!-- /.navbar-collapse -->
				</div>
			</div>
		</div>
	</nav>
	<div class="wrapper-msg urgency-high" id="browserWarning" style="display:none;">
		<div class="msg">
			<div class="msg-content">
				<h1>
					Improve your Gymnasium experience
				</h1>
				<div class="copy">
					<p>
						It looks like you’re using an unsupported browser. To get the most out of your Gymnasium experience, we recommend that you use <a href="https://www.google.com/chrome/index.html" target="_blank">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>, or <a href="http://www.apple.com/safari/" target="_blank">Safari</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="content-wrapper" id="content">

<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
 -->
