{% if page.video_ID %}

    {% if page.video_source == 'wistia' %}
    <!-- The Wistia embed: -->
    <script src="https://fast.wistia.com/embed/medias/{{page.video_ID}}.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_{{page.video_ID}} videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/{{page.video_ID}}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

    {% else %}
    <!-- The YouTube embed: -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video_ID }}" frameborder="0" allowfullscreen></iframe> -->
    {% endif %}

    {% else %}
<h2>No video ID provided</h2>
{% endif %}

