---
---
@import 'variables';
@import 'mixins';

.topic-design,
.topic-development,
.topic-accessibility {
  background-color: $gym-magenta;
}

.topic-ux {
  background-color: $gym-teal;
}

.topic-career-skills {
  background-color: $gym-green;
}

// !override / reset/rescale Bootstrap (3) handiwork — future-friendly

.hero-promo {
  position: relative;
  font-size: 16px;

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 7.5em;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15) );
  }

  // structural spacing

  .container {
    padding: 0 30px 3em;
  }

  .hero-content-art {
    display: none;
  }

  @include breakpoint(medium, min) {

    .container {
      position: relative;
      left: 17%;
      box-sizing: content-box;
      max-width: 37em;
      min-height: 25.125em;
    }

    .hero-content-art {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: $gym-dark-gray-2 no-repeat left center;
      background-size: cover;
      padding-left: 2px;
      border-image: 1 / 0 0 0 999em / 0 0 0 999em stretch;
      box-shadow: 2px 0 0 0 $gym-gray;
      margin-left: -2px;
    }

    .hero-content-copy {
      padding-left: 0.4em;
    }

  }

  // content / copy

  .hero-content-copy {
    margin-top: 6%;
    margin-bottom: 4%;

    header {
      max-width: 36.5em;
    }

    h1,
    h2 {
      font-size: 2.5em;
      line-height: 1.15;
      letter-spacing: 0.1rem;
      margin-top: 0;
      margin-bottom: 0;
    }

    h1 {
      color: $gym-white;
    }

    h2 {
      word-spacing: -0.05rem;
      color: $gym-black;
    }

    .take5-brand-kern {
      word-spacing: -0.1rem;
    }

    .subhead-topic {
      font-weight: bold;
      font-size: 1em;
      color: #e1e1e1;
      letter-spacing: 0.1rem;
      margin-bottom: 2.5rem;
    }

    p:not([class]) {
      font-size: 1.4em;
      color: $gym-black;
      margin-top: 1.6rem;
    }

    // cta

    .cta {
      margin-top: 2.5rem;

    // !override / reset/rescale font-size adjustment

      a.gym-button {
        position: relative;
        font-size: 105%;
        vertical-align: bottom;
        padding: 1.2em 1.6em;
        border: 2px solid $gym-white;
        z-index: 1;
      }

    }

  }

}

// hero-take5-design-basics.html

// static first (default)

#hero-take5-design-basics {

  .hero-content-art {
    background-image: url("{{ site.url }}/img/tutorials/gym-5055-hero.jpg?{{ site.time | date:'%s' }}");
    border-image-source: url("{{ site.url }}/img/tutorials/gym-5055-hero.jpg?{{ site.time | date:'%s' }}");
  }

}

// animated (enhancement)

@media (prefers-reduced-motion: no-preference) {

  #hero-take5-design-basics {

    .hero-content-art {
      background-image: url("{{ site.url }}/home/img/hero-take5-design-basics/take5-design-basics.gif?{{ site.time | date:'%s' }}");
      border-image-source: url("{{ site.url }}/home/img/hero-take5-design-basics/take5-design-basics.gif?{{ site.time | date:'%s' }}");
    }

  }

}