<main id="main" role="main">

    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/ux-design.css">

    <section id="about">
      <div class="banner-content container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <header>
                <h1>UX Design</h1>
                <p>Gymnasium offers free online <span class="no-wrap">UX <a class="gym-link-secondary" href="#courses"><b>courses</b></a></span>,  <a class="gym-link-secondary" href="#tutorials"><b>tutorials</b></a>, <a class="gym-link-secondary" href="#webinars"><b>webinars</b></a>, <a class="gym-link-secondary" href="#articles"><b>articles</b></a>, and <a class="gym-link-secondary" href="#jobs"><b><span class="visuallyhidden">UX</span> jobs</b></a> through Aquent.</p>
              </header>
              <div class="cols cols-max-3" id="featured">
                <ul>
                  <li>
                    <article class="card">
                      <div class="card-content featured">
                        <div class="card-main bg-ux-design equal-h">
                          <header class="full-width">
                           <h2 class="all-caps"><span class="visuallyhidden">UX</span> Courses</h2>
                          </header>
                          <figure class="course-artwork">
                            <img alt="UX Fundamentals" srcset="{{ site.url }}{{ site.baseurl }}/img/course-artwork/svg/gym-015.svg" src="{{ site.url }}{{ site.baseurl }}/img/course-artwork/png/gym-015.png">
                          </figure>
                        <h3 class="all-caps">Prototyping for Digital Products <span class="no-wrap">and Websites</span></h3>
                        </div>
                        <div class="card-cta card-cta-button">
                          <a class="gym-button" href="https://thegymnasium.com/courses/course-v1:GYM+015+0/about"><b>Get Started</b></a>
                        </div>
                      </div>
                      <footer class="card-cta">
                        <a class="gym-link-secondary" href="#courses"><b>View More Courses</b></a>
                      </footer>
                    </article>
                  </li>
                  <li>
                    <article class="card">
                      <div class="card-content featured">
                        <div class="card-main bg-ux-design equal-h">
                          <header class="full-width">
                            <h2 class="all-caps"><span class="visuallyhidden">UX</span> Tutorials</h2>
                          </header>
                          <figure class="full-width">
                            <img alt="Writing Effective Survey Questions" src="{{ site.url }}{{ site.baseurl }}/img/take5/posters/gym-5008.jpg">
                          </figure>
                          <h3 class="all-caps">Writing Effective Survey Questions</h3>
                        </div>
                        <div class="card-cta card-cta-button">
                          <a class="gym-button" href="https://thegymnasium.com/take5/writing-effective-survey-questions" title="Watch Now" target="_blank" rel="noopener"><b>Watch Now</b></a>
                        </div>
                      </div>
                      <footer class="card-cta">
                        <a class="gym-link-secondary" href="#tutorials"><b>View More Tutorials</b></a>
                      </footer>
                    </article>
                  </li>
                  <li>
                    <article class="card">
                      <div class="card-content featured">
                        <div class="card-main bg-ux-design equal-h">
                          <header class="full-width">
                            <h2 class="all-caps"><span class="visuallyhidden">UX</span> Webinars</h2>
                          </header>
                          <figure class="full-width">
                            <img alt="Erin Young of UX Slide" src="{{ site.url }}{{ site.baseurl }}/img/webinars/featured-webinar/prototyping-as-process-paravel-slide.png">
                          </figure>
                          <h3 class="all-caps">UX Design: Prototyping <span class="no-wrap">as Process</span></h3>
                        </div>
                        <div class="card-cta card-cta-button">
                          <a class="gym-button" href="https://youtu.be/6ZkQnHKwIdY" title="Watch Now" target="_blank" rel="noopener"><b>Watch Now</b></a>
                        </div>
                      </div>
                      <footer class="card-cta">
                        <a class="gym-link-secondary" href="#webinars"><b>View More Webinars</b></a>
                      </footer>
                    </article>
                  </li>
<!--
                  <li>
                    <article class="card">
                      <div class="card-content featured">
                        <div class="card-main equal-h">
                          <header class="full-width">
                            <h2 class="all-caps"><span class="visuallyhidden">UX</span> Articles</h2>
                          </header>
                          <h3 class="all-caps">From Filler to Matter: Wireframes and Prototypes in <span class="no-wrap">UX Design</span></h3>
                        </div>
                        <div class="card-cta card-cta-button">
                          <a class="gym-button" href="https://medium.com/gymnasium/from-filler-to-matter-wireframes-and-prototypes-in-ux-design-a73b0c0c27cd" title="Learn More" target="_blank" rel="noopener"><b>Learn More</b></a>
                        </div>
                      </div>
                      <footer class="card-cta">
                        <a class="gym-link-secondary" href="#articles"><b>View More Articles</b></a>
                      </footer>
                    </article>
                  </li>
 -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="main-content container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

<!-- jobs module -->
<!-- goes below  -->
