<link rel="stylesheet" href="{{ site.url }}/css/hero-collections.css">
<div class="hero-promo">
  <div class="container">
    <div class="hero-content-copy">
      <header>
        <p class="subhead all-caps"><strong>New</strong></p>
        <h1>Collections</h1>
        <p class="description"><strong>Explore a specific topic</strong> — web development, UX design, prototyping, accessibility, and remote work — and learn practical skills to make your résumé shine.
        </p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/collections"><b>Explore Collections</b></a>
      </div>
    </div>
  </div>
</div>
