<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-accessibility.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<article class="hero-promo" id="#accessbility">
  <div class="container">
    <div class="hero-promo-content">
      <header>
        <p class="subhead all-caps" role="doc-subtitle"><b>Content Collection</b></p>
        <h1>Accessibility</h1>
        <p class="description">No matter what your title is, creating an inclusive web is a team effort. Explore our free collection of accessibility content for beginners, experts, and everyone in between.</p>
      </header>
      <div class="cta">
        <a class="gym-button natural" href="https://thegymnasium.com/accessibility"><b>Start Learning</b></a>
      </div>
    </div>
  </div>
</article>
