<link rel="stylesheet" href="/css/heros/hero-bbd-2020.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<div class="hero-promo blue-beanie-day">
  <div class="container">
    <div class="hero-content-art">
      <picture id="blue-beanie-gang">
        <source srcset="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-day-gang-2020-1280w.png" media="(min-width: 40em)">
        <img loading="lazy" decoding="async" alt="A team of five people, of various web-related roles, all wearing blue beanies." src="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-day-gang-2020-720w.png" width="720" height="446">
      </picture>
    </div>
    <div class="hero-content-copy">
      <header>
        <h1 class="all-caps">Blue Beanie <s>Day</s> <span class="no-wrap">Month <time datetime="2021-11-30">2021</time></span></h1>
        <p class="description">Learn how to make a more user-friendly web with <b><a href="/courses/course-v1:GYM+016+0/about">Designing Accessible and Responsive Websites</a></b> taught by Ethan Marcotte.</p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="/courses/course-v1:GYM+016+0/about"><b>Celebrate Web Standards</b></a>
      </div>
    </div>
  </div>
</div>
