<link rel="stylesheet" href="{{ site.url }}/css/hero-design-systems.css">
<div class="hero-promo">
  <div class="container">
    <div class="hero-content-copy">
      <header>
        <h1><span class="sticky design">Design</span> <span class="sticky systems">Systems</span></h1>
        <p class="description"><strong>Prepare for the future of work</strong> with four new design systems courses taught by Ethan Marcotte.
        </p>
      </header>
      <div class="cta">
        <a class="gym-button" href="https://thegymnasium.com/design-systems"><b>Get Started</b></a>
      </div>
    </div>
  </div>
</div>
