<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-accessibility.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<article class="hero-promo" id="#accessbility-day">
  <div class="container">
    <div class="hero-promo-content">
      <header>
        <hgroup>
          <p class="subhead all-caps"><b>Global Accessibility Awareness Day</b></p>
          <h1>Accessibility Matters</h1>
        </hgroup>
        <p class="description"><span class="block">Creating an inclusive web is everyone’s job.</span> Explore our accessibility content and learn everything from writing alt text to improving color contrast — all for free.</p>
      </header>
      <div class="cta">
        <a class="gym-button natural" href="https://thegymnasium.com/accessibility"><b>Learn About Accessibility</b></a>
      </div>
    </div>
  </div>
</article>
