{%- assign hero_link = "/courses/take5#design" -%}

<link rel="preload" as="image" href="{{ site.url }}/home/img/hero-take5-design-basics/take5-design-basics.gif?{{ site.time | date:'%s' }}" fetchpriority="high">
<link rel="stylesheet" href="{{ site.url }}{{ '/css/heros/hero-take5.css' }}?{{ site.time | date:'%s' }}" fetchpriority="high">
  <div class="hero-promo topic-design" id="hero-take5-design-basics">
  <div class="container">
    <a href="{{ site.gymurl }}{{ hero_link }}">
      <div class="hero-content-art"></div>
    </a>
    <div class="hero-content-copy">
      <header>
        <h3 class="subhead-topic">Design</h3>
        <h2 class="take5-brand-kern">Take 5</h2>
        <h1>Design Like <span class="no-wrap">a Pro</span></h1>
        <p class="description"><b>Type. Color. Layout. </b></p>
        <p class="description">We’re going back to design basics with these 5-minute tutorials taught by <span class="no-wrap">Meagan Fisher</span>.</p>
      </header>
      <div class="cta">
        <a class="gym-button" href="{{ site.gymurl }}{{ hero_link }}"><b>Watch the Tutorials</b></a>
      </div>
    </div>
  </div>
</div>
