<link rel="preload" href="{{ site.url }}/css/hero-dfg-2021.css" as="style">
<link rel="preload" href="{{ site.url }}/home/img/hero-dfg-2021/designing-for-good-2021-hero-2000w.jpg" as="image" media="(min-width: 76em)">

<link rel="stylesheet" href="{{ site.url }}/css/hero-dfg-2021.css">

<div class="hero-promo" id="hero-dfg-2021">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content">
          <span class="background-image" role="img" aria-label="A person holding their hands up together in the shape of a heart."> </span>
          <header>
            <h1>Designing for Good <span class="date">2021</span></h1>
            <p><strong>Put your creative talent to work for your favorite nonprofit.</strong></p>
            <p>Aquent is awarding three $10K grants to nonprofits that promote diversity and inclusion, environmental action, or lifelong learning.</p>
            <p>Just make a 90-second video about how your favorite nonprofit supports any one of those causes for a chance to win!</p>
            <div class="cta">
              <a class="gym-button gym-button-secondary" href="https://designingforgood.com/?utm_source=gymnasium&utm_medium=web&utm_campaign=AQ_NA_designing-for-good-2021&utm_content=hero_banner" target="_blank" rel="noopener"><b>Make a Difference</b></a>
            </div>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
