<link rel="stylesheet" href="{{ site.url }}/css/hero-collections.css?{{ site.time | date:'%s' }}">
<div class="hero-promo">
  <div class="container">
    <div class="hero-content-copy">
      <header>
        <p class="subhead all-caps"><strong>New</strong></p>
        <h1>Content Collections</h1>
        <p class="description">Explore specific topics with free curated content on everything from design and development to accessibility and remote work.</p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/collections"><b>Explore Collections</b></a>
      </div>
    </div>
  </div>
</div>
