<link rel="stylesheet" href="{{ site.url }}/css/heros/hero-accessibility.css?{{ site.time | date:'%s' }}" fetchpriority="high">

<article class="hero-promo" id="#accessbility-day">
  <div class="container">
    <div class="hero-promo-content">
      <header>
        <p class="subhead all-caps" role="doc-subtitle"><b>Global Accessibility Awareness Day</b></p>
        <h1>Accessibility Matters</h1>
        <p class="description">Explore our collection of accessibility content in honor of Global Accessibility Awareness Day. Refresh your knowledge on everything from alt text to color theory — all for free.</p>
      </header>
      <div class="cta">
        <a class="gym-button natural" href="https://thegymnasium.com/accessibility"><b>Learn About Accessibility</b></a>
      </div>
    </div>
  </div>
</article>
