<link rel="stylesheet" href="{{ site.url }}/css/hero-bbd-2020.css">

<div class="hero-promo blue-beanie-day bbd-accessibility">
  <div class="container">
    <div class="hero-content-art">
      <picture>
        <source srcset="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-month-accessibility-1280w.png" media="(min-width: 40em)">
        <img decoding="async" alt="Two overlapping web browser windows showing live coding content." src="{{ site.url }}/home/img/hero-bbd-2020/blue-beanie-month-accessibility-720w.png" width="720" height="446">
      </picture>
    </div>
    <div class="hero-content-copy">
      <header>
        <h1 class="all-caps">Blue Beanie <s>Day</s> <span class="no-wrap">Month <time datetime="2020-11-30">2020</time></span></h1>
        <p class="description">Learn how to improve your website through accessibility testing with our <b><a href="https://thegymnasium.com/accessibility">live coding tutorials</a></b> in the time it takes to step away for lunch.</p>
      </header>
      <div class="cta">
        <a class="gym-button gym-button-secondary" href="https://thegymnasium.com/accessibility"><b>Start Learning</b></a>
      </div>
    </div>
  </div>
</div>
