@import 'variables';
@import 'functions';

// Account Settings
.wrapper-account-settings {
  background: #fff;
  width: 100%;

  .account-settings-container {
    max-width: 1180px;
    padding: 10px;
    margin: 0 auto;
  }
  .ui-loading-indicator,
  .ui-loading-error {
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    text-align: center;
  }
  .ui-loading-indicator .message-error,
  .ui-loading-error .message-error {
    color: #d44040;
  }
  .wrapper-header {
    max-width: 1180px;
    height: 139px;
    border-bottom: 4px solid #f5f5f5;

    .header-title {
      margin-bottom: 10px;
      padding-top: 40px;
    }
    .header-subtitle {
      color: #adadad;
    }
    .account-nav {
      float: left;
      margin: 10px 0;
      padding: 0;
      list-style: none;
    }
    .account-nav .account-nav-link {
      float: left;
      font-size: 0.875em;
      color: #767676;
      padding: 5px 25px 20px;
      display: inline-block;
      box-shadow: none;
      border-bottom: 4px solid transparent;
      border-radius: 0;
      background: transparent none;
    }
    .account-nav button {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      display: block;
      padding: 5px;
    }
    .account-nav button:hover,
    .account-nav button:focus {
      text-decoration: none;
      border-bottom-color: #44a2de;
    }
    .account-nav button.active {
      border-bottom-color: #313131;
    }
  }
  
  
  @media (max-width: 991px) {
    .wrapper-header {
      border-bottom-color: transparent;
    }
    .wrapper-header .account-nav {
      display: flex;
      border-bottom: none;
    }
    .wrapper-header .account-nav .account-nav-link {
      border-bottom: 4px solid #e7e7e7;
    }
  }
}

.account-settings-sections .section-header {
  padding-top: 30px;
  color: #4a4a4a;
}
.account-settings-sections .section {
  background-color: #fff;
  margin: 20px 5% 0;
  border-bottom: 4px solid #f5f5f5;
}
.account-settings-sections .section .account-settings-header-subtitle {
  font-size: 0.875em;
  line-height: normal;
  color: #333;
  padding-bottom: 10px;
}
.account-settings-sections .section .account-settings-section-message {
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.account-settings-sections
  .section
  .account-settings-section-message
  .alert-message {
  color: #292b2c;
  font-family: $gym-text-font-stack;
  position: relative;
  padding: 10px 10px 10px 35px;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 8px;
}
.account-settings-sections
  .section
  .account-settings-section-message
  .alert-message
  > .fa {
  position: absolute;
  left: 11px;
  top: 13px;
  font-size: 16px;
}
.account-settings-sections
  .section
  .account-settings-section-message
  .alert-message
  span {
  display: block;
}
.account-settings-sections
  .section
  .account-settings-section-message
  .alert-message
  span
  a {
  text-decoration: underline;
}
.account-settings-sections .section .account-settings-section-message .success {
  background-color: #ecfaec;
  border-color: #b9edb9;
}
.account-settings-sections .section .account-settings-section-message .info {
  background-color: #d8edf8;
  border-color: #bbdff2;
}
.account-settings-sections .section .account-settings-section-message .warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.account-settings-sections .section .account-settings-section-message .error {
  background-color: #f2dede;
  border-color: #ebccd1;
}
.account-settings-sections .section .account-settings-section-body .u-field {
  border-bottom: 2px solid #f5f5f5;
  padding: 15px 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field {
  width: 30%;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 14px 30px 14px 15px;
  border: 1px solid #ddd;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  z-index: 10;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select::-ms-expand {
  display: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  select
  ~ .icon-caret-down::after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #0075b4;
  position: absolute;
  right: 10px;
  bottom: 20px;
  z-index: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .field-label {
  display: block;
  width: auto;
  margin-bottom: 0.625rem;
  font-size: 1rem;
  line-height: 1;
  color: #333;
  white-space: nowrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .field-input {
  transition: all 0.125s ease-in-out 0s;
  display: inline-block;
  padding: 0.625rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #fff;
  font-size: 0.875em;
  color: #333;
  width: 100%;
  height: 48px;
  box-shadow: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .field
  .u-field-link {
  font-size: 18px;
  width: 100%;
  border: 1px solid #0075b4;
  color: #0075b4;
  padding: 11px 14px;
  line-height: normal;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
  color: #333;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: normal;
  flex-flow: row wrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  span,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  span {
  padding: 20px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-number,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-number {
  float: left;
  width: 30%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-date,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-date {
  float: left;
  padding-left: 30px;
  width: 20%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-price,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-price {
  float: left;
  width: 15%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-link,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-link {
  width: 10%;
  padding: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order
  .u-field-order-link
  .u-field-link,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-link
  .u-field-link {
  font-size: 14px;
  border: 1px solid #0075b4;
  color: #0075b4;
  line-height: normal;
  padding: 10px;
  width: 110px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines {
  padding: 5px 0 0;
  font-weight: 100;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-lines
  .u-field-order-number {
  padding: 20px 10px 20px 30px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked {
  background: #f5f5f5;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
  box-sizing: border-box;
  margin: 10px;
  width: 100%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .field-label {
  font-size: 24px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .u-field-social-help {
  display: inline-block;
  padding: 20px 0 6px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .u-field-link {
  font-size: 14px;
  text-align: left;
  border: none;
  margin-top: 20px;
  font-weight: 600;
  padding: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .u-field-link:focus,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .u-field-link:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-linked
  .u-field-link:active {
  background-color: transparent;
  color: #126f9a;
  border: none;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-unlinked {
  background: #f5f5f5;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.05);
  padding: 1.25rem;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  width: 100%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-unlinked
  .field-label {
  font-size: 24px;
  text-align: center;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .social-field-unlinked
  .u-field-link {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 600;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-message {
  position: relative;
  padding: 15px 0 0 80px;
  width: 60%;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-message
  .u-field-message-notification {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 38px 0 0 100px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field:last-child {
  border-bottom: none;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-value {
    width: 100%;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-message {
    width: 100%;
    padding: 10px 0;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-message
    .u-field-message-notification {
    position: relative;
    padding: 0;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines {
    display: flex;
    flex-wrap: nowrap;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-number,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-number,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-date,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-date,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-price,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-price,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-link,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-link {
    width: auto;
    float: none;
    flex-grow: 1;
  }
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-number:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-number:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-date:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-date:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-price:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-price:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order
    .u-field-order-link:first-of-type,
  .account-settings-sections
    .section
    .account-settings-section-body
    .u-field
    .u-field-order-lines
    .u-field-order-link:first-of-type {
    flex-grow: 2;
  }
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.editable-never
  .account-settings-sections
  .section
  .account-settings-section-body
  .u-field.mode-display
  .u-field-value {
  margin-bottom: 20px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value
  .u-field-title,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.editable-never
  .account-settings-sections
  .section
  .account-settings-section-body
  .u-field.mode-display
  .u-field-value
  .u-field-title {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 18px;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.u-field-dropdown
  .u-field-value
  .u-field-value-readonly,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field.editable-never
  .account-settings-sections
  .section
  .account-settings-section-body
  .u-field.mode-display
  .u-field-value
  .u-field-value-readonly {
  font-size: 22px;
  color: #636c72;
  line-height: 30px;
  white-space: nowrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-readonly
  .u-field-title {
  font-size: 16px;
  color: #636c72;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 8px !important;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-readonly
  .u-field-value {
  font-size: 22px;
  color: #636c72;
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 20px;
  white-space: nowrap;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-orderHistory {
  border-bottom: none;
  border: 1px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-orderHistory:last-child {
  border-bottom: 1px solid #f5f5f5;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-orderHistory:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-orderHistory:focus {
  background-color: #fcfcfc;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId {
  border: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId:hover,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId:focus {
  background-color: transparent;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId
  .u-field-order,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId
  .u-field
  .u-field-order-lines,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-orderId
  .u-field-order-lines {
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 0;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId
  .u-field-order
  .u-field-order-title,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-order-orderId
  .u-field
  .u-field-order-lines
  .u-field-order-title,
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field
  .u-field-order-orderId
  .u-field-order-lines
  .u-field-order-title {
  font-size: 1em;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-social {
  border-bottom: none;
  margin-right: 20px;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.account-settings-sections
  .section
  .account-settings-section-body
  .u-field-social
  .u-field-social-help {
  font-size: 12px;
  color: #6f7074;
}
.account-settings-sections
  .section
  .account-deletion-details
  .btn-outline-primary {
  font-size: 18px;
  border: 1px solid #0075b4;
  color: #0075b4;
  padding: 11px 14px;
  line-height: normal;
  margin: 20px 0;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open {
  overflow-y: scroll;
  color: #333;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__modal-title {
  font-weight: 600;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__modal-body {
  line-height: 1.5;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__modal-body
  .alert-title {
  line-height: 1.5;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .paragon__alert-warning {
  color: #333;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .next-steps {
  margin-bottom: 10px;
  font-weight: 600;
}
.account-settings-sections
  .section
  .account-deletion-details
  .paragon__modal-open
  .confirm-password-input {
  width: 50%;
}
.account-settings-sections .section .account-deletion-details .modal-alert {
  display: flex;
}
.account-settings-sections
  .section
  .account-deletion-details
  .modal-alert
  .icon-wrapper {
  padding-right: 15px;
}
.account-settings-sections
  .section
  .account-deletion-details
  .modal-alert
  .alert-content
  .alert-title {
  color: #333;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}
.account-settings-sections
  .section
  .account-deletion-details
  .modal-alert
  .alert-content
  a {
  color: #0e71a7;
}
.account-settings-sections
  .section
  .account-deletion-details
  .delete-confirmation-wrapper
  .paragon__modal-footer
  .paragon__btn-outline-primary {
  margin-left: 25px;
  border-color: #0075b4;
  color: #0075b4;
  padding: 11px 14px;
  line-height: normal;
}
.account-settings-sections .section:last-child {
  border-bottom: none;
}
