// TODO: omit or comment out fonts we're not actually using. For instance, the italics versions have been commented out below
@mixin font-brandon {
  @font-face {
    font-family: brandon-grotesque;
    src: url("https://thegymcms.com/fonts/brandon_reg-webfont.woff2")
        format("woff2"),
      url("https://thegymcms.com/fonts/brandon_reg-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
  }
  // @font-face {
  //   font-family: brandon-grotesque;
  //   src: url("https://thegymcms.com/fonts/brandon_reg_it-webfont.woff2")
  //       format("woff2"),
  //     url("https://thegymcms.com/fonts/brandon_reg_it-webfont.woff")
  //       format("woff");
  //   font-style: italic;
  //   font-weight: normal;
  // }
  @font-face {
    font-family: brandon-grotesque;
    src: url("https://thegymcms.com/fonts/brandon_bld-webfont.woff2")
        format("woff2"),
      url("https://thegymcms.com/fonts/brandon_bld-webfont.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
  }
  // @font-face {
  //   font-family: brandon-grotesque;
  //   src: url("https://thegymcms.com/fonts/brandon_bld_it-webfont.woff2")
  //       format("woff2"),
  //     url("https://thegymcms.com/fonts/brandon_bld_it-webfont.woff")
  //       format("woff");
  //   font-style: italic;
  //   font-weight: bold;
  // }
  @font-face {
    font-family: brandon-grotesque;
    src: url("https://thegymcms.com/fonts/brandon_blk-webfont.woff2")
        format("woff2"),
      url("https://thegymcms.com/fonts/brandon_blk-webfont.woff") format("woff");
    font-style: normal;
    font-weight: 900;
    font-display: swap;
  }
  // @font-face {
  //   font-family: brandon-grotesque;
  //   src: url("https://thegymcms.com/fonts/brandon_blk_it-webfont.woff2")
  //       format("woff2"),
  //     url("https://thegymcms.com/fonts/brandon_blk_it-webfont.woff")
  //       format("woff");
  //   font-style: italic;
  //   font-weight: 900;
  // }
}

@mixin font-awesome {
  /*
  *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
  *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
  */
  // TODO: do we want to clean up this list as well?
  @font-face {
    font-family: "FontAwesome";
    src: url("https://thegymcms.com/fonts/fontawesome-webfont.eot?v=4.6.3");
    src: url("https://thegymcms.com/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3")
        format("embedded-opentype"),
      url("https://thegymcms.com/fonts/fontawesome-webfont.woff2?v=4.6.3")
        format("woff2"),
      url("https://thegymcms.com/fonts/fontawesome-webfont.woff?v=4.6.3")
        format("woff"),
      url("https://thegymcms.com/fonts/fontawesome-webfont.ttf?v=4.6.3")
        format("truetype"),
      url("https://thegymcms.com/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}
