// Location dropdown
.location {
  margin: 1rem 0 2.666rem;

  select {
    color: $gym-dark-gray !important; // needed to override a very greedy wildcard selector on the home page

    @include breakpoint(40em, min) {
      max-width: 24rem;
    }
  }
}

// Someday we'll make this part of our global CSS
// TODO: we could use list-unstyled instead? Maybe part of bootstrap already
.list-hr ul {
  list-style: none;
  padding-left: 0;
}

.job-location {
  &::before {
    content: '\2014'; // em-dash
  }
}

.home .jobs-container {
  li {

    a {
      display: block;
      padding: 1rem 0;
    }

    .job-title {
      font-weight: bold;
    }
  }
}
