@import "components/bootstrap/buttons";

// Defaults...
a,
a:visited {
  color: $gym-orange;
  font-family: $gym-text-font-stack;
  border-bottom: none;
  text-decoration: none;
}

a:hover {
  color: $gym-orange;
  text-decoration: none;
  border-bottom: none;
}

// Only use the border bottom text style in the main-container, aka #content
.main-container {
  /* update (text) link style */

  a {
    line-height: inherit;
    color: currentColor;
    text-decoration: none;
    padding-bottom: 0.125rem;
    border-bottom: 1px solid currentColor;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    border-bottom-width: 2px !important;
    margin-bottom: -0.125rem;
  }
}

a:focus {
  border-bottom: 0;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.gym-link {
  color: $gym-orange;
}

.gym-link:hover {
  border-bottom: 1px solid $gym-orange;
}

.gym-link:focus,
.gym-link:active {
  border-bottom-color: #444;
}

.gym-button,
a.gym-button,
button.u-field-link,
button[type="submit"],
a.gym-button:link,
div.problem .save,
div.problem .save:not(:disabled) {
  box-shadow: none;
  text-shadow: none;
  background-image: none;
  text-decoration: none;

  display: inline-block;
  width: 100%;

  padding: 1em;
  margin: auto;
  text-align: center;
  cursor: pointer;

  border: 0;
  border-radius: 0.125em;

  background-color: $gym-blue;
  color: $gym-white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  font: bold 1.2em/1 $gym-font-stack;

  a,
  a:link,
  a:visited,
  a b {
    color: $gym-white;
    font: bold 1.2em/1 $gym-font-stack;
  }
  a:hover {
    text-decoration: none;
  }

  b {
    font: bold 1.2em/1 $gym-font-stack;
    letter-spacing: 0.025em;
    color: $gym-white;
  }
}

button[type="submit"]:hover,
#secondary-nav a.gym-button:hover,
.gym-button:hover,
.gym-button:active,
.gym-button:active:hover,
a.gym-button:hover,
a.gym-button:hover,
a.gym-button:active,
a.gym-button:active:hover,
a:visited.gym-button:hover,
a:link.gym-button:hover,
a:link:visited.gym-button:hover,
input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled),
button:hover:not(:disabled),
.account-settings-sections .u-field-link:hover,
div.problem .action .save:hover,
div.problem .action .save:hover:not(:disabled),
.courseware-bookmarks-button .bookmarks-list-button:hover {
  background-color: $gym-button-background-hover;
  color: $gym-white;
  background-image: none;
  box-shadow: none;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: $gym-white;
  font-family: $gym-font-stack;

  a,
  a:link,
  a:link:hover,
  a:link:visited,
  a:link:visited:hover {
    text-decoration: none;
    color: $gym-white;

    b {
      color: $gym-white;
    }
  }
}

.courseware-bookmarks-button {
  .bookmarks-list-button {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

div.problem .action .save:not(:disabled) {
  width: auto;
}

.gym-button:focus,
.gym-button:active {
  text-decoration: none !important;
  background: $gym-button-background-active;
}

.gym-button:link,
.gym-button:visited {
  color: $gym-white;
  font-family: $gym-font-stack;
}


.gym-button b {
  font: bold 1.2em/1 $gym-font-stack;
  letter-spacing: 0.025em;
  vertical-align: bottom;
}

.gym-button.natural {
  width: auto;
}

input[type="submit"]:active:not(:disabled),
input[type="submit"]:focus:not(:disabled),
input[type="button"]:active:not(:disabled),
input[type="button"]:focus:not(:disabled),
button:active:not(:disabled),
button:focus:not(:disabled),
.button:active:not(:disabled),
.button:focus:not(:disabled) .gym-button:focus {
  box-shadow: none;
}


button {
  cursor: pointer;
}
