@import 'variables';
@import 'functions';

form {
  font-size: 1em;
}
label {
  color: #313131;
  font: italic 300 1rem/1.6rem $gym-text-font-stack;
  margin-bottom: 5px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;
}
label.register-emails {
  font-family: $gym-text-font-stack;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: normal;
  width: calc(100% - 25px);
  padding-top: 2px;
  position: relative;
  float: right;
  clear: both;
}
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
    inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font: italic 300 1rem/1.6rem $gym-text-font-stack;
  height: 35px;
  padding: 5px 12px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
textarea:last-child,
input[type="text"]:last-child,
input[type="url"]:last-child,
input[type="email"]:last-child,
input[type="password"]:last-child,
input[type="tel"]:last-child {
  margin-right: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-color: #6f6f6f;
  box-shadow: 0 0 6px 0 #6f6f6f, inset 0 0 4px 0 rgba(0, 0, 0, 0.15);
}
textarea {
  height: 60px;
}
input[type="submit"],
input[type="button"],
button,
.button {
  border-radius: 3px;
  border: 1px solid #000663;
  border-bottom: 1px solid #00003a;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #2592c0;
  color: #fff;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #0075b4;
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #000042;
  font: normal 1.2rem/1.6rem $gym-text-font-stack;
  letter-spacing: 1px;
  padding: 4px 20px;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
}
input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled),
.button:hover:not(:disabled) {
  cursor: pointer;
  background-color: #0066a2;
}
input[type="submit"]:active:not(:disabled),
input[type="submit"]:focus:not(:disabled),
input[type="button"]:active:not(:disabled),
input[type="button"]:focus:not(:disabled),
button:active:not(:disabled),
button:focus:not(:disabled),
.button:active:not(:disabled),
.button:focus:not(:disabled) {
  box-shadow: inset 0 0 20px 0 #00013a;
}
input[type="submit"]:disabled,
input[type="button"]:disabled,
button:disabled,
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
input[type="submit"]:disabled,
input[type="submit"].is-disabled,
input[type="submit"].disabled,
input[type="button"]:disabled,
input[type="button"].is-disabled,
input[type="button"].disabled,
button:disabled,
button.is-disabled,
button.disabled,
.button:disabled,
.button.is-disabled,
.button.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.login-register {
  background: #fff;
  min-height: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  max-width: 500px;
}

.login-register input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
.login-register input:-webkit-autofill:focus {
  -webkit-box-shadow: white, 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
.login-register .header {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  overflow: hidden;
}
.login-register .header:after {
  content: "";
  display: table;
  clear: both;
}
.login-register .header .headline {
  box-sizing: border-box;
  font-size: 35px;
  padding: 0 10px;
  font-family: $gym-text-font-stack;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
  color: #009ee7;
}
.login-register .header .tagline {
  box-sizing: border-box;
  font-size: 24px;
  padding: 0 10px;
  font-family: $gym-text-font-stack;
  font-weight: 400;
}
.login-register .section-title {
  position: relative;
  margin: 20px 0 10px;
}
.login-register .section-title.lines {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.login-register .section-title.lines::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #c8c8c8;
  content: "";
  z-index: 5;
}
.login-register .section-title.lines .text {
  position: relative;
  top: -1px;
  z-index: 6;
  padding: 0 20px;
  background: #fff;
  font-size: 20px;
}
.login-register .section-title h2,
.login-register .section-title .home > header .title > .heading-group p,
.home > header .title > .heading-group .login-register .section-title p {
  text-align: center;
  text-transform: none;
}

.login-register .nav-btn {
  width: 100%;
  height: 40px;
  text-transform: none;
  text-shadow: none;
  letter-spacing: normal;
}
.login-register .form-type {
  box-sizing: border-box;
  max-width: 600px;
  min-width: 250px;
  margin: 0 auto;
}
.login-register .note {
  display: block;
  margin: 10px 10px 0 10px;
  color: #97999b;
  text-align: center;
}
.login-register .form-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.login-register .form-wrapper form {
  clear: both;
}
.login-register .form-wrapper form:after {
  content: "";
  display: table;
  clear: both;
}
// Hide LinkedIn option
.login-register .form-wrapper .login-providers {
  display: none;
}
.login-register .login-form:focus,
.login-register .password-reset-form:focus,
.login-register .register-form:focus {
  outline: none;
}
.login-register .login-form div[class*="hidden-"],
.login-register .password-reset-form div[class*="hidden-"],
.login-register .register-form div[class*="hidden-"] {
  margin: 0;
  display: none;
}
.login-register .login-form .auto-register-message,
.login-register .password-reset-form .auto-register-message,
.login-register .register-form .auto-register-message {
  font-size: 1.1em;
  line-height: 1.3em;
}
.login-register .form-label {
  font-size: 16px;
  font-family: $gym-text-font-stack;
  font-weight: 600;
}
.login-register .form-label {
  padding: 0 0 0 5px;
}
.login-register .action-label {
  font-size: 13px;
  font-family: $gym-text-font-stack;
}
.login-register .form-field {
  clear: both;
  position: relative;
  width: 100%;
  margin: 10px 0 0 0;
}
.login-register .form-field:after {
  content: "";
  display: table;
  clear: both;
}
.login-register .form-field.select-year_of_birth {
  margin-left: 15px;
}
.login-register .form-field.select-gender,
.login-register .form-field.select-year_of_birth {
  display: inline-block;
  width: calc(50% - 10px);
}
.login-register .form-field label,
.login-register .form-field input,
.login-register .form-field select,
.login-register .form-field textarea,
.login-register .form-field .plaintext-field {
  height: auto;
  line-height: 1.5em;
  border-radius: 0;
  font-family: $gym-text-font-stack;
  font-style: normal;
  font-weight: 500;
}
.login-register .form-field label.focus-in,
.login-register .form-field input.focus-in,
.login-register .form-field select.focus-in,
.login-register .form-field textarea.focus-in,
.login-register .form-field .plaintext-field.focus-in {
  position: relative;
  padding-top: 0;
  padding-left: 0;
  opacity: 1;
}
.login-register .form-field label.focus-out,
.login-register .form-field input.focus-out,
.login-register .form-field select.focus-out,
.login-register .form-field textarea.focus-out,
.login-register .form-field .plaintext-field.focus-out {
  position: absolute;
  padding-top: 5px;
  padding-left: 9px;
  opacity: 0.75;
  z-index: 1;
}
.login-register .form-field label a,
.login-register .form-field input a,
.login-register .form-field select a,
.login-register .form-field textarea a,
.login-register .form-field .plaintext-field a {
  z-index: 1;
}
.login-register .form-field #login-remember {
  line-height: 0;
  height: auto;
}
.login-register .form-field label {
  display: block;
  margin: 0;
  color: #000;
}
.login-register .form-field label.inline {
  display: inline;
}
.login-register .form-field label[for="register-data_sharing_consent"],
.login-register .form-field label[for="register-honor_code"],
.login-register .form-field label[for="register-terms_of_service"] {
  display: inline-block;
  margin: 5px 5px 0 0;
  vertical-align: top;
}
.login-register .form-field label[for="login-remember"] {
  display: inline-block;
}
.login-register .form-field .field-link {
  display: block;
  margin-bottom: 10px;
  margin-top: 5px;
  border: none;
  padding: 0;
  background: transparent;
  box-shadow: none;
  text-transform: initial;
  letter-spacing: normal;
  color: #0075b4;
  font-weight: 400;
  text-decoration: none;
  text-shadow: none;
  font-family: $gym-text-font-stack;
}
.login-register .form-field .field-link:hover,
.login-register .form-field .field-link:focus {
  text-decoration: underline;
}
.login-register .form-field input,
.login-register .form-field select,
.login-register .form-field textarea {
  display: block;
  height: 32px;
  width: 100%;
  margin: 0 0 5px;
  padding: 0 10px;
}
.login-register .form-field input.long,
.login-register .form-field select.long,
.login-register .form-field textarea.long {
  width: 100%;
}
.login-register .form-field input.short,
.login-register .form-field select.short,
.login-register .form-field textarea.short {
  width: 25%;
}
.login-register .form-field input.checkbox,
.login-register .form-field select.checkbox,
.login-register .form-field textarea.checkbox {
  display: inline;
  width: auto;
  height: auto;
  margin-right: 5px;
}
.login-register .form-field input.checkbox + label,
.login-register .form-field select.checkbox + label,
.login-register .form-field textarea.checkbox + label {
  display: inline;
}
.login-register .form-field input.error,
.login-register .form-field select.error,
.login-register .form-field textarea.error {
  border-color: #b20610;
}
.login-register .form-field input.success,
.login-register .form-field select.success,
.login-register .form-field textarea.success {
  border-color: #008100;
}
.login-register
  .form-field
  textarea.error
  .login-register
  .form-field
  select.error {
  outline-color: #b20610;
}
.login-register .form-field textarea.success,
.login-register .form-field select.success {
  outline-color: #008100;
}
.login-register .form-field textarea {
  resize: none;
  height: 100px;
}
.login-register .form-field select {
  background: transparent;
  opacity: 0.85;
  border: none;
  outline: solid 1px #c8c8c8;
  cursor: pointer;
}
.login-register .form-field select:active,
.login-register .form-field select:focus {
  outline: auto;
}
.login-register .form-field span.error,
.login-register .form-field label.error {
  color: #b20610;
}
.login-register .form-field span.success,
.login-register .form-field label.success {
  color: #008100;
}
.login-register .form-field .tip,
.login-register .form-field .label-optional {
  color: #414141;
}
.login-register .form-field .tip {
  display: block;
}
.login-register .input-block {
  width: 100%;
}
.login-register .input-inline {
  display: inline;
}
.login-register .desc {
  transition: color 0.15s ease-in-out 0s;
  display: block;
  margin-top: 5px;
  color: #646464;
  font-size: 0.8125em;
}
.login-register .action-primary {
  padding: 1ex 1em;
  text-transform: none;
  font-weight: 600;
  letter-spacing: normal;
  margin-top: 20px;
}
.login-register .button-secondary-login {
  border-color: #c8c8c8;
  padding: 0;
  height: 35px;
}

.login-register .status {
  box-sizing: border-box;
  margin: 0 0 25px 0;
  border-bottom: 3px solid #cbad1c;
  padding: 25px;
  background: #e8cd4c;
}
.login-register .status .message-title {
  font-family: $gym-text-font-stack;
  margin: 0 0 5px 0;
  font-weight: 600;
}
.login-register .status .message-copy,
.login-register .status .message-copy p {
  font-family: $gym-text-font-stack;
  margin: 0 !important;
  padding: 0;
}
.login-register .status .message-copy li,
.login-register .status .message-copy p li {
  margin: 0 0 5px 20px;
}
.login-register .status.account-activation .message-copy {
  padding: 0 1em !important;
}
.login-register .status.account-activation.info {
  background-color: #f2f8fb;
  border: #cce3f0 1px solid;
  color: #f89820;
}
.login-register .status.account-activation.success {
  background-color: #ecfaec;
  border: #b9edb9 1px solid;
  color: #008100;
}
.login-register .status.account-activation.error {
  background-color: #feeced;
  border: #ebccd1 1px solid;
  color: #b20610 1px solid;
}
.login-register .submission-error,
.login-register .system-error {
  box-shadow: inset 0 -1px 2px 0 #f3dadb;
  border-bottom: 3px solid #a0050e;
  background: #fbf3f3;
}
.login-register .submission-error .message-title,
.login-register .system-error .message-title {
  color: #a0050e !important;
}
.login-register .submission-success {
  box-shadow: inset 0 -1px 2px 0 #d9ecd9;
  border-bottom: 3px solid #007400;
  background: #f2f9f2;
}
.login-register .submission-success .message-title {
  color: #007400 !important;
}
@media screen and (max-width: 330px) {
  .login-register .form-type {
    width: 98%;
    margin: 0 1%;
  }
  .login-register .login-provider {
    width: 100%;
    margin: 10px 0;
  }
}


.login-register-content a,
.login-register-content label {
  position: relative;
}
.login-register-content a::after,
.login-register-content label::after,
.login-register-content a:link::after,
.login-register-content label:link::after,
.login-register-content a:visited::after,
.login-register-content label:visited::after,
.login-register-content a:hover::after,
.login-register-content label:hover::after,
.login-register-content a:active::after,
.login-register-content label:active::after,
.login-register-content a:focus::after,
.login-register-content label:focus::after {
  content: " ";
  position: absolute;
  left: 0;
  top: calc(50% - 22px);
  min-height: 44px;
  width: 100%;
  cursor: pointer;
}


.login-register div.status,
div.status,
.status {
  padding: 1.8em;
  border: 0;
  border-radius: 2px;
  box-shadow: none;

  .message-title {
    font: bold 2em/1.25 $gym-font-stack;
    color: $gym-white !important;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 0.625em;
  }

  .message-copy {
    color: $gym-white !important;
  }

  div.status p.message-copy {
    color: $gym-black !important;
  }

  a {
    color: $gym-white !important;
    border-bottom: 1px solid $gym-white !important;
  }

  a:hover,
  a:focus {
    border-bottom: 1px solid $gym-white !important;
  }

  ul {
    margin-top: 1.4em;
  }

  li {
    font: bold 1em/1.5 $gym-text-font-stack;
    letter-spacing: 0.01em;
    color: $gym-white;
    margin-top: 1em;
  }

  &.submission-success {
    background: #1c7f1f;
  }

  &.submission-error {
    background: #d43f3a;
  }
}

.login-register div.form-field label.error,
div.form-field label.error {
  display: inline-block;
  color: $gym-white;
  padding: 0.5em;
  background: #d43f3a;
  border-radius: 2px;
}

.login-register div.form-field input.error,
div.form-field input.error {
  border: 2px solid #d43f3a;
}

/* fix for course image size from gymcms */
main.course .hero-banner img {
  max-width: 100%;
}
/* --- END: Migrated from gymnasium.scss in the open edx theme --- */

/* --- Migrate logistration css out of theme (see https://github.com/gymnasium/tracker/issues/192) --- */
.login-register,
#login-and-registration-container {
  background: transparent;
}

.login-register {
  max-width: auto;
}

#login,
#register {
  padding: 0 1.8em 2.2em;
}

.login-providers h1 + button.login-provider {
  margin: 1.4em 0 1em;
}

.login-providers .section-title + button.login-provider {
  margin-top: 0.6em;
}

main li:not([class]) > a:not([class]):active,
main label a:not([class]):hover,
main label a:not([class]):focus,
main label a:not([class]):active {
  text-decoration: none;
  border-bottom-width: 2px !important;
  margin-bottom: -0.125rem;
}

.login-form {
  h1 {
    font-size: 2.57143em; // output: 36px
    line-height: 1.15;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  br:first-child {
    display: none;
  }

  a.forgot-password {
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      border-bottom-width: 2px !important;
      margin-bottom: -0.125rem;
    }
  }
}

.login-register {
  min-width: none;

  div.section-title.lines {
    & {
      font-size: 16px;
      margin-bottom: 16px;
    }
    h2 {
      & {
        font: 900 2.25em/1.15 $gym-font-stack; // output: 36px
        font-family: $gym-font-stack;
        letter-spacing: 0.04em;
        word-spacing: 0.05em;
        text-align: left;
        text-transform: uppercase;
      }

      .text {
        position: static;
        top: 0;
        font-size: inherit;
        background-color: transparent;
        z-index: auto;
        padding: 0;
        margin: 0;
      }
    }

    &::after {
      display: none;
    }
  }

  form {
    background: $gym-white;
  }

  /*** linkedin Login button styles ***/

  p.action-label {
    font: normal 1.6em/1.4 $gym-font-stack;
    margin-bottom: 1em;
  }

  button.gym-button.button-oa2-linkedin-oauth2.login-provider.login-oa2-linkedin-oauth2,
  button.gym-button.button-oa2-linkedin-oauth2.login-provider.register-oa2-linkedin-oauth2 {
    transform: scale(1.5, 1.5);
    border-color: $linked-in-blue;

    .icon.fa.fa-linkedin {
      border-radius: 1px;
      margin: 0;
    }

    span {
      font-family: $gym-text-font-stack;
    }
  }

  .form-field {

    margin-top: 0.6em;
    margin-bottom: 1.4em;

    label,
    input {
      margin-bottom: 0.6em;
    }

    input + .tip-input {
      margin-top: 0.6em;
    }

    label {
      font-size: 1.1em;
      text-transform: uppercase;
      font-family: $gym-font-stack;
      font-weight: bold;

      &[for="register-terms_of_service"] {
        margin: 0;
      }

      &.focus-out {
        position: static;
        padding-top: 0;
        padding-left: 0;
        opacity: 1;
        z-index: auto;
      }
    }

    input {
      height: auto;
      font-size: 1em;
      padding: 1em;
      border: 1px solid $gym-gray;
      border-bottom: 2px solid $gym-orange;
      margin-bottom: 0.6em;
    }

    .tip {
      color: $gym-dark-gray;
      display: inline-block;

      &-input {
        font: normal 1em/1.15 $gym-text-font-stack;
      }
    }
  }

  .logistration-bottom {
    padding-bottom: 2em;
    padding-left: 1.8em;
    padding-right: 1.8em;
    margin-top: 1.2em;
    text-transform: capitalize;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 900;

    h2 {
      font-family: $gym-font-stack;
      padding: 0.75em 0;
      font-size: 2.2em;
      letter-spacing: 0.01em;
      text-align: left;
      padding: 0 0 0.4em;

      .text {
        text-transform: uppercase;
      }
    }
  }

  form {
    background: $gym-white;
  }

  .note {
    font-weight: bold;
    color: $gym-black;
  }

  .toggle-form {
    font-size: 14px;
  }

  .login-remember {
    line-height: 1.15;
  }

  .checkbox-remember {
    margin: 1.2em 0 0.6em;
  }

  .checkbox-terms_of_service {
    margin: 1em 0;
  }

  .status.account-activation,
  .status.account-activation.success,
  .status.account-activation.success,
  .financial-assistance-wrapper
    .financial-assistance-form
    .status.account-activation.success {
    background-color: $gym-orange !important;
    border-color: $gym-orange;
    color: $gym-white;
  }
}

#register .form-field input {
  margin-bottom: 0;
}

.register.container,
.login.container {
  background-color: $gym-white;
  border: 1px solid $gym-gray;
  margin-top: 1.8em;
  border-radius: 2px;

  #field-password .tip.tip-input {
    margin-top: -0.3em;
  }

  .sign-up {
    border-right: 1px dashed $gym-gray;
    padding: 1.6em;
  }

  .additional-information {
    padding: 1.6em;
  }

  .instructions {
    padding-bottom: 1.8em;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.8em;

    p {
      font-family: $gym-font-stack;
      font-size: 1.6em;
      line-height: 1.5;
      letter-spacing: 0.01em;
      word-spacing: 0.02em;
    }
  }

  h2 {
    margin-bottom: 1.2em;
    font: 900 1em/1.3 $gym-font-stack;
  }

  form {
    .field {
      .tip {
        font-size: 1em;
      }
    }
  }

  #market {
    width: 150px;
  }

  .err-message {
    background: #f2dede;
    display: none;
    padding: 1.8em;
    border: 1px solid $error-color;
    border-radius: 0.12em;
    margin-bottom: 1em;

    &.is-shown {
      display: block;
    }

    h3 {
      color: $error-color;
      margin-top: 0;
      margin-bottom: -0.2em;
    }

    ul {
      margin-top: 1.4em;
      color: $error-color;
    }

    li {
      font: bold 1em/1.5 $gym-text-font-stack;
      color: $error-color;
      letter-spacing: 0.01em;
      margin-top: 1em;
    }
  }
}

.login {
  nav {
    a:hover {
      border-bottom: none;
    }
  }

  a:hover {
    border-bottom: 1px solid $gym-orange;
  }
}

ul.list-input,
ol.list-input,
form {
  label {
    font: 1em/1.2 $gym-font-stack;
    color: $gym-black;
    letter-spacing: 0.03em;
    word-spacing: 0.05em;
    text-transform: uppercase;
  }

  input {
    font: 1em/1 $gym-text-font-stack;
    width: 100%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    border: 0;
    border-bottom: 0.2em solid $gym-orange;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    background: none;
  }
  .field.is-focused {
    color: $gym-orange;

    input,
    label,
    span,
    span.tip,
    .tip {
      color: $gym-orange;
    }

    input:focus {
      outline-color: $gym-orange;
    }
  }
}

/* update password reset form style */
#password-reset {
  padding: 1.8em 1.8em 2.2em;
  border: 1px solid $gym-gray;
}

#password-reset > br {
  display: none;
}

#password-reset h2.section-title {
  font: 900 2.571428571428571em/1 $gym-font-stack;
  color: $gym-dark-gray-2;
  letter-spacing: 0.01em;
  word-spacing: 0.04em;
  margin-top: 0;
}

#password-reset h2.lines {
  text-align: left;
}

#password-reset h2.lines::after {
  display: none;
}

#password-reset h2.lines .text {
  position: static;
  top: 0;
  z-index: auto;
  font-size: inherit;
  background: none;
  padding: 0;
}

#password-reset .paragon__invalid-feedback {
  font-size: unset;
}

#password-reset .action-primary {
  margin-top: 0;
}

#password-reset .action-primary {
  width: 100%;
  font: bold 1.5em/1 $gym-font-stack;
  background-color: $gym-orange;
  padding: 1em;
  border-radius: .125em;
}

#password-reset .action-primary:hover,
#password-reset .action-primary:focus,
#password-reset .action-primary:active {
  background-color: $gym-light-gray;
}
