@import 'variables';
@import 'functions';

.login-register {
  background-color: transparent;
  max-width: none;

  form {
    margin: 0 auto;
    padding: 0 1.8em 2.2em;
    background-color: $gym-white;
  }

  input {
    display: block;
    height: auto;
    font-size: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #f8971d;
    margin: 0 0 0.6em;
    width: 100%;
  }
}

.form-wrapper {
  padding: 20px 0;
}
