@import 'variables';
@import 'functions';

form {
  input, select, textarea {
    display: block;
    height: 32px;
    width: 100%;
    margin: 0 0 0.6em;
    padding: 1em;
    border: 1px solid #ccc;
    border-bottom: 2px solid #f8971d;
    font-size: 1em;
  }

  input {
    height: auto;
  }

  select {
    cursor: pointer;
  }


}

.login-register {
  background-color: transparent;
  max-width: none;

  .form-type {
    max-width: 600px;
    min-width: 250px;
    margin: 0 auto;
  }

  form {
    margin: 0 auto;
    padding: 0 1.8em 2.2em;
    background-color: $gym-white;
  }

  .note {
    font-weight: bold;
    color: #222;
    display: block;
    margin: 10px 10px 0 10px;
    text-align: center;
    font-size: 12px;
    line-height: 17.76px;
  }
}

.form-wrapper  {
  padding: 20px 0;
}
