.site-header {
  background-color: $gym-black;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @include breakpoint(medium, min) {
    display: flex;
    flex-direction: column;
  }
}

.main-nav {
  padding: 1rem 0;

  a:not(.gym-button) {
    font-family: $gym-font-stack;
    font-size: 1.2em;
    color: $gym-white;
    padding: 15px;
  }

  @include breakpoint(medium, min) {
    display: flex;
    order: 2;
    height: 70px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .navbar-brand {
      flex-basis: content;
    }

    ul {
      display: flex;
      align-items: center;
      flex-grow: 1;
      min-width: 50%;
      justify-content: flex-end;
    }

    li {
      display: inline-flex;
    }
  }
}

.utility-nav {
  background-color: black;
  display: none;

  li {
    display: inline-block;
  }

  a {
    padding: 10px;
  }

  @include breakpoint(medium, min) {
    display: flex;
    order: 1;
    padding: 1rem 0;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
    }

    ul {
      
    }
  }
}

