.site-header {
  background-color: $gym-black;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.site-logo {
  padding: 1rem 0;
  display: inline-block;
}

.main-nav {
  padding: 1rem 0 0;

  ul {
    position: relative;
    left: -1.5rem;
    width: calc(100% + 3rem);

    a:not(.gym-button) {
      font-family: $gym-font-stack;
      font-size: 1.2em;
      color: $gym-white;
      padding: 1.5rem;
      display: block;

      &:hover {
        transition: all 250ms ease;
      }
    }
  }
}

@include breakpoint(320px, max) {
  .main-nav {
    ul {
      margin-top: 1rem;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        border-top: 1px solid $gym-light-gray;
        z-index: 1;
      }

      a {
        &:not(.gym-button) {
          border-bottom: 1px solid $gym-light-gray;
        }
      }
    }
  }
}

@media (min-width:320px) and (max-width: 639px){
  .main-nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;

      // make the gym button fill the space
      // note: the following classes are available on the ul: ul.logged-in & ul.logged-out
      &.logged-out {
        padding-bottom: 1.5rem;

        li {

          &:last-child {
            flex-basis: 100%;
          }
        }
      }

      a {
        &.gym-button {
          border-radius: 0;
        }

        &:not(.gym-button) {
          &:hover {
            background-color: rgba($gym-dark-gray-2, 0.75);
          }
        }
      }
    }
  }
}

@include breakpoint(small, min) {
  .main-nav {
    padding: 1rem 0;
    display: flex;
    order: 3; // this is if we decide to include the system status banner within .site-header
    height: 7rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .site-logo {
      flex-basis: content;
      flex-shrink: 0;
    }

    ul {
      border: 0;
      min-width: 50%;
      justify-content: flex-end;
      width: unset;
      left: unset;

      a:not(.gym-button) {
      
        &:hover {
          color: $gym-orange;
        }
      }
    }

    li {
      display: inline-flex;
      width: auto;
    }
  }
}

.utility-nav {
  background-color: black;
  display: none;

  li {
    display: inline-block;
  }

  a {
    padding: 1rem 0;
    margin-left: 1rem;
  }
}

@include breakpoint(small, min) {
  .utility-nav {
    display: flex;
    order: 2; // this is if we decide to include the system status banner within .site-header
    padding: 1rem 0;

    .container {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
    }
  }
}
