<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin>
  <style>
    #main {
      margin: 2em;
    }
  </style>
  </head>
  <body>
      <main id="main" role="main">
          <div class="content-wrapper" id="content">  
    {{ content | markdownify }}
  </div>
  {%- include build-timestamp.html -%}

</main>
</body>
</html>
