
{%- comment -%}
    Global Settings
{%- endcomment -%}

{%- assign twitter_card_style = "summary_large_image"-%}
{%- assign og_url = page.og_url -%}
{%- assign og_title = page.og_title -%}
{%- assign page_title =  page.page_title -%}
{%- assign og_art = page.og_art -%}
{%- assign og_description = page.og_description -%}
{%- assign short_description = og_description -%}

{%- if page.permalink contains "/courses" -%}
    {%- if page.catalog -%}    
        {%- comment -%}
        Set up meta tags for course CATALOG page meta includes
        {%- endcomment -%}
    
        {%- assign og_description = page.short_description -%}
        {%- assign short_description = page.og_description -%}
        {%- assign og_url = page.og_url -%}
        {%- assign og_title = page.og_title -%}
        {%- assign page_title =  page.page_title -%}
        {%- assign og_art = "gym-courses-og" | prepend: "img/social/courses/" -%}
    
    {%- endif -%}
    {%- comment -%}
    Set up meta tags for COURSE page meta includes
    {%- endcomment -%}
    
    {%- assign course = site.data.courses[page.course_ID] -%}
    {%- assign og_description = course.short_description -%}
    {%- assign short_description = og_description -%}
    {%- assign og_url = course.url -%}
    {%- assign og_title = course.title -%}
    {%- assign page_title =  course.title | append: " | Gymnasium" -%}
    {%- assign og_art = course.course_ID | downcase | append: "-social.png" | prepend: "img/social/courses/" -%}
    
{%- endif -%}






<meta name="description" content="{{ short_description | strip_html }}">
<meta name="author" content="Aquent Gymnasium">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<meta property="og:site_name" content="{{ page_title }}">
<meta property="og:title" content="{{ og_title | strip_html }}">
<meta property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ og_art }}">
<meta name="twitter:card" content="{{ twitter_card_style }}">
<meta name="twitter:site" content="@AquentGymnasium">
<meta name="twitter:creator" content="@AquentGymnasium">
<meta name="twitter:url" property="og:url" content="{{ og_url }}">
<meta name="twitter:title" property="og:title" content="{{ og_title | strip_html }}">
<meta name="twitter:description" property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta name="twitter:image" property="og:image" content="{{ site.url }}{{ site.baseurl }}/{{ og_art }}">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{{ site.baseurl }}/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ site.url }}{{ site.baseurl }}/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{{ site.baseurl }}/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}{{ site.baseurl }}/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{{ site.baseurl }}/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.url }}{{ site.baseurl }}/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ site.url }}{{ site.baseurl }}/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- //
Generated at: {{ site.time }}
Served from: {{ page.url | absolute_url }}
Git Hash: {{ site.data['hash']}}
// -->
