{%- comment -%}
    Global Settings
{%- endcomment -%}

{%- assign og_url = page.og_url -%}
{%- assign og_title = page.og_title -%}
{%- assign og_art = page.og_art -%}
{%- assign og_description = page.og_description -%}
{%- assign page_title =  page.page_title -%}
{%- assign short_description = og_description -%}
{%- assign twitter_card_style = "summary_large_image"-%}

{%- if page.permalink contains "/courses" -%}
    {%- if page.catalog -%}
        {%- comment -%}
        Set up meta tags for course CATALOG page meta includes
        {%- endcomment -%}

        {%- assign og_description = page.og_description -%}
        {%- assign short_description = page.og_description -%}
        {%- assign og_url = page.og_url -%}
        {%- assign og_title = page.og_title -%}
        {%- assign page_title =  page.page_title -%}
        {%- assign og_art = page.og_art -%}
    
    {%- else -%}
        {%- comment -%}
        Set up meta tags for COURSE page meta includes
        {%- endcomment -%}
        
        {%- assign course = site.data.courses[page.course_ID] -%}
        {%- assign og_description = course.short_description -%}
        {%- assign short_description = og_description -%}
        {%- assign og_url = course.url -%}
        {%- assign og_title = course.title -%}
        {%- assign page_title =  course.title | append: " | Gymnasium" -%}
        {%- assign og_art = course.course_ID | downcase | append: "-social.png" | prepend: "img/social/courses/" -%}
    {%- endif -%}
{%- endif -%}

{%- include meta-dynamic.html -%}
{%- include meta-static.html -%}

{{content}}

{%- include build-timestamp.html -%}
