{%- if page.permalink contains "webinars" -%}
    {%- comment -%}
    Set up meta tags for a webinar meta include
    {%- endcomment -%}
    {%- assign event = site.data.webinars[page.event_ID] -%}
    {%- assign short_description = event.short_description | strip_html -%}
    {%- assign twitter_card_style = "summary_large_image"-%}
    {%- if event.event_ID == "web0005-state-of-responsive-web-design" -%}
        {%- assign og_url = "https://thegymnasium.com/webinars/state-of-responsive-web-design" -%}
        {%- assign og_title = event.event_title -%}

    {%- else -%}

        {%- assign path = event.event_ID -%}
        {%- assign path =  path | slice: 8,path.size   -%}
        {%- assign og_url = path | prepend: "https://thegymnasium.com/webinars/" -%}
        {%- assign og_title = event.event_title -%}
    {%- endif -%}

    {%- if event.register == true -%}
        {%- assign page_title = "Webinar Registration | Gymnasium" -%}
        {%- assign og_art = event.event_ogimage | prepend: "img/social/webinars/" -%}
    {%- endif -%}

    {%- if event.video == true -%}
        {%- assign page_title = "Webinar Recording | Gymnasium" -%}
        {%- assign og_art = event.recording_ogimage | prepend: "img/social/webinars/" -%}
    {%- endif -%}



{%- elsif page.permalink contains "take5" -%}
    {%- comment -%}
    Set up meta tags for a Take 5 meta include
    {%- endcomment -%}
    {%- assign course = site.data.take5[page.course_ID] -%}
    {%- assign og_description = course.short_description -%}
    {%- assign og_url = course.title | slugify | prepend: "https://thegymnasium.com/courses/take5/" -%}
    {%- assign page_title = "Take 5 | Gymnasium" -%}
    {%- assign og_art = course.course_ID | downcase | append: "-og.png" | prepend: "/img/take5/og/" -%}
    {%- assign og_alt = course.title | prepend: "Video poster for tutorial titled " -%}
    {%- assign twitter_card_style = "summary_large_image"-%}

{%- elsif page.permalink contains "hub-pages" -%}
    {%- comment -%}
    Set up meta tags for a collection or hub page meta include
    {%- endcomment -%}
    {%- assign short_description = page.og_description -%}
    {%- assign og_url = page.og_url -%}
    {%- assign page_title = page.page_title -%}
    {%- assign og_art = page.og_art -%}
    {%- assign og_alt = page.og_title -%}
    {%- assign og_title = page.og_title -%}
    {%- assign twitter_card_style = "summary_large_image"-%}

{%- elsif page.permalink contains "jobs" -%}
    {%- comment -%}
    Set up meta tags for Jobs page meta include
    {%- endcomment -%}
    {%- assign short_description = page.og_description -%}
    {%- assign og_url = page.og_url -%}
    {%- assign page_title = page.page_title -%}
    {%- assign og_art = page.og_art -%}
    {%- assign og_alt = page.og_title -%}
    {%- assign og_title = page.og_title -%}
    {%- assign twitter_card_style = "summary_large_image"-%}

{%- elsif page.permalink contains "/courses" -%}
    {%- comment -%}
    Set up meta tags for course page meta include
    {%- endcomment -%}
    {%- assign course = site.data.courses[page.course_ID] -%}
    {%- assign og_description = course.short_description -%}
    {%- assign short_description = og_description -%}
    {%- assign og_url = course.url -%}
    {%- assign og_title = course.title -%}
    {%- assign page_title =  course.title | append: " | Gymnasium" -%}
    {%- assign og_art = course.course_ID | downcase | append: "-social.png" | prepend: "img/social/courses/" -%}
    {%- assign twitter_card_style = "summary"-%}
{%- endif -%}

<meta name="description" content="{{ short_description | strip_html }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:site_name" content="{{ page_title }}">
<meta property="og:title" content="{{ og_title | strip_html }}">
<meta property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta property="og:image" content="{{ site.url }}/{{ og_art }}">
<meta name="twitter:card" content="{{ twitter_card_style }}">
<meta name="twitter:url" property="og:url" content="{{ og_url }}">
<meta name="twitter:title" property="og:title" content="{{ og_title | strip_html }}">
<meta name="twitter:description" property="og:description" content="{{ short_description | strip_html }}">
<meta property="og:image:alt" content="{{ og_title | strip_html }}">
<meta name="twitter:image" property="og:image" content="{{ site.url }}/{{ og_art }}">

{%- if page.robots -%}
  <meta name="robots" content="{{page.robots}}">
{%- endif -%}

{%- include meta-static.html -%}

{{content}}

{%- include build-timestamp.html -%}
