<!-- https://studio.gymna.si/settings/details/course-v1:GYM+017+0 -->
<!-- Course Overview -->

<style>
</style>

<div class="row course-about">
  <article class="course-about-overview col-md-9">
    <div class="hero" id="course-intro">
      <p> <b><cite>Design Systems for Everyone</cite></b> will teach you how to anticipate many of the common challenges faced when creating a design system and equip you with some helpful ways to guide your work. 
      </p>
    </div>
    <section id="course-about">
      <h2>About This Course</h2>
      <p> Working with design systems can be challenging. It involves a lot of consensus-building, learning new skills, and developing new ways of working. As more organizations are integrating design systems into their culture, understanding how to work with these systems is more important than ever before. In this course, you will walk through the process of building a design system from beginning to end with helpful exercises along the way. By the end, you’ll know how to conduct a pattern inventory, how to evolve a pattern library into an effective design, and how to measure whether your design system is working. </p>
    </section>
    <section id="course-outline">
      <h2>Course Outline</h2>
      <ul>
        <li>
          <h3>Chapter 1: Introduction</h3>
          <p>Discover the key concepts of design systems and, in particular, how they can benefit organizations. You’ll also learn the goals for this course as well as which topics are covered. </p>
        </li>
        <li>
          <h3>Chapter 2: What Is a Design System?</h3>
          <p>Explore the definition and history of design systems by looking at classic examples from print design as well as modern examples of digital products. You’ll also learn the difference between design patterns and design systems.</p>
        </li>


        <li>
          <h3>Chapter 3: Why Do We Need Design Systems?</h3>
          <p>Learn some of the reasons why design systems are so important and, more specifically, who design systems are for. You’ll take a look at how designers, developers, and product managers typically interact with design systems and how to evaluate if the system is addressing their needs.</p>
        </li>

        <li>
          <h3>Chapter 4: Conducting a Pattern Inventory</h3>
          <p>Walk through the process of how to take inventory of the design patterns on a website or digital product and then get some practice doing it on your own or with colleagues.
          </p>
        </li>
        <li>
          <h3>Chapter 5: Naming and Organizing Your Design Patterns</h3>
          <p>Examine techniques and strategies for naming the design patterns you’ve inventoried, as well as how to organize them into clear, sensible structures. Specifically, you’ll learn how to create an effective naming system that helps people find the pattern they need, when they need it.</p>
        </li>
        <li>
          <h3>Chapter 6: Creating a Pattern Library</h3>
          <p>Explore the world of automation in this brief tour of pattern management software that includes a look at Storybook and Fractal, two popular solutions for managing the user interface components in your pattern library.</p>
        </li>


        <li>
          <h3>Chapter 7: Evolving Your Pattern Library Into a Design System</h3>
          <p>Learn strategies and best practices for putting your pattern library to work as you begin to build the foundation for a robust design system.
        </li>
        <li>
          <h3>Chapter 8: Defining the Shape of Your Design System</h3>
          <p>Define the scope and direction of your design system as you learn how to research the needs of your audience. Specifically, you’ll be learning the difference between contributors and consumers and, most importantly, how to determine if your design system is working as intended.
        </li>
         <li>
          <h3>Chapter 9: Common Myths About Design Systems</h3>
          <p>Examine a few of the assumptions that people and organizations make about design systems. In particular, you’ll learn best practices on topics such as when to release updates to your design system and how to build a system that incorporates the values of an organization.
        </li>
         <li>
          <h3>Chapter 10: Next Steps</h3>
          <p>Review the concepts covered in this course including strategies for naming and organizing patterns and defining the shape of your design system. You’ll also be given four specific steps for taking your design systems work to the next level.
        </li>

      </ul>
    </section>
    <section id="course-prerequisites">
      <h2>Prerequisites</h2>
      <ul>
        <li>Mac or Windows desktop or laptop</li>
        <li>A passion for learning about design systems</li>
      </ul>

    </section>
  </article>

  <div class="col-md-3">
    <section class="course-about-sidebar">
      <div id="course-audience">
        <h2>This Course is For</h2>
        <ul>
          <li>Anyone interested in design systems</li>
          <li>Teams beginning the design systems process</li>
          <li>Designers, developers, and product managers</li>
        </ul>

      </div>
      <section class="course-instructor" id="course-instructor">
        <h2>Meet the Instructor</h2>
        <article>
          <img src="/static/Ethan_Marcotte_instructor_image.png"
            alt="Ethan Marcotte's instructor headshot for Aquent Gymnasium" class="img-responsive">
          <h3>Ethan Marcotte</h3>
          <p>Ethan Marcotte is an independent web designer, writer, and speaker based in Boston. He's the fellow who started that whole “responsive design” thing.</p>

          <p>As a partner at <a href="https://autogram.is">Autogram</a>, Ethan helps clients plan, create, and maintain effective design systems.</p>

          <p>Ethan has helped tackle major design challenges for companies including People Magazine, The Sundance Film Festival, and The Boston Globe.</p>
        </article>
      </section>
    </section>
  </div>
</div>
