{%- assign course = site.data.take5[page.course_ID] -%}
{%- assign og_description = course.short_description -%}
<meta property="og:url" content="{{ course.title | slugify | prepend: 'https://thegymnasium.com/courses/take5/' }}">
<meta property="og:type" content="website">
<meta property="og:locale" content="en_US">
<!-- "og:site_name" content="Needs review?" -->
<meta property="og:site_name" content="Take 5 | Gymnasium">
<meta property="og:title" content="{{ course.title }}">
<meta property="og:description" content="{{ og_description }}">
<!-- 1.91:1 aspect ratio supported by LinkedIn/Twitter -->
<meta property="og:image" content="{{ site.url }}{{ course.course_ID | downcase | append: '-og.png' | prepend: '/img/take5/og/' }}">
<!-- Reuse Title or something more descriptive? -->
<meta property="og:image:alt" content="{{ course.title | prepend: 'Video poster for tutorial titled ' }}">
<!-- /*/ Twitter Card / Summary with large image /*/ -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@AquentGymnasium">
<meta name="twitter:creator" content="@AquentGymnasium">
<meta name="twitter:url" content="{{ course.title | slugify | prepend: 'https://thegymnasium.com/courses/take5/' }}">
<meta name="twitter:title" content="{{ course.title }}">
<meta name="twitter:description" content="{{ og_description }}">
<!-- 1.91:1 aspect ratio supported by LinkedIn/Twitter -->
<meta name="twitter:image" content="{{ site.url }}{{ course.course_ID | downcase | append: '-og.png' | prepend: '/img/take5/og/' }}">
<!-- Reuse Title or something more descriptive? -->
<meta name="twitter:image:alt" content="{{ course.title | prepend: 'Video poster for tutorial titled ' }}">

<link rel="apple-touch-icon" sizes="57x57" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://gymnasium.github.io/cms/favicon.ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://gymnasium.github.io/cms/favicon.ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://gymnasium.github.io/cms/favicon.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://gymnasium.github.io/cms/favicon.ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://gymnasium.github.io/cms/favicon.ico/favicon-16x16.png">
<link rel="manifest" href="https://gymnasium.github.io/cms/favicon.ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://gymnasium.github.io/cms/favicon.ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<!-- //
Generated at: {{ site.time }}
Served from: {{ page.url | absolute_url }}
Git Hash: {{ site.data['hash']}}
// -->
