<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head dir="ltr">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Home | Free online courses on design and software development | Gymnasium </title>
	<script type="text/javascript" src="https://thegymnasium.com/js/i18n/en/djangojs.b28203373cc1.js">
	</script>
	<link rel="icon" type="image/x-icon" href="https://thegymnasium.com/gymnasium/images/favicon.f729730b6e79.ico" />
	<link href="https://thegymnasium.com/gymnasium/css/lms-style-vendor.a0d47e130e81.css" rel="stylesheet" type="text/css" />
	<link href="https://thegymnasium.com/gymnasium/css/lms-main-v1.72f65780728f.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://thegymnasium.com/gymnasium/js/lms-main_vendor.46d6a8c02600.js" charset="utf-8">
	</script>
	<script type="text/javascript" src="https://thegymnasium.com/gymnasium/js/lms-application.c4f05cb3b364.js" charset="utf-8">
	</script>
	<script>
		window.baseUrl = "https://thegymnasium.com/";
		(function (require) {
		  require.config({
		      baseUrl: window.baseUrl
		  });
		}).call(this, require || RequireJS.require);
	</script>
	<script type="text/javascript" src="https://thegymnasium.com/lms/js/require-config.667a9b347d82.js">
	</script>
	<script type="text/javascript">
		(function (require) {
		  require.config({
		      paths: {
		        'js/courseware/courseware_factory': 'js/courseware/courseware_factory.61851a4d4909',
		'draggabilly': 'js/vendor/draggabilly.26caba6f7187',
		'js/courseware/toggle_element_visibility': 'js/courseware/toggle_element_visibility.e564e0ed228c',
		'js/courseware/course_home_events': 'js/courseware/course_home_events.4e8915731e7d',
		'js/courseware/link_clicked_events': 'js/courseware/link_clicked_events',
		'edxicons': 'edx-pattern-library/js/edx-icons.a9ab01bc44bf',
		'moment': 'js/vendor/moment-with-locales.min.cf6d65fe3e48',
		'js/student_profile/views/learner_profile_factory': 'js/student_profile/views/learner_profile_factory.5a339c9b269e',
		'jquery.url': 'js/vendor/url.min.0098a9ff3d53',
		'js/student_account/logistration_factory': 'js/student_account/logistration_factory.f3eba77aab43',
		'js/groups/views/cohorts_dashboard_factory': 'js/groups/views/cohorts_dashboard_factory.65bc243bc330',
		'afontgarde': 'edx-pattern-library/js/afontgarde.f6413e623704',
		'js/courseware/accordion_events': 'js/courseware/accordion_events.1bf82c871285',
		'js/bookmarks/views/bookmark_button': 'js/bookmarks/views/bookmark_button.f9d16d58a9d8',
		'js/views/message_banner': 'js/views/message_banner.13d853dc7834'
		    }
		  });
		}).call(this, require || RequireJS.require);
	</script>
	<script type="text/javascript" src="https://thegymnasium.com/gymnasium/js/lms-modules.47eeba5c2874.js" charset="utf-8">
	</script>
	<meta property="og:url" content="http://thegymnasium.com/" />
	<meta property="og:title" content="Aquent Gymnasium" />
	<meta property="og:image" content="https://thegymnasium.com/gymnasium/images/social-share-400.f9715ec47ea8.png" />
	<meta property="og:description" content="Gymnasium offers free online courses on web development, design, user experience, and content." />
	<meta property="og:keywords" content="free online courses designers design user experience UX javascript node nodejs sketch wordpress drupal UI" />
<!-- insert typekit font references -->
	<script src="//use.typekit.net/rhf0qta.js">
	</script>
	<script>
		try{Typekit.load();}catch(e){}
	</script>
<!-- bootstrap! -->
<!-- local reference for offline testing only -->
<!-- <link rel="stylesheet" href="https://thegymnasium.com/gymnasium/css/bootstrap.e60e9bcfcac0.css" > -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js">
	</script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.js">
	</script>
<!-- iframe resize script for responsive job modules-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.0/iframeResizer.js">
	</script>
	<script src="https://thegymnasium.com/gymnasium/js/prism.19f6a94bf245.js">
	</script>
	<script src="https://thegymnasium.com/gymnasium/js/cookiebanner.1f4136cf4977.js" id="cookiebanner" data-link="#f89820" data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies. Find out more about how we use cookies in our" data-linkmsg="Privacy Policy." data-moreinfo="/privacy">
	</script>
	<script>
		var CLOUDWALL_ENV = "my";
	</script>
	<script src="https://thegymnasium.com/gymnasium/js/gymnasium.js">
	</script>
	<script>
		// check for unsupported browsers; display warning message if an old browser
		// is in use

		$(function(){
		  iFrameResize({ log:false }, '.gymnasium-resizable-iframe');

		  // This function returns Internet Explorer's major version number,
		  // or 0 for others. It works by finding the "MSIE " string and
		  // extracting the version number following the space, up to the decimal
		  // point, ignoring the minor version number
		  // for more info, see: https://support.microsoft.com/en-us/kb/167820
		  function msieversion()
		  {
		    var ua = window.navigator.userAgent
		    var msie = ua.indexOf ( "MSIE " )

		    if ( msie > 0 )      // If Internet Explorer, return version number
		       return parseInt (ua.substring (msie+5, ua.indexOf (".", msie )))
		    else                 // If another browser, return 0
		       return 0
		  }

		  function displayBrowserWarning()
		  {
		    $('#browserWarning').show();
		  }

		  var ieversion = msieversion();
		  // make sure that we are using IE > 9
		  if (ieversion > 0 && ieversion < 11)
		  {
		    displayBrowserWarning();
		  }

		});


			//this is a nonsense hack to make courseware subnavigation look like
			//what we want it to look like until we move to Cypress
			//TODO: Unhackify this.
			$(function(){
				$('.course-tabs li a b:contains("Course")').each(function(idx, value){
					value.innerHTML = "Lessons";
				});

				$('.course-tabs li a b:contains("Home")').each(function(idx,value){
					value.innerHTML = "Syllabus";
				});

		  $('.course-tabs li a b:contains("Discussion")').each(function(idx, value) {
		    value.innerHTML = "Forum";
		  });

		  // make sure lessons tab comes first
		  var syllabusTab = $('.course-tabs li:contains("Lessons")');
		  $(syllabusTab).prependTo(
		    $(syllabusTab).parent()
		  );

				$('.course-tabs li a:contains("Forum")').each(function(idx,value){
					//TODO: Unhack this silly logic to hide forum tab for gym shorts

					//we're looking at the href property of this anchor to see if it contains
					//a course link that has "Gym/00" in it.  All gym shorts start with "0"
					//so that should hide this link. Note that this does _not_ disable
					//forums... those pages will still exist, but we won't like to them.
					if ($(value).attr("href").toLowerCase().indexOf("gym/0") > 0)
					{
						$(value).parent().hide();
					}
				})

				$('.course-tabs li:contains("Progress")').hide();
				$('.course-tabs').show();
			});
	</script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-684147-51', 'auto');
		ga('send', 'pageview');
	</script>
<!-- begin Segment -->
	<script type="text/javascript">
		// Asynchronously load Segment's analytics.js library
		!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
		analytics.load("vL1prbVSWZov8TfTUGHAu5QhXiwAWDnz");
		analytics.page();
		}}();
		// Note: user tracking moved to segment-io-footer.html
	</script>
<!-- end Segment -->
	<meta name="path_prefix" content="">
	<meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY" />
</head>
<body class="ltr  lang_en">
<div id="page-prompt">
</div>
<div class="window-wrap" dir="ltr">
	<a class="nav-skip" href="#main">Skip to main content</a>
	<header class="global" aria-label="Global Navigation">
		<nav id="primary-nav" class="black-background container-fluid">
			<div class="container">
				<div class="row">
					<div class="navbar">
						<div class="nav navbar navbar-nav navbar-left">
							<a class="gym-button" href="/register"><b>Sign Up</b></a>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="https://aquent.com" target="_blank" alt="Aquent" class="gym-nav-icon-container"> <i class="gym-nav-icon aquent-icon"></i></a></li>
								<li><a href="https://vitamintalent.com" target="_blank" alt="Vitamin T" class="gym-nav-icon-container"> <i class="gym-nav-icon vitamin-t-icon"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<nav id="secondary-nav" class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-md-12 navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#secondary-nav-items"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="/"> <img class="gymnasium-logo" src="https://thegymnasium.com/gymnasium/images/gymnasiumLogo.png" alt="Home Page" /> </a>
						</div>
<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="secondary-nav-items">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/courses">Courses</a></li>
								<li><a href="/jobs">Jobs</a></li>
								<li><a href="/about">About</a></li>
								<li> <a class="gym-button" href="/login"><b>Log In</b></a> </li>
							</ul>
						</div>
<!-- /.navbar-collapse -->
					</div>
				</div>
			</div>
		</nav>
		<div class="wrapper-msg urgency-high" id="browserWarning" style="display:none;">
			<div class="msg">
				<div class="msg-content">
					<h1>
						Improve your Gymnasium experience
					</h1>
					<div class="copy">
						<p>
							It looks like you’re using an unsupported browser. To get the most out of your Gymnasium experience, we recommend that you use <a href="https://www.google.com/chrome/index.html" target="_blank">Chrome</a>, <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>, or <a href="https://www.apple.com/safari/" target="_blank">Safari</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<style>		main.course .hero-banner img {
		  max-width: 100%;
		}
	</style>
	<script>
		$(function() {
		  // track an event for each view of a course page
		  var courseNum = $('#__course_number__').text();
		  if (courseNum.length > 0) {
		    if (typeof Intercom === 'function') {
		      Intercom('trackEvent', 'visited-gym-' + courseNum);
		    }
		  }
		})
	</script>

	<section id="forgot-password" class="modal" aria-hidden="true">
		<div class="dialog" role="dialog" aria-labelledby="email-settings-title">
			<button class="close-modal" tabindex="1" data-dismiss="modal"> <b class="close-modal-content gym-button"> Dismiss </b> </button>
			<form id="pwd_reset_form" action="/password_reset/" method="post" data-remote="true">
				<fieldset>
					<legend> <b role="heading"> Password Reset </b> <span class="sr">, window open </span> </legend>
					<ul class="list-input">
						<label> <b>Your E-mail Address*</b> </label>
						<input type="email" name="email" id="pwd_reset_email" aria-required="true" placeholder="username@domain.com" required>
						</li>
					</ul>
					<p>
						This is the e-mail address you used to register with Gymnasium
					</p>
					<div class="row">
						<div class="col-md-12">
							<div id="error_message">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button class="gym-button" tabindex="2" name="submit" type="submit" id="submit-password-reset-button"> <b> Reset My Password </b> </button>
						</div>
					</div>
				</fieldset>
			</form>
			<div class="row confirmation-message" hidden>
				<legend> <b role="heading"> Check your email </b> </legend>
				<div class="col-md-12">
					<p>
						We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.
					</p>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript">
		(function() {

		  $('#pwd_reset_form').validate();

		  $('#forgot-password').on('show.bs.modal', function(){
		    //$('.confirmation-message').hide();
		    //$('#pwd_reset_form').show();
		  });

		  $('#submit-password-reset-button').click(function(){
		    //$('.confirmation-message').show();
		    //$('#pwd_reset_form').hide();
		  });

		  $(document).delegate('#pwd_reset_form', 'ajax:success', function(data, json, xhr) {
		    if(json.success) {
		      $("#pwd_reset_form").html(json.value);
		    } else {
		      if($('#pwd_error').length == 0) {
		        $('#error_message').html('<div id="pwd_error" class="modal-form-error error">Email address is incorrect or there is no account registered with this email address.</div>');
		      }
		      $('#pwd_error').stop().css("display", "block");
		    }
		  });

		})(this)
	</script>
	<script async>
		$(function(){
		  var button = document.getElementById("dropdown");

		  $(button).click(function(){
		    var menu = document.getElementById("dropdown-menu");

		    var caret=$(button).children('.caret');

		    if (menu.style.display !== "inline") {
		        menu.style.display = "inline";
		        $(caret).hide();
		    }
		    else {
		      menu.style.display = "none";
		      $(caret).show();
		    }
		  });
		})
	</script>
	<div class="content-wrapper" id="content">
<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Gymnasium HP
URL of the webpage where the tag is expected to be placed: http://gymnasium.aquent.com/
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 12/02/2015
-->
		<script type="text/javascript">
			var axel = Math.random() + "";
			var a = axel * 10000000000000;
			document.write('<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
		</script>
		<noscript>
			<iframe src="https://5255816.fls.doubleclick.net/activityi;src=5255816;type=count0;cat=gymna00;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
		</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
		<section class="home">

<!-- Hero include goes here -->
{% include hero-gym-005.html %}
			<section class="container-fluid subsection">
				<div class="container">
					<header class="header-tab text-center">
						<h1>
							How Gymnasium Works
						</h1>
					</header>
					<section class="row how-gymnasium-works">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h2>
								Free Online Courses
							</h2>
							<p>
								Our courses are taught by industry experts. You can enroll anytime, anywhere.
							</p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h2>
								New Skills
							</h2>
							<p>
								You can share your achievement with your network when you pass a final exam.
							</p>
							<br />
							<br />
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h2>
								Career Opportunities
							</h2>
							<p>
								We get you jobs through Aquent, one of the largest staffing agencies in the world.
							</p>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
							<h2>
								Lifelong Learning
							</h2>
							<p>
								We produce articles, tutorials, and webinars with trailblazers in the web community.
							</p>
						</div>
					</section>

      <div class="row">
        <section class="highlighted-courses col-md-12">

          <header class="text-center header-tab">
            <h1>Featured Courses</h1>
          </header>

          <section class="courses row">

    <link rel="stylesheet" href="{{ site.url }}/css/featured-courses.css">

<div class="section-featured-courses">
  <div class="cols">
    <ul class="list-featured-courses">
      <li>
        <div class="card featured-course user-experience">
          <div class="card-main equal-h">
            <header>
              <b class="course-type">User Experience</b>
              <div class="mask">
                <a href="https://thegymnasium.com/courses/course-v1:GYM+014+0/about" title="Learn More">
                  <img alt="Working With Atomic Design and Pattern Lab" srcset="{{ site.url }}/img/course-artwork/svg/gym-014.svg" src="https://thegymnasium.com/asset-v1:GYM+014+0+type@asset+block@gym-014.png" width="256">
                </a>
              </div>
              <h2><a href="https://thegymnasium.com/courses/course-v1:GYM+014+0/about" title="Learn More">Working With Atomic Design and Pattern Lab</a></h2>
              <p>An in-depth look at building successful UI design systems from the author of <cite>Atomic Design</cite>.</p>
            </header>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <dl class="instructor">
                <dt class="byline"><b>with Brad Frost</b></dt>
                <dd>Web Designer & Speaker</dd>
              </dl>
            </div>
            <div class="card-cta">
              <a class="gym-button" href="https://thegymnasium.com/courses/course-v1:GYM+014+0/about"><b>Learn More</b></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card featured-course design-development">
          <div class="card-main equal-h">
            <header>
              <b class="course-type">Web Design & Development</b>
              <div class="mask">
                <a href="https://thegymnasium.com/courses/GYM/107/0/about" title="Learn More">
                  <img alt="Modern Web Design" srcset="{{ site.url }}/img/course-artwork/svg/gym-107.svg" src="https://thegymnasium.com/c4x/GYM/107/asset/gym-107.png" width="256">
                </a>
              </div>
              <h2><a href="https://thegymnasium.com/courses/GYM/107/0/about" title="Learn More">Modern <span class="no-wrap">Web Design</span></a></h2>
              <p>A beginner’s guide to front-end development covering HTML, CSS, and JavaScript.</p>
            </header>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <dl class="instructor">
                <dt class="byline"><b>with Aaron Gustafson</b></dt>
                <dd>of Microsoft</dd>
              </dl>
            </div>
            <div class="card-cta">
              <a class="gym-button" href="https://thegymnasium.com/courses/GYM/107/0/about"><b>Learn More</b></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card featured-course user-experience">
          <div class="card-main equal-h">
            <header>
              <b class="course-type">User Experience</b>
              <div class="mask">
                <a href="https://thegymnasium.com/courses/course-v1:GYM+013+0/about" title="Learn More">
                  <img alt="3D Modeling for Virtual Reality Creation" srcset="{{ site.url }}/img/course-artwork/svg/gym-013.svg" src="https://thegymnasium.com/asset-v1:GYM+013+0+type@asset+block@MVR-gym-013.png" width="256">
                </a>
              </div>
              <h2><a href="https://thegymnasium.com/courses/course-v1:GYM+013+0/about" title="Learn More">3D Modeling for Virtual Reality Creation</a></h2>
              <p>An intro to Autodesk Maya for use in virtual reality productions.</p>
            </header>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <dl class="instructor">
                <dt class="byline"><b>with Graham Roberts</b></dt>
                <dd>of <cite>The New York Times</cite></dd>
              </dl>
            </div>
            <div class="card-cta">
              <a class="gym-button" href="https://thegymnasium.com/courses/course-v1:GYM+013+0/about"><b>Learn More</b></a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="card featured-course career-skills">
          <div class="card-main equal-h">
            <header>
              <b class="course-type">Career Skills</b>
              <div class="mask">
                <a href="https://thegymnasium.com/courses/GYM/001/0/about" title="Learn More">
                  <img alt="Defeating Busy" srcset="https://thegymcms.com/img/course-artwork/svg/gym-001.svg" src="https://thegymcms.com/img/course-artwork/png/gym-001.svg" width="256">
                </a>
              </div>
              <h2><a href="https://thegymnasium.com/courses/GYM/001/0/about" title="Learn More">Defeating Busy</a></h2>
              <p>Learn how to estimate, plan, track, and manage your time in order to complete projects. Being busy isn’t a bad thing, but not being in control of your own time is.</p>
            </header>
          </div>
          <div class="card-footer">
            <div class="card-info">
              <dl class="instructor">
                <dt class="byline"><b>with Brett Harned</b></dt>
                <dd>of TeamGantt</dd>
              </dl>
            </div>
            <div class="card-cta">
              <a class="gym-button" href="https://thegymnasium.com/courses/GYM/001/0/about"><b>Learn More</b></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="about-featured-courses">
    <div class="description">
      <p>Gymnasium offers free online courses on web development, design, user experience, and content creation.</p>
    </div>
    <div class="cta">
     <a class="gym-button" href="https://thegymnasium.com/courses"><b>View all Courses</b></a>
    </div>
  </div>
</div>

<!-- polyfills -->
<script async nomodule src="{{ site.url }}/js/polyfills/prefixfree.min.js"></script>
<script async nomodule src="{{ site.url }}/js/polyfills/grid-equal-height.js"></script>

							</section>
						</section>
					</div>
				</div>
			</section>
			<section class="container-fluid">
				<div class="container" id="get-work">
					<header class="header-tab text-center">
						<h1>
							Find Work
						</h1>
					</header>
					<div class="col-md-8 col-md-offset-2">
						<iframe src="https://gym-jobs-microservice-prod.herokuapp.com//None" id="jobs-microservice-frame" class="gymnasium-resizable-iframe gymnasium-jobs-microservice-iframe" style="width: 1px;min-width: 100%;border:0;"></iframe> <script>
							if (navigator.geolocation) {
							  // Geolocation is enabled - use this to get location
							  navigator.geolocation.getCurrentPosition(
							    (position) => {
							      const latitude = position.coords.latitude;
							      const longitude = position.coords.longitude;
							      if (latitude && longitude) {
							        const baseUrl = "https://gym-jobs-microservice-prod.herokuapp.com/";
							        const microserviceUrl = baseUrl + "/" + latitude + "/" + longitude;

							        $('.gymnasium-jobs-microservice-iframe').attr('src', microserviceUrl);
							      }
							    },
							  );
							}
						</script>
					</div>
				</div>
			</section>
			<section class="container-fluid subsection" id="as-seen-in">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="text-center">
								As seen in:
							</h2>
						</div>
					</div>
					<div class="row list-inline text-center">
						<div class="col-xs-12 col-sm-offset-1 col-sm-2">
							<a href="https://www.fastcompany.com/3024661/innovation-agents/hacking-hack-schools-to-make-them-work" target="_blank"> <img src="https://thegymnasium.com/gymnasium/images/as-seen-in/fastco.3eeaa048b3d9.png" alt="Aquent Gymnasium" class="img-responsive center-block" /> </a>
						</div>
						<div class="col-xs-12 col-sm-2">
							<a href="https://www.forbes.com/sites/sap/2015/02/23/hate-formal-career-training-go-guerrilla-on-it/" target="_blank"> <img src="https://thegymnasium.com/gymnasium/images/as-seen-in/forbes.d2370695629a.png" alt="Aquent Gymnasium" class="img-responsive center-block" /> </a>
						</div>
						<div class="col-xs-12 col-sm-2">
							<a href="https://www.inc.com/issie-lapowsky/how-moocs-training-tomorrow-workforce.html" target="_blank"> <img src="https://thegymnasium.com/gymnasium/images/as-seen-in/inc.a855bc8304b7.png" alt="Aquent Gymnasium" class="img-responsive  center-block" /> </a>
						</div>
						<div class="col-xs-12 col-sm-2">
							<a href="https://www.lemonde.fr/emploi/article/2014/06/30/les-firmes-americaines-recrutent-dans-les-mooc_4448062_1698637.html" target="_blank"> <img src="https://thegymnasium.com/gymnasium/images/as-seen-in/le-monde-fr.6a000e5de8d9.png" alt="Aquent Gymnasium" class="img-responsive center-block" /> </a>
						</div>
						<div class="col-xs-12 col-sm-2">
							<a href="https://www.foxbusiness.com/features/training-workers-the-netflix-way-moocs-in-the-job-industry" target="_blank"> <img src="https://thegymnasium.com/gymnasium/images/as-seen-in/fox-business.2ce8db35b04c.png" alt="Aquent Gymnasium" class="img-responsive center-block" /> </a>
						</div>
					</div>
				</div>
			</section>
		</section>
	</div>
	<div class="wrapper-footer">
		<footer class="container">
			<div class="row">
				<nav>
					<div class="col-md-3">
						<a href="/"> <img class="gymnasium-logo" src="https://thegymnasium.com/gymnasium/images/gymnasiumLogo.png" alt="Aquent Gymnasium"> </a>
					</div>
					<div class="col-md-6">
						<ol class="list-inline text-center footer-link-list">
							<li><a href="https://medium.com/gymnasium" target="_blank">Blog</a></li>
							<li><a href="/jobs">Jobs</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/support">Support</a></li>
							<li><a href="/privacy">Privacy Policy</a></li>
						</ol>
						<div class="copyright">
							&copy; 2018 Aquent Gymnasium
						</div>
					</div>
				</nav>
				<div class="built-on col-md-3 text-center">
					<span> <a href="https://openedx.org" target="_blank"> <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag-light.png" width="150" height="50" alt="Powered by Open edX" /> </a> </span>
				</div>
			</div>
			<div class="row">
			</div>
		</footer>
	</div>
</div>
<script type="text/javascript">
	$(window).on('load',function() {
	  if(getParameterByName('next')) {
	        $('#login').trigger("click");
	  }

	  Gymnasium.injectFBTrackingPixel();

	  //load jobs into the jobs page
	  Gymnasium.LoadJobsForMarket();

	  $('#view-jobs-button').click(function(event){
	    event.preventDefault();
	    var market = $('#market').val();
	    var market_label = $('#market option:selected').text();

	    // update the "View all jobs in [market]" url to point to this market
	    var viewJobsLinkURL = 'https://aquent.com/find-work/?utm_source=gymnasium&utm_medium=web&utm_campaign=homepagejobs&utm_content=viewall&l=' + market;
	    var viewJobsLink = $('#view-jobs-link')[0];
	    viewJobsLink.href = viewJobsLinkURL;

	    Gymnasium.LoadJobsForMarket(market);
	    $('#find-jobs-market-name, .job-location').text(market_label);


	  });
	})
</script>
<!-- begin segment footer -->
<script type="text/javascript">
</script>
<!-- end segment footer -->
<script type="text/javascript" src="https://thegymnasium.com/js/vendor/noreferrer.aa62a3e70ffa.js" charset="utf-8">
</script>
<script type="text/javascript" src="https://thegymnasium.com/js/utils/navigation.17df676f9045.js" charset="utf-8">
</script>
<!-- Performance beacon for onload times -->

  {% include build-timestamp.html %}
  </body>
</html>
