{%- include build-timestamp.html -%}

{%- include partials/template-top.html -%}

<div class="container">
  <div class="white-panel">
    <div class="row">
      <div class="col-md-9">
        {{ content }}
      </div><!-- .col-md-9 -->

      <div class="col-md-3">
        {%- comment -%} Get Upcoming/Featured Courses Sidebar {%- endcomment -%}
        {%- include sidebar-featured.html -%}
      </div><!-- .col-md-3 -->
    </div><!-- .row -->
  </div><!-- .white-panel -->
</div><!-- .container -->

{%- include partials/template-bottom.html -%}
