<section class="container-fluid subsection" id="as-seen-in">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">As seen in:</h2>
      </div>
    </div>

    <div class="row list-inline text-center">
      <div class="col-xs-12 col-sm-offset-1 col-sm-2">
        <a href="https://www.fastcompany.com/3024661/innovation-agents/hacking-hack-schools-to-make-them-work" target="_blank" title="Fast Company">
          <img src="{{site.url}}/img/as-seen-in/fastco.png" alt="Fast Company" class="img-responsive center-block" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="https://www.forbes.com/sites/sap/2015/02/23/hate-formal-career-training-go-guerrilla-on-it/" target="_blank" title="Forbes">
          <img src="{{site.url}}/img/as-seen-in/forbes.png" alt="Forbes" class="img-responsive center-block" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="https://www.inc.com/issie-lapowsky/how-moocs-training-tomorrow-workforce.html" target="_blank" title="Inc.">
          <img src="{{site.url}}/img/as-seen-in/inc.png" alt="Inc." class="img-responsive  center-block" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="https://www.lemonde.fr/emploi/article/2014/06/30/les-firmes-americaines-recrutent-dans-les-mooc_4448062_1698637.html" target="_blank" title="Le Monde">
          <img src="{{site.url}}/img/as-seen-in/le-monde-fr.png" alt="Le Monde" class="img-responsive center-block" />
        </a>
      </div>
      <div class="col-xs-12 col-sm-2">
        <a href="https://www.foxbusiness.com/features/training-workers-the-netflix-way-moocs-in-the-job-industry" target="_blank" title="Fox Business">
          <img src="{{site.url}}/img/as-seen-in/fox-business.png" alt="Fox Business" class="img-responsive center-block" />
        </a>
      </div>
    </div>
  </div>
</section>
