
<header class="header-tab text-center">
  <h1>How Gymnasium Works</h1>
</header>

<section class="row how-gymnasium-works">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h2>Free Online Courses</h2>
    <p>
      Our courses are taught by industry experts. You can enroll anytime, anywhere.
    </p>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <h2>New Skills</h2>
    <p>
      You can share your achievement with your network when you pass a final exam.
    </p>
    <br /><br />
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <h2>Career Opportunities</h2>
    <p>
      We get you jobs through Aquent, one of the largest staffing agencies in the world.
    </p>
  </div>
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h2>Lifelong Learning</h2>
    <p>
      We produce articles, tutorials, and webinars with trailblazers in the web community.
    </p>
  </div>  
</section>
