---
---

#hero-dfg-2020 {
  background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-heart-720w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
}

.hero-promo header h1::after {
  background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-heart-720w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
}

@media (min-width: 48em) {

  #hero-dfg-2020 {
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-heart-1440w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
  }

}

@media
(min-width: 76em),
(min-width: 76em) and
(min-resolution: 200dpi),
(min-width: 76em) and
(min-resolution: 1.25dppx) {

  #hero-dfg-2020 {
    background-image: url("{{ site.url }}{{ site.baseurl }}/home/img/hero-dfg-2020/designing-for-good-2020-hero-heart-2000w.jpg"), linear-gradient(150deg, #825a43, #474a5e);
  }

}
